<div class="toolbox">
  <div class="toolbox-body">
    <div class="toolbox-item">
      <div (click)="changeTheme()" [title]="darkMode ? '深色模式: 开启' : '深色模式: 关闭'">
        <i class="icon" [class.icon-sun-fill]="!darkMode" [class.icon-moon-fill]="darkMode"></i>
      </div>
    </div>
    <div class="toolbox-item">
      <div (click)="openWallpaper()" title="精美壁纸"><i class="icon icon-images"></i></div>
    </div>
    <div class="toolbox-item toolbox-item-wechat">
      <div (click)="showWechatCard()" title="微信公众号：黑匣子思维"><i class="icon icon-wechat"></i></div>
    </div>
    <div class="toolbox-item toolbox-item-rss">
      <a [href]="appInfo?.appUrl + '/rss.xml'" (click)="logRSS()"
         target="_blank" title="RSS 订阅"><i class="icon icon-rss-fill"></i></a>
    </div>
  </div>
</div>
<i-wallpaper-box [(visible)]="wallpaperVisible"></i-wallpaper-box>
