<div class="toolbox">
  <div class="toolbox-body">
    <div class="toolbox-item">
      <a href="javascript:"
         (click)="changeTheme()"
         [title]="darkMode ? '深色模式: 开启' : '深色模式: 关闭'"><i class='icon'
                                         [class.icon-sun-fill]="!darkMode"
                                         [class.icon-moon-fill]="darkMode"></i></a>
    </div>
    <div class="toolbox-item">
      <a href="javascript:" (click)="openWallpaper()" title="精美壁纸"><i class='icon icon-images'></i></a>
    </div>
    <div class="toolbox-item toolbox-rss">
      <a [href]="options['site_url'] + '/rss.xml'" target="_blank" title="RSS 订阅"><i class='icon icon-rss-fill'></i></a>
    </div>
  </div>
</div>
<i-wallpaper-box [(visible)]="wallpaperVisible"></i-wallpaper-box>
