<div class="carousel-container" (mouseover)="stop()" (mouseout)="start()">
  <div class="carousel"
       [ngStyle]="{'width': (100 * carousels.length) + '%', 'transform': 'translateX(-' + (100 / carousels.length) * activeIndex + '%)'}">
    <div class="carousel-slide" *ngFor="let carousel of carousels" [ngStyle]="{'width': (100 / carousels.length) + '%'}">
      <img *ngIf="!carousel.link" [src]="carousel.fullUrl" [alt]="carousel.title"/>
      <a *ngIf="carousel.link" [href]="carousel.link" [target]="carousel.target">
        <img [src]="carousel.fullUrl" [alt]="carousel.title"/>
      </a>
    </div>
  </div>
  <div class="indicator">
    <div class="caption">
      <span [title]="carousels[activeIndex]?.caption">{{carousels[activeIndex]?.caption}}</span>
    </div>
    <ul class="dots">
      <li *ngFor="let carousel of carousels; let i = index"
          [ngClass]="{'active': activeIndex === i, 'revert': isRevert}"
          (click)="switchBanner(i)">
        <div class="before"></div>
        <div class="after"></div>
      </li>
    </ul>
  </div>
</div>
