<div class="carousel-container" (mouseover)="stop()" (mouseout)="start()">
  <div class="carousel"
       [ngStyle]="{'width': (100 * imgList.length) + '%', 'transform': 'translateX(-' + (100 / imgList.length) * activeIndex + '%)'}">
    <div class="carousel-slide" *ngFor="let img of imgList" [ngStyle]="{'width': (100 / imgList.length) + '%'}">
      <img [src]="img.url" [alt]="img.title"/>
    </div>
  </div>
  <div class="indicator">
    <ul class="dots">
      <li *ngFor="let img of imgList; let i = index"
          [ngClass]="{'active': activeIndex === i, 'revert': isRevert}"
          (click)="switchBanner(i)">
        <div class="before"></div>
        <div class="after"></div>
      </li>
    </ul>
  </div>
</div>
