<div class="carousel-container"
     [class.carousel-desktop]="!isMobile"
     [class.carousel-mobile]="isMobile"
     (mouseover)="stop()" (mouseout)="start()">
  <div class="carousel"
       [style.width]="(100 * carousels.length) + '%'"
       [style.transform]="'translateX(-' + (100 / carousels.length) * activeIndex + '%)'">
    <div class="carousel-slide"
         *ngFor="let carousel of carousels; let i = index"
         [ngStyle]="{'width': (100 / carousels.length) + '%'}">
      <ng-container *ngIf="!isMobile">
        <ng-container *ngIf="i < 2">
          <div class="carousel-img" *ngIf="!carousel.link"
               [title]="carousel.caption"
               [style.background-image]="'url(' + carousel.fullUrl + ')'"></div>
          <a class="carousel-link" *ngIf="carousel.link"
             [href]="carousel.link" [title]="carousel.caption" [target]="carousel.target">
            <div class="carousel-img" [style.background-image]="'url(' + carousel.fullUrl + ')'"></div>
          </a>
        </ng-container>
        <ng-container *ngIf="i > 1">
          <div class="carousel-img lazyload" *ngIf="!carousel.link"
               [title]="carousel.caption"
               [attr.data-bg]="carousel.fullUrl"></div>
          <a class="carousel-link" *ngIf="carousel.link"
             [href]="carousel.link" [title]="carousel.caption" [target]="carousel.target">
            <div class="carousel-img lazyload" [attr.data-bg]="carousel.fullUrl"></div>
          </a>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="isMobile">
        <ng-container *ngIf="i < 2">
          <img *ngIf="!carousel.link" [src]="carousel.fullUrl" [alt]="carousel.caption"/>
          <a class="carousel-link" *ngIf="carousel.link"
             [href]="carousel.link" [title]="carousel.caption" [target]="carousel.target">
            <img [src]="carousel.fullUrl" [alt]="carousel.caption"/>
          </a>
        </ng-container>
        <ng-container *ngIf="i > 1">
          <img class="lazyload" *ngIf="!carousel.link"
               [attr.src]="blankImage"
               [attr.data-src]="carousel.fullUrl"
               [alt]="carousel.caption"/>
          <a class="carousel-link" *ngIf="carousel.link"
             [href]="carousel.link" [title]="carousel.caption" [target]="carousel.target">
            <img class="lazyload"
                 [attr.src]="blankImage"
                 [attr.data-src]="carousel.fullUrl"
                 [alt]="carousel.caption"/>
          </a>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <div class="indicator">
    <div class="caption">
      <span *ngIf="!carousels[activeIndex]?.link"
            [title]="carousels[activeIndex]?.title">{{carousels[activeIndex]?.title}}</span>
      <a *ngIf="carousels[activeIndex]?.link"
         [href]="carousels[activeIndex]?.link"
         [title]="carousels[activeIndex]?.title">{{carousels[activeIndex]?.title}}</a>
    </div>
    <ul class="dots">
      <li *ngFor="let carousel of carousels; let i = index"
          [ngClass]="{'active': activeIndex === i, 'revert': isRevert && activeIndex === i}"
          (click)="switchBanner(i)">
        <div class="before"></div>
        <div class="after"></div>
      </li>
    </ul>
  </div>
</div>
