<div class="breadcrumb"
     *ngIf="breadcrumbs && breadcrumbs.length > 0"
     [class.m-breadcrumb]="isMobile"
     [class.p-breadcrumb]="!isMobile">
  <nz-icon nzType="environment" />
  <ng-container *ngFor="let breadcrumb of breadcrumbs">
    @if (breadcrumb.url !== '') {
      @if (!breadcrumb.isHeader) {
        <a [routerLink]="breadcrumb.url"
           [queryParams]="breadcrumb.param"
           [title]="breadcrumb.tooltip">{{ breadcrumb.label }}</a>
      } @else {
        <h3><a [routerLink]="breadcrumb.url"
               [queryParams]="breadcrumb.param"
               [title]="breadcrumb.tooltip">{{ breadcrumb.label }}</a></h3>
      }
    } @else {
      @if (!breadcrumb.isHeader) {
        <span [title]="breadcrumb.tooltip">{{ breadcrumb.label }}</span>
      } @else {
        <h3 [title]="breadcrumb.tooltip">{{ breadcrumb.label }}</h3>
      }
    }
  </ng-container>
</div>
