@import "../../../styles/variables";

.breadcrumb {
  line-height: 40px;
  border-radius: @border-radius;
  background-color: @content-background-color;
  box-shadow: @content-box-shadow;

  &-desktop {
    display: flex;
    margin: @box-shadow-width @box-shadow-width @primary-margin;
    padding: 0 @content-margin;

    > * {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    :not(:last-child) {
      flex-shrink: 0;
    }
  }

  &-mobile {
    margin-bottom: @m-primary-margin;
    padding: 0 @m-primary-margin;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .separator {
    margin: 0 8px;
  }

  a:hover {
    text-decoration: underline;
  }

  h3 {
    display: inline-block;
    font-size: @primary-font-size;
    font-weight: normal;
  }
}
