@import "../../../styles/variables";

.breadcrumb {
  display: flex;
  line-height: 40px;
  border-radius: @border-radius;
  background-color: var(--content-background-color);
  box-shadow: var(--content-box-shadow);

  &-desktop {
    margin: @box-shadow-width @box-shadow-width @primary-margin;
    padding: 0 @content-margin;
  }

  &-mobile {
    margin-bottom: @m-primary-margin;
    padding: 0 @m-primary-margin;
  }

  > * {
    display: inline-flex;
    overflow: hidden;
    white-space: nowrap;
  }

  :not(:last-child) {
    flex-shrink: 0;
  }

  a, span {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .separator {
    margin: 0 8px;
  }

  a:hover {
    text-decoration: underline;
  }

  h3 {
    font-size: @primary-font-size;
    font-weight: normal;
  }
}
