<div class="m-crumb-wrap m-content-box">
  <div class="m-crumb">
    <span>当前位置：</span>
    <span>
      <ng-container *ngFor="let crumb of crumbs; let i = index">
        <ng-container *ngIf="i > 0"><span [innerHTML]="separator"></span></ng-container>
        <a *ngIf="crumb.url !== '' && !crumb.headerFlag" title="{{crumb.tooltip}}" href="{{crumb.url}}">{{crumb.label}}</a>
        <h3 *ngIf="crumb.url !== '' && crumb.headerFlag"><a title="{{crumb.tooltip}}" href="{{crumb.url}}">{{crumb.label}}</a></h3>
        <span *ngIf="crumb.url === ''" title="{{crumb.tooltip}}">{{crumb.label}}</span>
      </ng-container>
    </span>
  </div>
</div>
