<div *ngIf="wallpapers && wallpapers.length > 0"
     class="post-list"
     [class.post-list-desktop]="!isMobile"
     [class.post-list-mobile]="isMobile">
  <article *ngFor="let wallpaper of wallpapers"
           class="post-item"
           [class.post-item-desktop]="!isMobile"
           [class.post-item-mobile]="isMobile">
    <i-wallpaper-item [wallpaper]="wallpaper"></i-wallpaper-item>
  </article>
</div>
<div *ngIf="wallpapers.length < 1"
     class="empty-wrap" [class.empty-wrap-desktop]="!isMobile" [class.empty-wrap-mobile]="isMobile">
  <i-empty [showBorder]="false" [showShadow]="true"></i-empty>
</div>
