@import "../../../../styles/variables";

.wallpaper {
  .wallpaper-box {
    position: relative;
    cursor: zoom-in;

    &, img {
      border-radius: @border-radius * 2;
    }
  }

  .wallpaper-overlay {
    position: absolute;
    inset: 0;
  }

  .wallpaper-actions {
    display: flex;
    justify-content: center;
    margin-top: 12px;

    a:hover {
      text-decoration: none;
    }

    .button {
      &:not(:last-child) {
        margin-right: 8px;
      }
    }

    .icon {
      margin-right: 4px;
    }
  }
}
