@import "../../../../styles/variables";

.wallpaper {
  margin-bottom: @primary-margin;

  .wallpaper-box {
    position: relative;
    cursor: zoom-in;

    &, img {
      border-radius: (@primary-border-radius / 2);
    }
  }

  .wallpaper-overlay {
    position: absolute;
    inset: 0;
  }

  .wallpaper-actions {
    display: flex;
    justify-content: center;
    margin-top: @primary-margin;
    margin-bottom: @primary-margin;

    a:hover {
      text-decoration: none;
    }

    .button {
      &:not(:last-child) {
        margin-right: 8px;
      }
    }

    .icon {
      margin-right: 4px;
    }
  }
}
