<app-breadcrumb></app-breadcrumb>
<div class="post" [ngClass]="{'post-desktop': !isMobile, 'post-mobile': isMobile}">
  <header class="post-header">
    <h1 class="post-title">
      <a routerLink="." [queryParams]="getLangParams()"
         title="{{wallpaper?.wallpaperCopyright}}" rel="bookmark">{{wallpaper?.wallpaperCopyright}}</a>
    </h1>
    <div class="post-meta post-meta-top">
      <span title="日期: {{wallpaper?.wallpaperDate}}">
        <i class="icon icon-calendar"></i><span>{{wallpaper?.wallpaperDate}}</span>
      </span>
      <span title="访问：{{wallpaper?.wallpaperViews | numberView}}">
        <i class="icon icon-eye"></i><span>{{wallpaper?.wallpaperViews | numberView}}</span>
      </span>
    </div>
  </header>
  <div class="divider"></div>
  <div class="post-content wallpaper">
    <figure>
      <div class="wallpaper-box" (click)="showWallpaper()">
        <img *ngIf="wallpaper?.wallpaperUrl" [src]="wallpaper?.wallpaperUrl" [alt]="wallpaper?.wallpaperCopyright"/>
        <div class="wallpaper-overlay"></div>
      </div>
      <figcaption>{{wallpaper?.wallpaperTitle}}</figcaption>
    </figure>
    <div class="wallpaper-actions">
      <a class="button button-submit" (click)="showWallpaper()" title="全屏查看壁纸">
        <i class="icon icon-zoom-in"></i><span>查看大图</span>
      </a>
      <a class="button button-submit" (click)="download()" title="下载高清壁纸">
        <i class="icon icon-cloud-download"></i><span>1920x1080</span>
      </a>
      <a class="button button-submit" *ngIf="!isMobile" (click)="download(true)" title="下载 4k 超高清壁纸">
        <i class="icon icon-cloud-download"></i><span>4K 超高清</span>
      </a>
    </div>
    <h2>{{wallpaper?.wallpaperStoryTitle}}</h2>
    <article [innerHTML]="wallpaper?.wallpaperStory | safeHtml"></article>
    <p *ngIf="wallpaper?.hasTranslation">
      <a routerLink="." [queryParams]="getTranslateLangParams()" (click)="logTranslate()"
         title="查看翻译" rel="bookmark">查看翻译</a>
    </p>
  </div>
  <ng-container *ngIf="options['show_wechat_mini'] === '1'">
    <div class="divider"></div>
    <div class="wechat-card">
      <img class="card" [src]="miniAppCardPath" (click)="showMiniAppCard()" alt="小程序：壁纸之旅"/>
    </div>
  </ng-container>
  <footer class="post-footer">
    <div>
      <div class="post-meta">
        <div class="post-meta-icon"><i class="icon icon-geo-alt"></i></div>
        <div class="post-meta-info">
          <span class="post-meta-info-text"
                title="地点: {{wallpaper?.wallpaperLocation}}">{{wallpaper?.wallpaperLocation}}</span>
        </div>
      </div>
    </div>
    <div class="post-meta">
      <div class="post-meta-icon"><i class="icon icon-copyright"></i></div>
      <div class="post-meta-info">
          <span class="post-meta-info-text"
                title="版权: {{wallpaper?.wallpaperCopyrightAuthor}}">{{wallpaper?.wallpaperCopyrightAuthor}}</span>
      </div>
    </div>
    <div class="post-actions">
      <div>
        <button class="button-like"
                [ngClass]="{liked: wallpaper?.wallpaperVoted, loading: voteLoading}" (click)="voteWallpaper()">
          <i class="icon icon-like-fill"></i>
          <span class="text">真棒！{{wallpaper && wallpaper.wallpaperLikes > 0 ? wallpaper.wallpaperLikes : ''}}</span>
          <span class="parkinson-mask" *ngIf="!voteLoading"><i class="icon icon-like-fill"></i></span>
          <span class="loading-mask" *ngIf="voteLoading"><i class="icon icon-loading"></i></span>
        </button>
        <button (click)="showReward()" title="打赏">
          <i class="icon icon-heart-fill"></i>
        </button>
        <button [ngClass]="{liked: isFavorite}"
                (click)="addFavorite()"
                [title]="isFavorite ? '已收藏' : '添加收藏'">
          <i class="icon icon-star-fill" *ngIf="!favoriteLoading"></i>
          <i class="icon icon-loading" *ngIf="favoriteLoading"></i>
        </button>
        <button *ngIf="!isMobile" (click)="showShareQrcode()" title="分享">
          <i class="icon icon-share-fill"></i>
        </button>
      </div>
    </div>
  </footer>
  <div class="post-more">
    <div class="post-more-prev" *ngIf="prevWallpaper">
      <div class="post-more-photo">
        <div class="post-more-photo-content"
             [style.background-image]="'url(' + (prevWallpaper?.wallpaperThumbUrl || '') + ')'"></div>
        <div class="post-more-photo-overlay"></div>
      </div>
      <div class="post-more-content">
        <div class="post-more-content-title">{{prevWallpaper.wallpaperCopyright}}</div>
        <div>上一篇</div>
      </div>
      <a class="post-more-link"
         [routerLink]="['../' + prevWallpaper.wallpaperId]"
         [queryParams]="getLangParams()"
         [title]="prevWallpaper.wallpaperCopyright"></a>
    </div>
    <div *ngIf="!prevWallpaper"></div>
    <div class="post-more-next" *ngIf="nextWallpaper">
      <div class="post-more-photo">
        <div class="post-more-photo-content"
             [style.background-image]="'url(' + (nextWallpaper?.wallpaperThumbUrl || '') + ')'"></div>
        <div class="post-more-photo-overlay"></div>
      </div>
      <div class="post-more-content">
        <div class="post-more-content-title">{{nextWallpaper.wallpaperCopyright}}</div>
        <div>下一篇</div>
      </div>
      <a class="post-more-link"
         [routerLink]="['../' + nextWallpaper.wallpaperId]"
         [queryParams]="getLangParams()"
         [title]="nextWallpaper.wallpaperCopyright"></a>
    </div>
    <div *ngIf="!nextWallpaper"></div>
  </div>
</div>
<i-make-money></i-make-money>
<ng-container *ngIf="options['wallpaper_comment_flag'] !== 'close'">
  <i-comment [objectType]="commentObjectType"></i-comment>
</ng-container>
