<app-breadcrumb></app-breadcrumb>
<div class="post" [ngClass]="{'post-desktop': !isMobile, 'post-mobile': isMobile}">
  <header class="post-header">
    <h1 class="post-title">
      <a routerLink="." title="{{wallpaper?.title}}" rel="bookmark">{{wallpaper?.title}}</a>
    </h1>
    <div class="post-meta post-meta-top">
      <span title="日期: {{wallpaper?.date}}">
        <i class='icon icon-calendar'></i><span>{{wallpaper?.date}}</span>
      </span>
      <span title="访问：{{wallpaper?.views | numberView}}">
        <i class='icon icon-eye'></i><span>{{wallpaper?.views | numberView}} 次访问</span>
      </span>
    </div>
  </header>
  <div class="divider"></div>
  <div class="post-content">
    <div class="wallpaper">
      <figure>
        <div class="wallpaper-box" (click)="showWallpaper()">
          <img [src]="wallpaper?.fullUrl" [alt]="wallpaper?.title"/>
          <div class="wallpaper-overlay"></div>
        </div>
        <figcaption>{{wallpaper?.copyright}}({{wallpaper?.copyrightAuthor}})</figcaption>
      </figure>
      <div class="wallpaper-actions">
        <a class="button button-submit" (click)="showWallpaper()" title="查看大图">
          <i class="icon icon-zoom-in"></i><span>查看大图</span>
        </a>
        <a class="button button-submit" (click)="download()" title="下载高清壁纸">
          <i class="icon icon-cloud-download"></i><span>1920x1080</span>
        </a>
        <a class="button button-submit" *ngIf="!isMobile" (click)="download(true)" title="下载 4k 超高清壁纸">
          <i class="icon icon-cloud-download"></i><span>4K 超高清</span>
        </a>
      </div>
    </div>
    <article [innerHTML]="(wallpaper?.story || '') | safeHtml"></article>
  </div>
  <footer class="post-footer">
    <div class="post-actions">
      <div>
        <button class="button-like" [ngClass]="{liked: wallpaper?.liked, loading: voteLoading}" (click)="voteWallpaper()">
          <i class='icon icon-like-fill'></i>
          <span class="text">真棒！{{wallpaper && wallpaper.likes > 0 ? wallpaper.likes : ''}}</span>
          <span class="parkinson-mask" *ngIf="!voteLoading"><i class='icon icon-like-fill'></i></span>
          <span class="loading-mask" *ngIf="voteLoading"><i class='icon icon-loading'></i></span>
        </button>
        <button (click)="showReward('/assets/images/reward.jpg')">
          <i class='icon icon-heart-fill'></i>
        </button>
        <button *ngIf="!isMobile" (click)="showShareQrcode()">
          <i class='icon icon-share-fill'></i>
        </button>
      </div>
    </div>
    <div class="post-more">
      <div class="post-more-prev" *ngIf="prevWallpaper">
        <div class="post-more-photo">
          <div class="post-more-photo-content"
               [style.background-image]="'url(' + (prevWallpaper?.fullUrl || '') + ')'"></div>
          <div class="post-more-photo-overlay"></div>
        </div>
        <div class="post-more-content">
          <div class="post-more-content-title">{{prevWallpaper.title}}</div>
          <div>上一篇</div>
        </div>
        <a class="post-more-link"
           [routerLink]="['../' + prevWallpaper.wallpaperId]"
           [queryParams]="getLangParams()"
           [title]="prevWallpaper.title"></a>
      </div>
      <div *ngIf="!prevWallpaper"></div>
      <div class="post-more-next" *ngIf="nextWallpaper">
        <div class="post-more-photo">
          <div class="post-more-photo-content"
               [style.background-image]="'url(' + (nextWallpaper?.fullUrl || '') + ')'"></div>
          <div class="post-more-photo-overlay"></div>
        </div>
        <div class="post-more-content">
          <div class="post-more-content-title">{{nextWallpaper.title}}</div>
          <div>下一篇</div>
        </div>
        <a class="post-more-link"
           [routerLink]="['../' + nextWallpaper.wallpaperId]"
           [queryParams]="getLangParams()"
           [title]="nextWallpaper.title"></a>
      </div>
      <div *ngIf="!nextWallpaper"></div>
    </div>
  </footer>
</div>
<ng-container *ngIf="options['wallpaper_comment_flag'] !== 'close'">
  <i-comment [objectType]="commentObjectType"></i-comment>
</ng-container>
