<div class="wallpaper" [class.wallpaper-desktop]="!isMobile" [class.wallpaper-mobile]="isMobile">
  <div class="photo" [style.background-image]="'url(' + (wallpaper?.fullUrl || '') + ')'"></div>
  <div class="actions">
    <div class="return">
      <div class="action-item action-text" *ngIf="!isMobile">
        <a routerLink="../" title="返回壁纸列表"><i class="icon icon-left"></i><span>返回</span></a>
      </div>
    </div>
    <div class="actions-list">
      <div class="action-item action-like"
           title="喜欢：{{wallpaper?.likes}}"
           [class.disabled]="wallpaper?.liked || voteLoading"
           (click)="voteWallpaper()">
        <div>
          <i class="icon icon-heart"
             [class.icon-heart]="!wallpaper?.liked"
             [class.icon-heart-fill]="wallpaper?.liked"
             [class.icon-loading]="voteLoading"></i><span>{{wallpaper?.likes}}</span>
        </div>
      </div>
      <div class="action-item action-text">
        <div title="访问：{{wallpaper?.views | numberView}}">
          <i class="icon icon-eye"></i><span>{{wallpaper?.views | numberView}}</span>
        </div>
      </div>
      <div class="action-item action-download" (click)="download()">
        <div title="下载高清壁纸"><i class="icon icon-cloud-download"></i><span>1920x1080</span></div>
      </div>
      <div class="action-item action-download-4k" *ngIf="!isMobile" (click)="download(true)">
        <div title="下载 4k 超高清壁纸"><i class="icon icon-cloud-download"></i><span>4K 超高清</span></div>
      </div>
      <div class="action-item action-login" *ngIf="!isLoggedIn && !isMobile">
        <a routerLink="/user/login"
           [queryParams]="{ref: '/wallpaper/' + wallpaper?.wallpaperId + '?lang=' + lang}"
           title="登录"><i class="icon icon-login"></i><span>登录</span></a>
      </div>
    </div>
  </div>
  <div class="content">
    <h2 class="title" [title]="wallpaper?.title">
      <span>{{wallpaper?.title}}</span>
      <a [href]="wallpaper?.fullCopyrightUrl"
         [title]="wallpaper?.title"
         target="_blank"><i class='icon icon-link-45deg'></i></a>
    </h2>
    <div class="description">{{wallpaper?.copyright}} ({{wallpaper?.copyrightAuthor}})</div>
  </div>
</div>
