<form nz-form nzLayout="vertical" class="auth-form" [class.auth-form-padding]="padding()" [formGroup]="signinForm">
  <nz-form-item>
    <nz-form-label>用户名或邮箱</nz-form-label>
    <nz-form-control [nzErrorTip]="nameErrorTpl">
      <input nz-input type="text" formControlName="name" [maxlength]="maxNameLength" placeholder="用户名或邮箱地址"/>
      <ng-template #nameErrorTpl let-control>
        @if (control.hasError('required')) {
          请输入用户名或邮箱
        }
        @if (control.hasError('maxlength')) {
          用户名或邮箱最大长度为 {{ maxNameLength }} 位
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>密码</nz-form-label>
    <nz-form-control [nzErrorTip]="confirmErrorTpl">
      <nz-input-password>
        <input nz-input
               formControlName="password"
               [maxlength]="maxPasswordLength"
               autocomplete="off"
               placeholder="用户密码"/>
      </nz-input-password>
      <ng-template #confirmErrorTpl let-control>
        @if (control.hasError('required')) {
          请输入密码
        }
        @if (control.hasError('maxlength')) {
          密码最大长度为 {{ maxPasswordLength }} 位
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <div class="auth-actions">
      <div>
        @if (isSignupEnable()) {
          <span class="auth-action">
            <lib-a class="auth-link"
                   [href]="domains['www'].url + '/user/signup'"
                   title="立即注册"><nz-icon nzType="user-add"/>立即注册</lib-a>
          </span>
        }
        <span class="auth-action">
          <lib-a class="auth-link"
                 [href]="domains['www'].url + '/user/forgot'"
                 title="忘记密码"><nz-icon nzType="key"/>忘记密码</lib-a>
        </span>
      </div>
      <button nz-button type="submit" nzType="primary" (click)="signin()" [nzLoading]="signinLoading()">登录</button>
    </div>
  </nz-form-item>
  @if (isOauthEnable()) {
    @let o = oauthMap();
    <nz-divider class="separator" nzText="其他登录方式"/>
    <div class="auth-type">
      <nz-icon nzType="wechat"
               class="auth-type-wechat"
               [class.disabled]="!o[4]"
               (click)="oauthSignin(4)"/>
      <nz-icon nzType="qq"
               class="auth-type-qq"
               [class.disabled]="!o[5]"
               (click)="oauthSignin(5)"/>
      <nz-icon nzType="alipay"
               class="auth-type-alipay"
               [class.disabled]="!o[2]"
               (click)="oauthSignin(2)"/>
      <nz-icon nzType="weibo"
               class="auth-type-weibo"
               [class.disabled]="!o[6]"
               (click)="oauthSignin(6)"/>
      <nz-icon nzType="github"
               class="auth-type-github"
               [class.disabled]="!o[7]"
               (click)="oauthSignin(7)"/>
    </div>
  }
</form>
