<div class="post-more" [class.p-post-more]="!isMobile" [class.m-post-more]="isMobile">
  @if(prevGame) {
    <div class="post-more-prev">
      <div class="post-more-photo">
        @if (!isChanged) {
          <div class="post-more-photo-content lazyload"
               [class.full-img]="!prevGame.coverUrl"
               [attr.data-bg]="prevGame.coverUrl || emptyCover"></div>
        } @else {
          <div class="post-more-photo-content"
               [class.full-img]="!prevGame.coverUrl"
               [style.background-image]="'url(' + (prevGame.coverUrl || emptyCover) + ')'"></div>
        }
        <div class="post-more-photo-overlay"></div>
      </div>
      <div class="post-more-content">
        <div class="post-more-content-title">{{ prevGame.title }}</div>
        <div>上一篇</div>
      </div>
      <a class="post-more-link" [routerLink]="['/detail', prevGame.id]" [title]="prevGame.title"></a>
    </div>
  } @else {
    <div></div>
  }
  @if(nextGame) {
    <div class="post-more-next">
      <div class="post-more-photo">
        @if (!isChanged) {
          <div class="post-more-photo-content lazyload"
               [class.full-img]="!nextGame.coverUrl"
               [attr.data-bg]="nextGame.coverUrl || emptyCover"></div>
        } @else {
          <div class="post-more-photo-content"
               [class.full-img]="!nextGame.coverUrl"
               [style.background-image]="'url(' + (nextGame.coverUrl || emptyCover) + ')'"></div>
        }
        <div class="post-more-photo-overlay"></div>
      </div>
      <div class="post-more-content">
        <div class="post-more-content-title">{{ nextGame.title }}</div>
        <div>下一篇</div>
      </div>
      <a class="post-more-link" [routerLink]="['/detail', nextGame.id]" [title]="nextGame.title"></a>
    </div>
  } @else {
    <div></div>
  }
</div>
