@let prev = prevGame();
@let next = nextGame();
<div class="post-more" [class.p-post-more]="!isMobile" [class.m-post-more]="isMobile">
  @if(prev) {
    <div class="post-more-prev">
      <div class="post-more-photo">
        @if (!isChanged()) {
          <div class="post-more-photo-content lazyload"
               [class.full-img]="!prev.coverUrl"
               [attr.data-bg]="prev.coverUrl || emptyCover"></div>
        } @else {
          <div class="post-more-photo-content"
               [class.full-img]="!prev.coverUrl"
               [style.background-image]="'url(' + (prev.coverUrl || emptyCover) + ')'"></div>
        }
        <div class="post-more-photo-overlay"></div>
      </div>
      <div class="post-more-content">
        <div class="post-more-content-title">{{ prev.title }}</div>
        <div>上一篇</div>
      </div>
      <a class="post-more-link" [routerLink]="['/detail', prev.id]" [title]="prev.title"></a>
    </div>
  } @else {
    <div></div>
  }
  @if(next) {
    <div class="post-more-next">
      <div class="post-more-photo">
        @if (!isChanged()) {
          <div class="post-more-photo-content lazyload"
               [class.full-img]="!next.coverUrl"
               [attr.data-bg]="next.coverUrl || emptyCover"></div>
        } @else {
          <div class="post-more-photo-content"
               [class.full-img]="!next.coverUrl"
               [style.background-image]="'url(' + (next.coverUrl || emptyCover) + ')'"></div>
        }
        <div class="post-more-photo-overlay"></div>
      </div>
      <div class="post-more-content">
        <div class="post-more-content-title">{{ next.title }}</div>
        <div>下一篇</div>
      </div>
      <a class="post-more-link" [routerLink]="['/detail', next.id]" [title]="next.title"></a>
    </div>
  } @else {
    <div></div>
  }
</div>
