<aside class="sider" #siderEle>
  <div>
    <div class="widget" *ngIf="indexInfo?.isArticle && bookPosts && bookPosts.length > 0">
      <h3 class="widget-title">
        <span><nz-icon nzType="bars" /><span>目录</span></span>
        <span class="more">
          <a routerLink="/post"
             [queryParams]="{ bookId: activeBook?.bookId }"
             [title]="bookName + '文章'">
            <span>更多</span><nz-icon nzType="double-right" />
          </a>
        </span>
      </h3>
      <ul>
        <li *ngFor="let post of bookPosts">
          <a [routerLink]="post.postGuid" [title]="post.postTitle">{{ post.postTitle }}</a>
        </li>
      </ul>
    </div>
    <div class="widget" *ngIf="hotPosts && hotPosts.length > 0">
      <h3 class="widget-title"><span><nz-icon nzType="fire" /><span>热门文章</span></span></h3>
      <ul class="hot-list">
        <li *ngFor="let post of hotPosts; let i = index">
          <span class="hot-num">{{ i + 1 }}</span>
          <a [routerLink]="post.postGuid" [title]="post.postTitle">{{ post.postTitle }}</a>
        </li>
      </ul>
    </div>
    <div class="widget" *ngIf="hotWallpapers && hotWallpapers.length > 0">
      <h3 class="widget-title"><span><nz-icon nzType="fire" /><span>热门壁纸</span></span></h3>
      <ul class="hot-list">
        <li *ngFor="let wallpaper of hotWallpapers; let i = index">
          <span class="hot-num">{{ i + 1 }}</span>
          <a [routerLink]="'/wallpaper/' + wallpaper.wallpaperId"
             [queryParams]="getWallpaperLangParams(wallpaper.isCn)"
             [title]="wallpaper.wallpaperCopyright">{{ wallpaper.wallpaperCopyright }}</a>
        </li>
      </ul>
    </div>
    <div class="widget" *ngIf="recentGames && recentGames.length > 0">
      <h3 class="widget-title"><span><nz-icon nzType="history" /><span>最近游戏</span></span></h3>
      <ul>
        <li *ngFor="let game of recentGames">
          <a [routerLink]="'/game/' + game.gameId" [title]="game.gameTitle">{{ game.gameTitle }}</a>
        </li>
      </ul>
    </div>
    <div class="widget" *ngIf="hotGames && hotGames.length > 0">
      <h3 class="widget-title"><span><nz-icon nzType="fire" /><span>热门游戏</span></span></h3>
      <ul class="hot-list">
        <li *ngFor="let game of hotGames; let i = index">
          <span class="hot-num">{{ i + 1 }}</span>
          <a [routerLink]="'/game/' + game.gameId" [title]="game.gameTitle">{{ game.gameTitle }}</a>
        </li>
      </ul>
    </div>
    <div class="widget-ads" *ngIf="adsVisible">
      <app-adsense [class.ads-sider-wrap]="adsPlaceholder"
                   wrapClass="ads-sider"
                   optionKey="adsense_config_sider"
                   [placeholder]="adsPlaceholder"
                   text="虚位以待"></app-adsense>
    </div>
    <div class="widget" *ngIf="postArchives && postArchives.length > 0">
      <h3 class="widget-title">
        <span><span class="fi fi-calendar-date"></span><span>文章归档</span></span>
        <span class="more">
          <a routerLink="/post/archive"
             title="文章归档"><span>更多</span><nz-icon nzType="double-right" /></a>
        </span>
      </h3>
      <ul>
        <li *ngFor="let item of postArchives">
          <a [routerLink]="'/post/archive/' + item.dateValue"
             [title]="item.dateLabel">{{ item.dateLabel }}({{ item.count }})</a>
        </li>
      </ul>
    </div>
    <div class="widget" *ngIf="wallpaperArchives && wallpaperArchives.length > 0">
      <h3 class="widget-title">
        <span><span class="fi fi-calendar-date"></span><span>壁纸归档</span></span>
        <span class="more">
          <a routerLink="/wallpaper/archive"
             title="壁纸归档"><span>更多</span><nz-icon nzType="double-right" /></a>
        </span>
      </h3>
      <ul>
        <li *ngFor="let item of wallpaperArchives">
          <a [routerLink]="'/wallpaper/archive/' + item.dateValue"
             [title]="item.dateLabel">{{ item.dateLabel }}({{ item.count }})</a>
        </li>
      </ul>
    </div>
    <!--非壁纸页-->
    <div class="widget" *ngIf="randomPosts && randomPosts.length > 0">
      <h3 class="widget-title"><span><nz-icon nzType="gift" /><span>手气不错</span></span></h3>
      <ul>
        <li *ngFor="let post of randomPosts">
          <a [routerLink]="post.postGuid" [title]="post.postTitle">{{ post.postTitle }}</a>
        </li>
      </ul>
    </div>
    <!--壁纸页-->
    <div class="widget" *ngIf="randomWallpapers && randomWallpapers.length > 0">
      <h3 class="widget-title"><span><nz-icon nzType="gift" /><span>手气不错</span></span></h3>
      <ul>
        <li *ngFor="let wallpaper of randomWallpapers">
          <a [routerLink]="'/wallpaper/' + wallpaper.wallpaperId"
             [queryParams]="getWallpaperLangParams(wallpaper.isCn)"
             [title]="wallpaper.wallpaperCopyright">{{ wallpaper.wallpaperCopyright }}</a>
        </li>
      </ul>
    </div>
    <div class="widget" *ngIf="randomGames && randomGames.length > 0">
      <h3 class="widget-title"><span><nz-icon nzType="gift" /><span>手气不错</span></span></h3>
      <ul>
        <li *ngFor="let game of randomGames">
          <a [routerLink]="'/game/' + game.gameId" [title]="game.gameTitle">{{ game.gameTitle }}</a>
        </li>
      </ul>
    </div>
  </div>
</aside>
