@import "../../../styles/variables";

.search {
  margin-bottom: @primary-margin;
}

.widget, .ads-widget {
  margin-top: @primary-margin;
  border: 1px solid transparent;
  border-radius: @border-radius;
  background-color: var(--content-background-color);
  box-shadow: var(--content-box-shadow);
}

.widget {
  @widget-padding: 12px;
  @widget-icon-width: 24px;
  padding: @widget-padding 0;

  .widget-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: @widget-padding;
    padding: 0 @widget-padding @widget-padding;
    border-bottom: 1px dashed var(--minor-border-color);
    line-height: 24px;
    font-size: @primary-font-size;
    font-weight: 600;

    .more {
      font-size: 13px;
      font-weight: normal;

      .icon {
        margin-left: 4px;
      }
    }
  }

  .red-packet {
    padding: 0 @widget-padding;
    transform: matrix3d(1, 0.09, 0, 0.0004, 0.05, 1, 0, 0.0003, 0, 0, 1, 0, 12, 12, 0, 1);
    transform-origin: 0 0 0;
  }

  .icon {
    display: inline-block;
    width: @primary-font-size;
    font-weight: normal;

    + span {
      margin-left: @widget-icon-width - @primary-font-size;
    }
  }

  > ul {
    padding: 0 @widget-padding;

    > li {
      height: 24px;
      padding: 4px 4px 4px @widget-icon-width;
      line-height: 24px;

      &:hover {
        background-color: var(--tag-background-color);
      }
    }

    > li > a {
      display: inline-block;
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: var(--base-color);

      &:hover {
        color: var(--primary-color);
      }
    }
  }

  .hot-list {
    @num-width: 16px;

    > li {
      display: flex;
      align-items: center;
      padding-left: 0;

      &:nth-child(-n+3) .hot-num {
        color: #fff;
      }

      &:nth-child(1) .hot-num {
        background-color: var(--action-color);
      }

      &:nth-child(2) .hot-num {
        background-color: rgba(76, 174, 79, .7);
      }

      &:nth-child(3) .hot-num {
        background-color: var(--primary-color);
      }
    }

    .hot-num {
      display: inline-block;
      flex-shrink: 0;
      width: @num-width;
      height: @num-width;
      margin-right: 8px;
      border-radius: 2px;
      line-height: @num-width;
      font-size: 12px;
      text-align: center;
    }
  }

  .widget-goods {
    padding: 0 20px;
  }
}
