<footer class="footer">
  <ul>
    <li><a [routerLink]="['/aboutme']" title="关于抚云">关于抚云</a></li>
    <li><a [routerLink]="['/feedback']" title="意见反馈">意见反馈</a></li>
    <li><a [routerLink]="['/contactus']" title="联系我们">联系我们</a></li>
    <li><a [routerLink]="['/copyright']" title="版权声明">版权声明</a></li>
  </ul>
  <ul>
    <li [innerHTML]="options['copyright_notice'] + '-' + curYear"></li>
  </ul>
  <ul>
    <li><a href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow">{{options['icp_code']}}</a></li>
    <li>|</li>
    <li>
      <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode={{options['record_code']}}"
         target="_blank" rel="nofollow">
        <img src="http://www.beian.gov.cn/img/new/gongan.png" alt="gongan" style="margin-top: -2px;margin-right: 2px;"/>
        <span>{{options['record_prefix']}}{{options['record_code']}}号</span>
      </a>
    </li>
  </ul>
</footer>
