@import "../../../styles/variables";

.footer {
  @footer-color: #7e7e7e;
  border-top: 1px solid @primary-border-color;
  line-height: 28px;
  text-align: center;
  font-size: @minor-font-size;
  background: #f8f8f8;
  color: @footer-color;

  &-desktop {
    margin-top: @content-margin;
    padding: 16px 0;
  }

  &-mobile {
    padding: @m-primary-margin 0;
  }

  .footer-link {
    li:not(:last-child) {
      margin-right: 12px;
    }
  }

  .footer-record {
    display: flex;
    justify-content: center;

    &-desktop {
      li:not(:last-child):after {
        content: '';
        margin: 0 12px;
        border-right: 1px solid @footer-color;
      }
    }

    &-mobile {
      flex-direction: column;
    }
  }

  ul li {
    display: inline-block;
  }

  a {
    color: @footer-color;

    &:hover {
      color: @primary-color;
    }
  }
}
