<footer *ngIf="!isMobile && showFooter || isMobile && showMobileFooter"
        class="footer" [class.footer-desktop]="!isMobile" [class.footer-mobile]="isMobile">
  <ul class="footer-link">
    <li *ngFor="let link of footerLinks">
      <a [routerLink]="link.linkUrl" title="{{link.linkDescription}}" target="{{link.linkTarget}}">{{link.linkName}}</a>
    </li>
  </ul>
  <ul>
    <li [innerHTML]="options['copyright_notice'] + '-' + curYear"></li>
  </ul>
  <ul class="footer-record" [ngClass]="{'footer-record-desktop': !isMobile, 'footer-record-mobile': isMobile}">
    <li><a href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow">{{options['icp_code']}}</a></li>
    <li>
      <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode={{options['record_code']}}"
         target="_blank" rel="nofollow">{{options['record_prefix']}}{{options['record_code']}}号</a>
    </li>
  </ul>
</footer>
