@import "../../../assets/style/variables";

.footer {
  margin-top: @content-margin;
  padding: 16px 0;
  border-top: 1px solid @primary-border-color;
  line-height: 28px;
  text-align: center;
  font-size: @minor-font-size;
  background: #f8f8f8;
  color: #7e7e7e;

  a {
    color: #7e7e7e;

    &:hover {
      color: @primary-color;
    }
  }

  ul li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 12px;
    }
  }
}
