<form nz-form nzLayout="vertical" class="auth-form auth-form-padding" [formGroup]="signupForm">
  <nz-form-item>
    <nz-form-label nzRequired>邮箱</nz-form-label>
    <nz-form-control [nzErrorTip]="nameErrorTpl">
      <input nz-input
             type="text"
             formControlName="email"
             [maxlength]="maxEmailLength"
             placeholder="邮箱地址"/>
      <ng-template #nameErrorTpl let-control>
        @if (control.hasError('required')) {
          请输入邮箱
        }
        @if (control.hasError('email')) {
          请输入有效的邮箱
        }
        @if (control.hasError('maxlength')) {
          邮箱最大长度为{{ maxEmailLength }}字符
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>密码</nz-form-label>
    <nz-form-control [nzErrorTip]="pwdErrorTpl">
      <nz-input-group [nzSuffix]="pwdSuffix">
        <input nz-input
               [type]="passwordVisible ? 'text' : 'password'"
               formControlName="password"
               [maxlength]="maxPasswordLength"
               placeholder="{{minPasswordLength}}-{{maxPasswordLength}}位密码，字母、数字、符号组合"/>
      </nz-input-group>
      <ng-template #pwdSuffix>
        <nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                 (click)="passwordVisible = !passwordVisible"/>
      </ng-template>
      <ng-template #pwdErrorTpl let-control>
        @if (control.hasError('required')) {
          请输入密码
        }
        @if (control.hasError('minlength')) {
          密码最小长度为{{ minPasswordLength }}位
        }
        @if (control.hasError('maxlength')) {
          密码最大长度为{{ maxPasswordLength }}位
        }
        @if (control.hasError('pattern')) {
          密码为{{ minPasswordLength }}-{{ maxPasswordLength }}位字母、数字、符号的组合
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <div class="auth-actions">
      <div></div>
      <button nz-button nzType="primary" (click)="signup()" [nzLoading]="signupLoading">注册</button>
    </div>
  </nz-form-item>
</form>