<lib-breadcrumb></lib-breadcrumb>
@if (total > 0) {
  <div [class.post-list]="!isMobile" [class.m-post-list]="isMobile">
    @if (searchType === 'post') {
      @for (item of postResult; track item; let i = $index) {
        <lib-post-item [post]="item" [index]="i"></lib-post-item>
      }
    } @else if (searchType === 'wallpaper') {
      @for (item of wallpaperResult; track item; let i = $index) {
        <lib-wallpaper-item [wallpaper]="item" [mode]="ListMode.LIST" [index]="i"></lib-wallpaper-item>
      }
    } @else if (searchType === 'game') {
      @for (item of gameResult; track item; let i = $index) {
        <lib-game-item [game]="item" [mode]="ListMode.LIST" [index]="i"></lib-game-item>
      }
    } @else {
      @for (item of searchResult; track item; let i = $index) {
        @if (item.type === 'post') {
          <lib-post-item [post]="$any(item.data)" [index]="i"></lib-post-item>
        } @else if (item.type === 'wallpaper') {
          <lib-wallpaper-item [wallpaper]="$any(item.data)" [mode]="ListMode.LIST" [index]="i"></lib-wallpaper-item>
        } @else {
          <lib-game-item [game]="$any(item.data)" [mode]="ListMode.LIST" [index]="i"></lib-game-item>
        }
      }
    }
  </div>
} @else {
  <div class="empty" [class.p-empty]="!isMobile" [class.m-empty]="isMobile">
    <nz-empty nzNotFoundImage="simple"></nz-empty>
  </div>
}
<lib-make-money></lib-make-money>
<lib-pagination></lib-pagination>
