<main class="puzzle" [class.p-puzzle]="!isMobile" [class.m-puzzle]="isMobile" #puzzle>
  <div class="puzzle-board">
    <canvas class="puzzle-canvas" #puzzleCanvas [attr.width]="canvasWidth" [attr.height]="canvasHeight"></canvas>
  </div>
  @if (!isMobile) {
    <div class="puzzle-control">
      <div>
        <a nz-dropdown
           class="puzzle-difficulty"
           [nzDropdownMenu]="difficulty"
           nzPlacement="topLeft"
           [nzDisabled]="gameStatus === 'playing' || gameStatus === 'paused'">
          {{ activeDifficulty.name }}片
          <nz-icon nzType="down"/>
        </a>
        <a nz-button
           nzType="link"
           class="icon-btn"
           title="开始"
           *ngIf="gameStatus === 'ready' || gameStatus === 'completed'"
           (click)="startGame()">
          <span class="fi fi-play"></span>
        </a>
        <a nz-button nzType="link" title="暂停" *ngIf="gameStatus === 'playing'" (click)="pauseGame()">
          <nz-icon nzType="pause"/>
        </a>
        <a nz-button nzType="link" class="icon-btn" title="继续" *ngIf="gameStatus === 'paused'" (click)="resumeGame()">
          <span class="fi fi-play"></span>
        </a>
        <a nz-button
           nzType="link"
           class="icon-btn"
           title="停止"
           [disabled]="gameStatus !== 'playing' && gameStatus !== 'paused'"
           (click)="stopGame()">
          <span class="fi fi-stop"></span>
        </a>
        <a nz-button nzType="link" title="重新开始" [disabled]="gameStatus === 'ready'" (click)="restartGame()">
          <nz-icon nzType="reload"/>
        </a>
        <a nz-button
           nzType="link"
           title="放大"
           [disabled]="gameStatus !== 'playing' && gameStatus !== 'completed'"
           (click)="zoom()">
          <nz-icon nzType="zoom-in"/>
        </a>
        <a nz-button
           nzType="link"
           title="缩小"
           [disabled]="gameStatus !== 'playing' && gameStatus !== 'completed'"
           (click)="zoom(false)">
          <nz-icon nzType="zoom-out"/>
        </a>
        <a nz-button nzType="link" [title]="isFullScreen ? '退出全屏' : '全屏'" (click)="fullscreen()">
          <nz-icon [nzType]="isFullScreen ? 'fullscreen-exit' : 'fullscreen'"/>
        </a>
      </div>
      <div>
        <span>{{ gameTime | duration }} / {{ gamePercent }}%</span>
      </div>
      <div>
        @if (scaledImage) {
          <a nz-button
             nz-popover
             nzType="link"
             title="预览"
             [nzPopoverContent]="popoverTemplate"
             nzPopoverPlacement="topRight">
            <nz-icon nzType="picture"/>
          </a>
          <ng-template #popoverTemplate>
            <img [style.width]="'300px'"
                 [style.cursor]="'zoom-in'"
                 [src]="scaledImage.src"
                 (click)="showFullImage()"
                 alt="预览"/>
          </ng-template>
        } @else {
          <a nz-button disabled nzType="link" title="预览">
            <nz-icon nzType="picture"/>
          </a>
        }
        <a nz-button
           nzType="link"
           [routerLink]="'/wallpaper/' + wallpaper?.wallpaperId"
           [queryParams]="langParams"
           target="_blank"
           title="《{{wallpaper?.wallpaperCopyright}}》壁纸详情">
          <nz-icon nzType="info-circle"/>
        </a>
        @if (downloading) {
          <a nz-button nzType="link" class="icon-btn" title="下载中...">
            <nz-icon nzType="loading"/>
          </a>
        } @else {
          <a nz-button
             nzType="link"
             class="icon-btn"
             (click)="download()"
             title="下载《{{wallpaper?.wallpaperCopyright}}》高清壁纸"><span class="fi fi-download"></span></a>
        }
      </div>
    </div>
  } @else {
    <div class="puzzle-control">
      <div>
        <a nz-dropdown
           class="puzzle-difficulty"
           [nzDropdownMenu]="difficulty"
           nzPlacement="topLeft"
           [nzDisabled]="gameStatus === 'playing' || gameStatus === 'paused'">
          {{ activeDifficulty.name }}片
          <nz-icon nzType="down"/>
        </a>
        <a nz-button
           nzType="link"
           class="icon-btn"
           title="开始"
           *ngIf="gameStatus === 'ready' || gameStatus === 'completed'"
           (click)="startGame()">
          <span class="fi fi-play"></span>
        </a>
        <a nz-button nzType="link" title="暂停" *ngIf="gameStatus === 'playing'" (click)="pauseGame()">
          <nz-icon nzType="pause"/>
        </a>
        <a nz-button nzType="link" class="icon-btn" title="继续" *ngIf="gameStatus === 'paused'" (click)="resumeGame()">
          <span class="fi fi-play"></span>
        </a>
        <a nz-button
           nzType="link"
           class="icon-btn"
           title="停止"
           [disabled]="gameStatus !== 'playing' && gameStatus !== 'paused'"
           (click)="stopGame()">
          <span class="fi fi-stop"></span>
        </a>
        <a nz-button nzType="link" [title]="isFullScreen ? '退出全屏' : '全屏'" (click)="fullscreen()">
          <nz-icon [nzType]="isFullScreen ? 'fullscreen-exit' : 'fullscreen'"/>
        </a>
        @if (scaledImage) {
          <a nz-button
             nz-popover
             nzType="link"
             title="预览"
             [nzPopoverContent]="popoverTemplate"
             nzPopoverPlacement="topRight">
            <nz-icon nzType="picture"/>
          </a>
          <ng-template #popoverTemplate>
            <img [style.width]="'270px'"
                 [style.cursor]="'zoom-in'"
                 [src]="scaledImage.src"
                 (click)="showFullImage()"
                 alt="预览"/>
          </ng-template>
        } @else {
          <a nz-button disabled nzType="link" title="预览">
            <nz-icon nzType="picture"/>
          </a>
        }
        <a nz-button
           nzType="link"
           [routerLink]="'/wallpaper/' + wallpaper?.wallpaperId"
           [queryParams]="langParams"
           target="_blank"
           title="《{{wallpaper?.wallpaperCopyright}}》壁纸详情">
          <nz-icon nzType="info-circle"/>
        </a>
      </div>
      <div>
        <span>{{ gameTime | duration }} / {{ gamePercent }}%</span>
      </div>
    </div>
  }
</main>
<nz-dropdown-menu #difficulty="nzDropdownMenu">
  <ul nz-menu nzSelectable>
    @for (item of difficultyList; track item.name) {
      <li nz-menu-item
          [nzSelected]="activeDifficulty.name === item.name"
          (click)="setDifficulty(item)">{{ item.name + '片(' + item.rows + 'x' + item.cols + ')' }}
      </li>
    }
  </ul>
</nz-dropdown-menu>
@if (isBrowser) {
  <app-login-modal *ngIf="loginVisible" (close)="closeLoginModal()"></app-login-modal>
  <ng-template #confirmModalContent>
    <div class="confirm-progress">
      @if (cachedJigsaw) {
        <p><span>拼图：</span><span>{{ wallpaper?.wallpaperCopyright }}</span></p>
        <p><span>时间：</span><span>{{ cachedJigsaw.t | date:'yyyy-MM-dd HH:mm:ss' }}</span></p>
        <p><span>难度：</span><span>{{ cachedJigsaw.c }} 片</span></p>
        <p><span>进度：</span><span>{{ (cachedJigsaw.s / (cachedJigsaw.c - 1) * 100).toFixed(1) }}%</span></p>
        <p><span>用时：</span><span>{{ cachedJigsaw.d | duration }}</span></p>
      }
    </div>
  </ng-template>
}
