@import "../../../styles/variables";

.main-desktop {
  display: flex;
  flex: auto;
  flex-direction: row;
  width: @body-width;
  margin: @header-height + @header-bg-height + @primary-margin auto 0;
  justify-content: space-between;
}

.content-desktop {
  display: flex;
  flex: auto;
  flex-direction: column;
  width: @body-width - @sider-width - @primary-margin + (@box-shadow-width * 2);
  margin: -@box-shadow-width (@primary-margin - @box-shadow-width) -@box-shadow-width -@box-shadow-width;
}

.sider-desktop {
  flex: 0 0 @sider-width;
  width: @sider-width;
}

.content-mobile {
  padding: (@m-header-height + @m-content-margin + @box-shadow-width / @base-font-size) @m-content-margin @m-footer-margin;
}
