<ng-container *ngIf="!isMobile">
  <app-header [taxonomies]="taxonomies"></app-header>
  <main class="main main-desktop">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <aside class="sider">
      <app-sider></app-sider>
    </aside>
  </main>
  <app-footer></app-footer>
</ng-container>
<ng-container *ngIf="isMobile">
  <app-sider-mobile [taxonomies]="taxonomies" [(siderOpen)]="siderOpen"></app-sider-mobile>
  <main class="main main-mobile" [ngClass]="{'open': siderOpen}">
    <div class="mask mask-sider" *ngIf="siderOpen" (click)="toggleSiderOpen()"></div>
    <app-header [taxonomies]="taxonomies" [(siderOpen)]="siderOpen"></app-header>
    <section class="content">
      <router-outlet></router-outlet>
    </section>
    <app-footer></app-footer>
  </main>
</ng-container>
<i-back-top></i-back-top>
