<header class="header-wrap">
  <div class="header">
    <a class="logo" routerLink="/" [title]="appInfo?.appName">
      <img src="/favicon.png" alt="{{appInfo?.appName}}"/><span>{{appInfo?.appName}}</span>
    </a>
    <ul class="nav">
      <li [class.active]="activePage === 'index'">
        <a routerLink="/" title="{{appInfo?.appName}}首页">首页</a>
      </li>
      <li [class.active]="isPostPage">
        <a routerLink="/post" title="文章">
          <span>文章</span><i class="nav-arrow" *ngIf="postTaxonomies.length > 0"></i>
        </a>
        <div class="sub-nav-wrap" *ngIf="postTaxonomies.length > 0">
          <div class="sub-nav-list">
            <ul>
              <li *ngFor="let taxonomy of postTaxonomies">
                <a class="sub-nav-link"
                   [routerLink]="['/post/category/'+taxonomy.taxonomySlug]"
                   title="{{taxonomy.taxonomyDescription}}">
                  <span>{{taxonomy.taxonomyName}}</span><i *ngIf="!taxonomy.isLeaf" class="sub-nav-arrow"></i>
                </a>
                <div class="child-nav-wrap" *ngIf="!taxonomy.isLeaf">
                  <div class="child-nav-list">
                    <ul>
                      <li *ngFor="let subTaxonomy of taxonomy.children">
                        <a class="child-nav-link"
                           [routerLink]="['/post/category/'+subTaxonomy.taxonomySlug]"
                           title="{{subTaxonomy.taxonomyDescription}}">{{subTaxonomy.taxonomyName}}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li [class.active]="isWallpaperPage">
        <a routerLink="/wallpaper" title="高清壁纸">壁纸</a>
      </li>
      <li [class.active]="activePage === 'tool'">
        <a routerLink="/tool" title="实用工具"><span>实用工具</span><i class="nav-arrow"></i></a>
        <div class="sub-nav-wrap">
          <div class="sub-nav-list">
            <ul>
              <li *ngFor="let link of toolLinks">
                <a class="sub-nav-link" [routerLink]="[link.url]" [title]="link.title">{{link.label}}</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <a title="AI" (click)="gotoBots()">AI</a>
      </li>
    </ul>
    <div class="actions">
      <div class="search">
        <nz-input-group nzSearch [nzAddOnAfter]="searchBtnTpl">
          <input #searchInput
                 nz-input
                 type="text"
                 [(ngModel)]="keyword"
                 (keydown)="onKeyDown($event)"
                 placeholder="搜索全站（支持全文搜索）" />
        </nz-input-group>
        <ng-template #searchBtnTpl>
          <button nz-button nzSearch nzType="primary" (click)="search()"><span nz-icon nzType="search"></span></button>
        </ng-template>
      </div>
      @if (!isSignIn) {
        <a nz-button nzType="primary" routerLink="/user/login">登录</a>
      } @else {
        <div class="more-action-group">
          <div class="more-action-nav">
            <span nz-icon nzType="user"></span><span>{{ user.userNickname }}</span><i class="nav-arrow"></i>
          </div>
          <div class="more-action-list">
            <div class="sub-nav-list">
              <ul>
                <li>
                  <a class="sub-nav-link" (click)="gotoAdmin()">
                    <span nz-icon nzType="home"></span><span>个人中心</span>
                  </a>
                </li>
                <li>
                  <a class="sub-nav-link" (click)="logout()">
                    <span nz-icon nzType="logout"></span><span>退出登录</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      }
      <div class="more-action-group">
        <div class="more-action-nav">
          <span nz-icon nzType="ellipsis" class="more-action-icon"></span>
        </div>
        <div class="more-action-list">
          <div class="sub-nav-list">
            <ul>
              <li>
                <a class="sub-nav-link" (click)="showRedPacket()">
                  <span nz-icon nzType="red-envelope"></span><span>每日红包</span>
                </a>
              </li>
              <li>
                <a class="sub-nav-link" (click)="showWallpaperModal()">
                  <span nz-icon nzType="picture"></span><span>手气不错？</span>
                </a>
              </li>
              <li>
                <a class="sub-nav-link" [href]="appInfo?.appUrl + '/rss.xml'">
                  <span nz-icon nzType="wifi"></span><span>文章RSS订阅</span>
                </a>
              </li>
              <li>
                <a class="sub-nav-link" [href]="appInfo?.appUrl + '/wallpaper-rss.xml'">
                  <span nz-icon nzType="wifi"></span><span>壁纸RSS订阅</span>
                </a>
              </li>
              <li>
                <a class="sub-nav-link" (click)="showWechatCard()">
                  <span nz-icon nzType="wechat"></span><span>微信公众号</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<app-login-modal *ngIf="loginModalVisible" (closeModal)="closeLoginModal()"></app-login-modal>
<app-wallpaper-modal [visible]="wallpaperModalVisible" (closeModal)="closeWallpaperModal()"></app-wallpaper-modal>
