<header class="m-header">
  <div class="m-header-bg">&nbsp;</div>
  <div class="m-nav f-clearfix">
    <a class="u-logo" [routerLink]="['/']" title="{{options['site_name']}}">
      <img src="/assets/img/logo.png" width="100%" alt="{{options['site_name']}}"/></a>
    <ul class="f-list-none m-nav-main">
      <li [ngClass]="{'active': activePage == 'index'}"><a title="返回{{options['site_name']}}首页" [routerLink]="['/']">首页</a></li>
      <ng-container *ngFor="let taxonomy of taxonomies">
        <li [ngClass]="{'active': activePage == taxonomy.slug}">
          <a title="{{taxonomy.description}}" [routerLink]="['/category/'+(taxonomy.slug || taxonomy.name)]">{{taxonomy.name}}</a>
          <ul class="m-nav-sub" *ngIf="!taxonomy.isLeaf">
            <ng-container *ngFor="let subTaxonomy of taxonomy.children">
              <li><a title="{{subTaxonomy.description}}" [routerLink]="['/category/'+(subTaxonomy.slug || subTaxonomy.name)]">{{subTaxonomy.name}}</a></li>
            </ng-container>
          </ul>
        </li>
      </ng-container>
    </ul>
    <ul class="f-list-none m-nav-tool">
      <li>
        <a href="https://github.com/ifuyun" title="Follow me on GitHub" target="_blank">
          <i class='icon icon-github'></i>
          <span>GitHub</span>
        </a>
      </li>
    </ul>
  </div>
</header>
