@import "../../../styles/variables";
@import "../../../../node_modules/ng-zorro-antd/style/color/colorPalette";

.header {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: var(--header-bg-color);
  box-shadow: var(--content-box-shadow);
  backdrop-filter: blur(5px);
  z-index: 19;
}

.header-desktop {
  border: var(--header-border);

  .header-bg {
    height: @header-bg-height;
    background-color: var(--primary-color);
  }

  .logo {
    @logo-height: 50px;

    float: left;
    margin-right: 24px;
    padding: ((@header-height - @logo-height) / 2) 0;
    overflow: hidden;
  }

  .nav {
    @group-border-radius: 4px;
    @sub-nav-arrow-right: 12px;

    display: flex;
    justify-content: space-between;
    width: @body-width;
    margin: 0 auto;

    .nav-wrap {
      display: flex;
    }

    .nav-list, .link-list, .child-nav-list {
      display: flex;

      > li {
        text-align: center;
        position: relative;

        &:hover {
          .sub-nav-group {
            display: block;
          }

          .nav-arrow {
            transform: translateY(-2px);

            &::before {
              transform: rotate(45deg) translateX(2.5px);
            }

            &::after {
              transform: rotate(-45deg) translateX(-2.5px);
            }
          }
        }

        .nav-link {
          display: inline-flex;
          align-items: center;
          line-height: @header-height;
        }
      }

      li.active, li:hover {
        .nav-link {
          color: var(--primary-color);
          background-color: transparent;
          cursor: pointer;
        }

        > .sub-nav-link, > .child-nav-link {
          color: #fff;
          background-color: var(--primary-color);
        }

        .nav-arrow {
          &::before, &::after {
            background-color: var(--primary-color);
          }
        }
      }

      a.nav-link {
        color: var(--header-color);
        background: transparent;
      }

      a.sub-nav-link, a.child-nav-link {
        color: var(--header-subnav-color);
        background: var(--header-subnav-bg-color);
      }
    }

    .nav-list {
      .nav-link {
        padding: 0 @primary-margin;
        font-size: 15px;
      }
    }

    .link-list {
      > li {
        margin-left: @primary-margin;
      }

      .sub-nav-group {
        right: 0;

        .sub-nav-list::before {
          right: 24px;
          left: initial;
        }
      }

      .icon {
        display: inline-flex;
        margin-right: 4px;
      }
    }

    .sub-nav-group {
      display: none;
      position: absolute;

      .icon {
        margin-right: 8px;
      }
    }

    .sub-nav-list {
      box-shadow: var(--content-box-shadow);
      border-radius: @group-border-radius;

      &::before {
        content: '';
        position: absolute;
        display: block;
        width: 10px;
        height: 10px;
        top: -10px;
        left: 24px;
        transform: translate(0, 50%) rotate(45deg);
        background-color: var(--header-subnav-bg-color);
        box-shadow: var(--content-box-shadow);
      }

      ul {
        position: relative;
        border-radius: @group-border-radius;
        background-color: var(--header-subnav-bg-color);

        li:first-child, li:first-child > a {
          border-top-left-radius: @group-border-radius;
          border-top-right-radius: @group-border-radius;
        }

        li:last-child, li:last-child > a {
          border-bottom-left-radius: @group-border-radius;
          border-bottom-right-radius: @group-border-radius;
        }
      }

      li {
        position: relative;

        &:hover {
          .child-nav-group {
            display: block;
          }

          .sub-nav-arrow {
            &::before, &::after {
              background-color: #fff;
            }
          }
        }

        a {
          box-sizing: border-box;
          display: inline-flex;
          align-items: center;
          width: 100%;
          min-width: 80px;
          padding: 4px (@primary-margin + @sub-nav-arrow-right) 4px @primary-margin;
          line-height: 24px;
          font-size: @primary-font-size;
          text-align: left;
          word-break: keep-all;
          white-space: nowrap;
        }
      }
    }

    .nav-arrow, .sub-nav-arrow {
      display: block;

      &, &::before, &::after {
        transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      }

      &::before, &::after {
        box-sizing: border-box;
        position: absolute;
        display: block;
        border-radius: 2px;
        content: '';
      }
    }

    .nav-arrow {
      width: 10px;
      margin-left: 8px;

      &::before, &::after {
        width: 6px;
        height: 1.5px;
        background-color: var(--header-color);
      }

      &::before {
        transform: rotate(-45deg) translateX(2.5px);
      }

      &::after {
        transform: rotate(45deg) translateX(-2.5px);
      }
    }

    .sub-nav-arrow {
      position: absolute;
      top: 50%;
      right: @sub-nav-arrow-right;
      width: 10px;
      transform: translateY(-0.5px);

      &::before, &::after {
        width: 6px;
        height: 1.5px;
        background-color: var(--header-subnav-color);
      }

      &::before {
        transform: rotate(45deg) translateY(-2.5px);
      }

      &::after {
        transform: rotate(-45deg) translateY(2.5px);
      }
    }

    .child-nav-group {
      display: none;
      position: absolute;
      top: 0;
      left: 100%;
      padding-left: 4px;
    }

    .child-nav-list {
      box-shadow: var(--content-box-shadow);
      border-radius: @group-border-radius;
    }
  }
}

.header-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: @m-header-height;

  &.header-search {
    height: @m-header-search-height;
  }

  .icon {
    @icon-font-size: 2rem;

    padding: ((@m-header-height - @icon-font-size) / 2) 2.4rem;
    line-height: 2.4rem;
    font-size: @icon-font-size;
  }

  .logo {
    width: 120px;

    img {
      width: 100%;
    }
  }

  .search-form {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1;

    input {
      font-size: 14px;
      line-height: 1.79577;
      background: #fff;
      color: var(--base-font-color);
      border-color: color(~`colorPalette('@{primary-color}', 5) `);

      &::placeholder {
        color: hsv(0, 0, 75%);
      }
    }

    input, button {
      box-shadow: none;
    }
  }
}

.header-firefox {
  // fix: firefox doesn't support backdrop-filter
  background-color: var(--header-bg-color-moz);
}

.mask-search {
  left: 0;
  z-index: 0;
}
