@import "../../../assets/style/variables";

* {
  box-sizing: initial;
}

li, li a, li:hover, li a:hover {
  transition: none;
}

.m-header {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: rgba(242, 242, 242, 0.6);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}

.m-header-bg {
  height: 5px;
  background-color: @theme-color-bg;
}

.u-logo {
  float: left;
  width: 135px;
  height: 50px;
  overflow: hidden;
}

.m-nav {
  width: 1000px;
  margin: 0 auto;

  .u-logo {
    margin-right: 20px;
  }

  .m-nav-sub {
    display: none;
    background-color: #f2f2f2;
    position: absolute;
    border: solid 1px #e3e3e3;

    > li > a {
      padding: 3px 40px 3px 20px;
      display: inline-block;
      line-height: 24px;
      text-align: left;
      font-size: 13px;
      min-width: 80px;
    }
  }
}

.m-nav-main {
  float: left;

  > li {
    > a {
      padding: 0 20px;
    }

    &:hover .m-nav-sub {
      display: block;
    }
  }
}

.m-nav-tool {
  float: right;

  > li > a {
    padding: 0 15px;
  }

  svg {
    vertical-align: text-bottom;
    margin-right: 4px;
  }
}

.m-nav-main, .m-nav-tool {
  > li {
    float: left;
    text-align: center;
    position: relative;

    > a {
      line-height: 50px;
      display: block;
      font-size: 15px;
    }
  }

  li a {
    color: #555;
    background: transparent;
  }

  li.active, li:hover {
    > a {
      color: #fff;
      background-color: @theme-color-bg;
    }
  }
}
