<app-breadcrumb *ngIf="showCrumb"></app-breadcrumb>
<div class="post" [ngClass]="{'post-desktop': !isMobile, 'post-mobile': isMobile}" id="article">
  <header class="post-header">
    <h1 class="post-title">
      <a [routerLink]="[post?.postGuid]" title="{{post?.postTitle}}" rel="bookmark">{{post?.postTitle}}</a>
    </h1>
    <div class="post-meta post-meta-top">
      <span title="写于: {{post?.postDate | date:'yyyy-MM-dd'}}">
        <i class='icon icon-calendar'></i><span>{{post?.postDate | date:'yyyy-MM-dd'}}</span>
      </span>
      <span title="作者：{{postMeta['postAuthor']}}">
        <i class='icon icon-person'></i><span>{{postMeta['postAuthor']}}</span>
      </span>
      <ng-container *ngIf="!isMobile">
        <span *ngIf="!isStandalone && postCategories.length > 0">
          <i class='icon icon-folder'></i>
          <a *ngFor="let cat of postCategories" [routerLink]="['/category/' + cat.taxonomySlug]"
             title="{{cat.taxonomyName}}" rel="category">{{cat.taxonomyName}}</a>
        </span>
        <ng-container *ngIf="post?.postOriginal === 1 && !isStandalone">
          <span title="{{post?.author?.userNiceName}}原创">
            <i class='icon icon-pencil'></i><span>原创</span>
          </span>
          <span title="{{postMeta['copyright_type'] | copyrightType}}">
            <ng-container *ngIf="postMeta['copyright_type'] === '0'">
              <i class='icon icon-shield'></i><span>{{postMeta['copyright_type'] | copyrightType}}</span>
            </ng-container>
            <ng-container *ngIf="postMeta['copyright_type'] !== '0'">
              <i class='icon icon-share'></i><span>{{postMeta['copyright_type'] | copyrightType}}</span>
            </ng-container>
          </span>
        </ng-container>
        <ng-container *ngIf="post?.postOriginal !== 1 && !isStandalone">
          <span title="来源：{{postMeta['post_source']}}">
            <i class='icon icon-book'></i><span>{{postMeta['post_source']}}</span>
          </span>
        </ng-container>
      </ng-container>
    </div>
  </header>
  <div class="divider"></div>
  <div #postEle>
    <article class="post-content" [innerHTML]="(post?.postContent || '') | safeHtml"></article>
    <ng-container *ngIf="postMeta['show_wechat_card'] === '1'">
      <div class="divider"></div>
      <div class="wechat-card">
        <img src="/assets/images/wechat-card.png" alt="公众号：黑匣子思维"/>
      </div>
    </ng-container>
  </div>
  <footer class="post-footer">
    <div>
      <div class="post-meta" *ngIf="!isStandalone && isMobile && postCategories.length > 0">
        <div class="post-meta-icon"><i class='icon icon-folder'></i></div>
        <ul class="post-meta-info">
          <li *ngFor="let cat of postCategories">
            <a [routerLink]="['/category/' + cat.taxonomySlug]"
               title="{{cat.taxonomyName}}" rel="category">{{cat.taxonomyName}}</a>
          </li>
        </ul>
      </div>
      <div class="post-meta" *ngIf="postTags.length > 0">
        <div class="post-meta-icon"><i class='icon icon-tag'></i></div>
        <ul class="post-meta-info">
          <li *ngFor="let tag of postTags">
            <a [routerLink]="['/tag/' + tag.taxonomySlug]"
               title="{{tag.taxonomyName}}" rel="category">{{tag.taxonomyName}}</a>
          </li>
        </ul>
      </div>
      <div class="post-meta" *ngIf="!isStandalone && isMobile">
        <div class="post-meta-icon"><i class='icon icon-book'></i></div>
        <div class="post-meta-info">
          <span class="post-meta-info-text" *ngIf="post?.postOriginal === 1"
                title="来源: {{post?.author?.userNiceName}}原创">
            来源：{{post?.author?.userNiceName}}原创
          </span>
          <span *ngIf="post?.postOriginal !== 1" title="来源: {{postMeta['post_source']}}">
            来源：{{postMeta['post_source']}}
          </span>
        </div>
      </div>
      <div class="post-meta">
        <div class="post-meta-icon"><i class='icon icon-clock'></i></div>
        <div class="post-meta-info">
        <span class="post-meta-info-text" title="更新于: {{post?.postModified | date:'yyyy-MM-dd HH:mm'}}">
          最后更新：{{post?.postModified | date:'yyyy-MM-dd HH:mm'}}
        </span>
        </div>
      </div>
    </div>
    <div class="post-qrcode" *ngIf="!isStandalone">
      <div #qrcodeCanvas class="post-qrcode-box post-qrcode-share"
           [ngStyle]="{display: showShareQrcode ? 'block' : 'none'}">
        <div class="post-qrcode-arrow"><i></i><i></i></div>
      </div>
      <div class="post-qrcode-box post-qrcode-reward" [ngStyle]="{display: showRewardQrcode ? 'block' : 'none'}">
        <div class="post-qrcode-arrow"><i></i><i></i></div>
        <img src="/assets/images/reward.jpg" alt="reward"/>
      </div>
      <div class="post-qrcode-item" (mouseover)="toggleShareQrcode()" (mouseout)="toggleShareQrcode()">分享</div>
      <div class="post-qrcode-item" (mouseover)="toggleRewardQrcode()" (mouseout)="toggleRewardQrcode()">打赏</div>
    </div>
    <div class="post-link" *ngIf="!isStandalone">
      <div class="post-link-prev">
        <a *ngIf="prevPost" [routerLink]="[prevPost.postGuid]" title="{{prevPost.postTitle}}">
          <span class="post-link-text">上一篇：{{prevPost.postTitle}}</span>
        </a>
      </div>
      <div class="post-link-next">
        <a *ngIf="nextPost" [routerLink]="[nextPost.postGuid]" title="{{nextPost.postTitle}}">
          <span class="post-link-text">下一篇：{{nextPost.postTitle}}</span><span>&gt;</span>
        </a>
      </div>
    </div>
  </footer>
  <ng-container *ngIf="post?.commentFlag !== 'close' && comments.length > 0">
    <div class="divider"></div>
    <div class="comment-list" id="comments">
      <ng-container *ngFor="let comment of comments; let i = index">
        <div *ngIf="i > 0" class="divider divider-dashed"></div>
        <div class="comment-item">
          <p class="comment-item-meta">
            <span>{{comment.commentAuthor}}</span>
            <span class="comment-item-time">{{comment.commentCreated | date:'yyyy-MM-dd HH:mm'}}</span>
          </p>
          <p>{{comment.commentContent}}</p>
          <p class="comment-item-action">
            <a (click)="saveVote(comment, true)">赞(<span>{{comment.commentVote}}</span>)</a>
            <a (click)="replyComment(comment)">回复</a>
          </p>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="post?.commentFlag !== 'close'">
    <div class="divider"></div>
    <div class="comment-form" id="respond">
      <form [formGroup]="commentForm" (ngSubmit)="saveComment()">
        <div class="form-row">
          <input type="text" class="input" formControlName="author" maxlength="8" placeholder="昵称"/>
          <span class="form-required">*</span>
        </div>
        <div class="form-row">
          <input type="text" class="input" formControlName="email" maxlength="100" placeholder="Email"/>
          <span class="form-required">*</span>
        </div>
        <div class="form-row">
          <input type="text" class="input" formControlName="captcha" maxlength="4" placeholder="验证码"/>
          <img #captchaImg [src]="captchaUrl" (click)="refreshCaptcha($event)"
               class="captcha" title="点击刷新验证码" alt="验证码"/>
          <span class="form-required">*</span>
        </div>
        <div class="form-row form-row-long">
          <textarea class="input input-textarea" formControlName="content" rows="4"
                    maxlength="400" placeholder="评论内容"></textarea>
          <span class="form-required">*</span>
        </div>
        <div class="form-row form-btns">
          <input type="hidden" formControlName="commentParent"/>
          <input type="submit" class="button button-submit" value="提交"/>
          <input type="reset" class="button" value="重置"/>
        </div>
      </form>
    </div>
  </ng-container>
</div>
<app-modal *ngIf="showImgModal" [imgEle]="clickedImage" (toggleModal)="toggleImgModal($event)"></app-modal>
