@import "../../../styles/variables";

.post, .comment {
  border-radius: @border-radius;
  background-color: @content-background-color;
  box-shadow: @content-box-shadow;

  &-desktop {
    margin: @box-shadow-width;

    .divider {
      margin: 0 20px;
    }
  }

  &-mobile {
    .divider {
      margin: 0 @m-primary-margin;
    }
  }
}

.post {
  position: relative;
  overflow: hidden;

  .icon-custom {
    font-style: normal;
  }

  .original-sign {
    @sign-offset: 24px;
    @sign-height: 24px;
    @sign-width: @sign-offset * 2 * 1.41421356 + @sign-height;
    position: absolute;
    top: @sign-offset - (@sign-height / 2);
    left: @sign-offset - (@sign-width / 2);
    width: @sign-width;
    height: @sign-height;
    line-height: @sign-height;
    transform: rotate(-45deg);
    transform-origin: center;
    text-align: center;
    background-color: @primary-color;
    color: #fff;
    font-size: @minor-font-size;
    font-weight: 700;
  }

  &-desktop {
    .post-header {
      padding: @content-header-margin @content-margin 4px;
    }

    .post-content {
      padding: @content-margin;
    }

    .post-footer {
      padding: 0 @content-margin @content-margin;
    }

    .wechat-card {
      margin: @content-margin 0;
    }
  }

  &-mobile {
    .post-header {
      padding: @m-content-header-margin @m-primary-margin 4px;
    }

    .post-content {
      padding: @m-primary-margin;
    }

    .post-footer {
      padding: 0 @m-primary-margin @m-primary-margin;
    }

    .wechat-card {
      margin: @m-primary-margin;
    }
  }

  .post-header {
    text-align: center;

    .post-title {
      margin-bottom: 12px;
      line-height: 32px;
      font-size: 20px;
      font-weight: normal;

      > a {
        color: @base-color;

        &:hover {
          color: @primary-color;
        }
      }
    }

    .icon, .icon-custom {
      margin-right: 4px;
    }
  }

  .post-meta {
    line-height: @post-line-height;
    color: @minor-meta-color;
    font-size: @minor-font-size;

    &-top {
      margin-bottom: 8px;
      padding: 0 @content-margin;

      > span:not(:last-child):after {
        content: '|';
        display: inline-block;
        position: relative;
        top: -2px;
        margin: 0 10px;
        vertical-align: middle;
      }

      a:not(:last-child) {
        margin-right: 8px;
      }
    }

    a {
      color: @minor-meta-color;

      &:hover {
        color: @primary-color;
      }
    }
  }

  .post-content {
    line-height: 1.71428571em;
    word-wrap: break-word;
    text-align: justify;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }

    p, blockquote, pre, ol, ul {
      margin: @primary-margin 0;
    }

    a {
      &:hover {
        text-decoration: underline;
      }

      img {
        cursor: pointer;
      }
    }

    img {
      box-sizing: border-box;
      display: block;
      max-width: 100%;
      margin: 0 auto;
      cursor: zoom-in;
    }

    h1, h2, h3, h4, h5, h6 {
      margin: @content-margin 0;
      line-height: 1.6em;
    }

    h1 {
      font-size: 16px;
    }

    h2 {
      font-size: 15px;
    }

    h3, h4, h5, h6 {
      font-size: @primary-font-size;
    }

    h2 {
      padding-left: 10px;
      border-left: 4px solid @primary-color;
    }

    blockquote {
      padding-top: 4px;
      padding-left: 12px;
      border-left: 3px solid #dbdbdb;
      color: rgba(0, 0, 0, .5);

      > :first-child {
        margin-top: 0;
      }

      > :last-child {
        margin-bottom: 0;
      }
    }

    pre, code {
      background: rgba(0, 0, 0, .03);
    }

    pre {
      display: flex;
      border-radius: @border-radius;
      box-shadow: @content-box-shadow;
      overflow: hidden;

      ul.i-code-lines, code.i-code-text {
        padding: 8px 12px;
      }

      ul.i-code-lines {
        margin: 0;
        border-right: 1px solid @code-border-color;
        list-style: none;
        text-align: right;
      }

      code.i-code-text {
        width: max-content;
        padding: 8px @primary-margin;
        background-color: transparent;
        overflow: auto;
      }
    }

    code {
      padding: 2px 6px;
      border-radius: 2px;
      color: @base-color;
    }

    ol, ul {
      padding-left: 2.2em;

      p {
        margin: 0;
      }
    }

    ul {
      list-style: disc;
    }

    ol {
      list-style: decimal;
    }

    table {
      margin: 0 auto;

      td, th {
        padding: 5px 10px;
        border: 1px solid #ddd;
        word-wrap: break-word;
        word-break: break-all;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
      }

      th {
        background-color: @tag-background-color;
      }
    }

    hr {
      border-top: 1px solid @primary-border-color;
      border-bottom: none;
      border-left: none;
      border-right: none;
    }
  }

  .post-footer {
    .icon, .icon-custom {
      margin-right: 4px;
      line-height: @post-line-height + @tag-row-span * 2;
    }

    .post-meta {
      &:not(:last-child) {
        margin-bottom: 4px;
      }

      .post-meta-icon {
        float: left;
      }

      .post-meta-info {
        padding-left: 20px;
      }

      ul li, .post-meta-info-text {
        display: inline-block;
        padding: @tag-row-span 0;
      }

      ul li:not(:last-child) {
        margin-right: 8px;
      }

      ul a {
        padding: 4px 8px;
        border-radius: 2px;
        color: @minor-color;
        background-color: @tag-background-color;

        &:hover {
          color: @content-background-color;
          background-color: @primary-color;
        }
      }
    }

    .post-actions {
      @button-primary-color: #ff6838;
      @button-height: 36px;
      @button-padding: 12px;
      display: flex;
      position: relative;
      margin: @content-margin;
      justify-content: center;

      > div {
        position: relative;
      }

      button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: @button-height;
        padding: 0 @button-padding;
        border-width: 1px 0 1px 1px;
        border-style: solid;
        border-color: @button-primary-color;
        line-height: @button-height;
        background: transparent;
        color: @button-primary-color;
        cursor: pointer;
        transition: background-color .1s, color .1s;
        -webkit-appearance: button;

        &:first-child {
          border-top-left-radius: @border-radius;
          border-bottom-left-radius: @border-radius;
        }

        &:last-child {
          border-right-width: 1px;
          border-top-right-radius: @border-radius;
          border-bottom-right-radius: @border-radius;
        }

        &:not(.button-like):hover {
          background-color: @button-primary-color;
          color: #fff;
        }

        &.liked {
          background-color: @button-primary-color;
          color: #fff;
          opacity: .8;
          cursor: not-allowed;
        }

        .icon {
          margin: 0;
          line-height: @button-height;
          font-size: 16px;
        }

        .text {
          margin-left: 8px;
          font-size: @primary-font-size;
          font-weight: 700;
        }
      }

      .button-like {
        &:not(.liked):hover {
          .parkinson-mask {
            visibility: visible;
            transition: opacity .25s, visibility .25s;
            transition-delay: .1s;
            opacity: 1;

            .icon {
              margin-left: 50%;
              transition: transform .25s, margin .25s;
              transition-delay: .5s;
              animation: pre-like-icon .2s infinite;
              animation-delay: .75s;
              transform: translateY(-2px) translate(-50%);
            }
          }
        }

        &.loading {
          .loading-mask {
            visibility: visible;
            opacity: 1;
          }
        }
      }

      .parkinson-mask, .loading-mask {
        box-sizing: border-box;
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 0 @button-padding + 1;
        border-radius: 4px;
        background-color: #ff5722;
        color: #fff;
        opacity: 0;
        visibility: hidden;
      }

      .loading-mask {
        justify-content: center;
      }
    }

    .post-link {
      @link-padding: 6px;
      display: flex;
      margin-top: @content-margin;
      margin-left: -@link-padding;
      margin-right: -@link-padding;
      flex-direction: row;
      justify-content: space-between;

      a:hover {
        text-decoration: underline;
      }

      .post-link-prev, .post-link-next {
        box-sizing: border-box;
        width: 50%;
        padding: 0 @link-padding;
      }

      .post-link-prev a {
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .post-link-text:before {
          content: '<';
          margin-right: 8px;
        }
      }

      .post-link-next a {
        display: inline-flex;
        width: 100%;
        justify-content: flex-end;

        .post-link-text {
          margin-right: 8px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .wechat-card {
    text-align: center;

    img {
      width: 420px;
      max-width: 100%;
      cursor: zoom-in;
    }
  }
}

.comment {
  margin-top: @content-margin;

  &-desktop {
    .comment-list, .comment-form {
      padding: @content-margin;
    }

    .comment-form {
      .form-row {
        width: 280px;
      }

      .form-row-long {
        width: 400px;
      }
    }
  }

  &-mobile {
    .comment-list, .comment-form {
      padding: @m-primary-margin;
    }

    .comment-form {
      .form-btns {
        justify-content: center !important;
      }
    }
  }

  .comment-list {
    @avatar-size: 50px;
    line-height: @post-line-height;

    .comment-item {
      &:not(:first-child) {
        margin-top: @primary-margin;
        padding-top: @primary-margin;
        border-top: 1px dashed @primary-border-color;
      }

      &-meta {
        display: flex;
        justify-content: space-between;
        color: @minor-color;

        .info {
          display: flex;
        }

        .avatar {
          margin-right: 8px;

          img {
            width: @avatar-size;
            height: @avatar-size;
            border-radius: @border-radius;
          }
        }

        .author {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        }

        .name {
          margin-right: 8px;
          color: @primary-meta-color;
        }

        .location, .time, .hash {
          font-size: @meta-font-size;
        }

        .hash {
          width: 100px;
          text-align: right;
        }
      }

      &-content {
        margin: @primary-margin 0;
      }

      &-actions {
        font-size: @meta-font-size;

        > :not(:last-child) {
          margin-right: 12px;
        }

        a {
          color: @minor-color;

          &:not(.voted):hover {
            color: @primary-color;
            cursor: pointer;
          }

          &.voted {
            cursor: not-allowed;
          }
        }

        .icon {
          margin-right: 4px;
        }
      }
    }
  }

  .comment-form {
    @form-item-margin: 12px;

    .form-row {
      display: flex;
      justify-content: space-between;

      &:not(:last-child) {
        margin-bottom: @form-item-margin;
      }

      &:not(:first-child) {
        margin-top: @form-item-margin;
      }

      > :not(:last-child) {
        margin-right: 8px;
      }

      .input {
        flex-grow: 1;
        min-width: 120px;
      }
    }

    .form-btns {
      justify-content: flex-start;
    }

    .form-required {
      display: inline-block;
      width: 8px;
      line-height: @input-line-height * @primary-font-size + 10;
      color: @input-required-color;
      font-weight: bold;
      text-align: center;
    }

    .captcha {
      cursor: pointer;
    }

    .button:not(:last-child) {
      margin-right: @primary-margin;
    }

    .ng-touched.ng-invalid:not(form) {
      border: 1px solid @input-invalid-color;
    }
  }
}

.divider {
  height: 1px;
  border-top: 1px solid @primary-border-color;

  &-dashed {
    border-top-style: dashed;
  }
}

@keyframes pre-like-icon {
  0% {
    transform: translateY(-2px) translate(-40%)
  }

  20% {
    transform: translateY(0) translate(-43%)
  }

  40% {
    transform: translateY(-3px) translate(-48%)
  }

  60% {
    transform: translateY(0) translate(-43%)
  }

  80% {
    transform: translateY(2px) translate(-50%)
  }

  to {
    transform: translateY(-2px) translate(-42%)
  }
}
