@import "../../../assets/style/variables";

.post {
  box-shadow: @content-box-shadow;
  margin: @box-shadow-width;
  border-radius: @border-radius;
  background-color: @content-background-color;

  .icon {
    margin-right: 4px;
  }

  .post-header {
    padding: @content-margin @content-margin 4px;
    text-align: center;

    .post-title {
      margin-bottom: 12px;
      line-height: 32px;
      font-size: 20px;
      font-weight: normal;

      > a {
        color: @base-color;

        &:hover {
          color: @primary-color;
        }
      }
    }
  }

  .post-meta {
    line-height: @post-line-height;
    color: @minor-color;
    font-size: @minor-font-size;

    a {
      color: @minor-color;

      &:hover {
        color: @primary-color;
      }
    }
  }

  .post-meta-top {
    margin-bottom: 8px;
    padding: 0 @content-margin;

    span:not(:last-child) {
      margin-right: 20px;
    }

    a:not(:last-child) {
      margin-right: 8px;
    }
  }

  .post-meta-bottom {
    //.m-meta-text {
    //  padding-left: 2em;
    //}
  }

  .post-content {
    padding: @content-margin;
    line-height: 1.71428571em;
    word-wrap: break-word;
    text-align: justify;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }

    p, blockquote, pre, ol, ul {
      margin: @primary-margin 0;
    }

    a:hover {
      text-decoration: underline;
    }

    img {
      box-sizing: border-box;
      display: block;
      max-width: 100%;
      margin: 0 auto;
      cursor: zoom-in;
    }

    h1, h2, h3, h4, h5, h6 {
      margin: @content-margin 0;
      line-height: 1.6em;
    }

    h1 {
      font-size: 16px;
    }

    h2, h3 {
      font-size: 15px;
    }

    h4, h5, h6 {
      font-size: @primary-font-size;
    }

    blockquote {
      padding-top: 4px;
      padding-left: 12px;
      border-left: 3px solid #dbdbdb;
      color: rgba(0, 0, 0, .5);

      > :first-child {
        margin-top: 0;
      }

      > :last-child {
        margin-bottom: 0;
      }
    }

    pre, code {
      background: rgba(0, 0, 0, .03);
    }

    pre {
      display: flex;
      border-radius: @border-radius;
      box-shadow: @content-box-shadow;
      overflow: hidden;

      ul.i-code-lines, code.i-code-text {
        padding: 8px 12px;
      }

      ul.i-code-lines {
        margin: 0;
        border-right: 1px solid @code-border-color;
        list-style: none;
        text-align: right;
      }

      code.i-code-text {
        width: max-content;
        padding: 8px @primary-margin;
        background-color: transparent;
        overflow: auto;
      }
    }

    code {
      padding: 2px 6px;
      border-radius: 2px;
      color: @base-color;
    }

    ol, ul {
      padding-left: 2.2em;

      p {
        margin: 0;
      }
    }

    ul {
      list-style: disc;
    }

    ol {
      list-style: decimal;
    }

    table {
      margin: 0 auto;

      td, th {
        padding: 5px 10px;
        border: 1px solid #ddd;
        word-wrap: break-word;
        word-break: break-all;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
      }

      th {
        background-color: @tag-background-color;
      }
    }

    hr {
      border-top: 1px solid @primary-border-color;
      border-bottom: none;
      border-left: none;
      border-right: none;
    }
  }

  .wechat-card {
    margin: @content-margin 0;
    text-align: center;

    img {
      width: 420px;
    }
  }

  .post-footer {
    margin: @content-margin;

    .icon {
      line-height: @post-line-height + @tag-row-span * 2;
    }

    .post-meta {
      &:not(:last-child) {
        margin-bottom: 4px;
      }

      .post-meta-icon {
        float: left;
      }

      .post-meta-info {
        padding-left: 20px;
      }

      ul li, .post-meta-info-text {
        display: inline-block;
        padding: @tag-row-span 0;
      }

      ul li:not(:last-child) {
        margin-right: 8px;
      }

      a {
        padding: 4px 8px;
        border-radius: 2px;
        color: @minor-color;
        background-color: @tag-background-color;

        &:hover {
          color: @content-background-color;
          background-color: @primary-color;
        }
      }
    }

    .post-qrcode {
      @qrcode-label-spacing: 2px;
      @qrcode-label-width: 50px;
      @qrcode-width: 164px;
      @qrcode-padding: 12px;
      @qrcode-arrow-height: 8px;
      @qrcode-border-color: #d0d0d0;

      display: flex;
      position: relative;
      margin: @content-margin;
      flex-direction: row;
      justify-content: center;
      text-align: center;

      .post-qrcode-item {
        width: @qrcode-label-width - @qrcode-label-spacing;
        height: @qrcode-label-width;
        padding-left: @qrcode-label-spacing;
        line-height: @qrcode-label-width;
        border: 0;
        border-radius: 2px;
        background: @primary-color;
        color: @content-background-color;
        letter-spacing: @qrcode-label-spacing;
        cursor: pointer;

        &:hover {
          background-color: @active-color;
        }

        &:not(:last-child) {
          margin-right: @content-margin;
        }
      }

      .post-qrcode-box {
        display: none;
        position: absolute;
        width: @qrcode-width;
        height: @qrcode-width;
        bottom: 0;
        left: 50%;
        margin-bottom: @qrcode-label-width + @qrcode-arrow-height + 2px;
        padding: @qrcode-padding;
        border: 1px solid @qrcode-border-color;
        border-radius: @border-radius;
        background: @content-background-color;
      }

      .post-qrcode-share {
        margin-left: -((@qrcode-width + @qrcode-padding * 2 + 2 + @qrcode-label-width + @content-margin) / 2);
      }

      .post-qrcode-reward {
        margin-left: -((@qrcode-width + @qrcode-padding * 2 + 2 - @qrcode-label-width - @content-margin) / 2);

        img {
          width: @qrcode-width;
        }
      }

      .post-qrcode-arrow {
        position: absolute;
        width: @qrcode-arrow-height * 2;
        height: @qrcode-arrow-height;
        bottom: 0;
        left: 50%;
        margin-left: -@qrcode-arrow-height;
        margin-bottom: -@qrcode-arrow-height;

        i {
          position: absolute;
          display: block;
          width: 0;
          height: 0;
          border-top: @qrcode-arrow-height solid @content-background-color;
          border-bottom: @qrcode-arrow-height solid transparent;
          border-left: @qrcode-arrow-height solid transparent;
          border-right: @qrcode-arrow-height solid transparent;
          overflow: hidden;

          &:first-child {
            top: 1px;
            border-top: @qrcode-arrow-height solid @qrcode-border-color;
          }
        }
      }
    }

    .post-link {
      margin-top: @content-margin;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      a:hover {
        text-decoration: underline;
      }

      .post-link-prev, .post-link-next {
        width: 49%;
      }

      .post-link-prev a {
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .post-link-text:before {
          content: '<';
          margin-right: 8px;
        }
      }

      .post-link-next a {
        display: inline-flex;
        width: 100%;
        justify-content: end;

        .post-link-text {
          margin-right: 8px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .comment-list {
    margin: @content-margin;
    line-height: @post-line-height;

    .divider {
      margin: @primary-margin 0;
    }

    .comment-item {
      padding: 0 8px;
    }

    .comment-item-meta {
      color: @minor-color;
    }

    .comment-item-time {
      float: right;
    }

    .comment-item-action {
      text-align: right;

      > :not(:last-child) {
        margin-right: 12px;
      }

      a:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .comment-form {
    padding: @content-margin;

    .form-row {
      &:not(:last-child) {
        margin-bottom: @primary-margin;
      }

      &:not(:first-child) {
        margin-top: @primary-margin;
      }
    }

    .form-required {
      margin-left: 6px;
      color: @input-required-color;
      font-weight: bold;
    }

    .input {
      width: 200px;
    }

    .input-textarea {
      width: 400px;
    }

    .captcha {
      cursor: pointer;
      margin-left: 6px;
    }

    .button:not(:last-child) {
      margin-right: @primary-margin;
    }

    .ng-touched.ng-invalid:not(form) {
      border: 1px solid @input-invalid-color;
    }
  }
}

.divider {
  height: 1px;
  margin: 0 20px;
  border-top: 1px solid @primary-border-color;
}

.divider-dashed {
  border-top-style: dashed;
}
