<app-crumb *ngIf="showCrumb"></app-crumb>
<div class="m-content-box" [ngClass]="{'m-page': isStandalone}" id="article">
  <header class="m-article-header">
    <h1 class="m-article-title">
      <a rel="bookmark" title="{{post?.postTitle}}" [routerLink]="[post?.postGuid]">{{post?.postTitle}}</a>
    </h1>
    <div *ngIf="!isStandalone" class="m-article-meta m-article-meta-post">
      <span title="写于: {{post?.postDate | date:'yyyy-MM-dd'}}">
        <i class='icon icon-calendar'></i>{{post?.postDate | date:'yyyy-MM-dd'}}
      </span>
      <span class="m-meta-dynamic">
        <i class='icon icon-folder'></i><a *ngFor="let cat of postCategories" title="{{cat.taxonomyName}}" rel="category" [routerLink]="['/category/'+(cat.taxonomySlug || cat.taxonomyName)]">{{cat.taxonomyName}}</a>
      </span>
      <span title="作者：{{postMeta['postAuthor']}}">
        <i class='icon icon-person'></i>{{postMeta['postAuthor']}}
      </span>
      <ng-container *ngIf="post?.postOriginal === 1">
        <span class="m-meta-dynamic" title="{{post?.author?.userNiceName}}原创">
          <i class='icon icon-pencil'></i><span>原创</span>
        </span>
        <span class="m-meta-dynamic" title="{{postMeta['copyright_type'] | copyrightType}}">
          <ng-container *ngIf="postMeta['copyright_type'] === '0'">
            <i class='icon icon-shield'></i><span>{{postMeta['copyright_type'] | copyrightType}}</span>
          </ng-container>
          <ng-container *ngIf="postMeta['copyright_type'] !== '0'">
            <i class='icon icon-share'></i><span>{{postMeta['copyright_type'] | copyrightType}}</span>
          </ng-container>
        </span>
      </ng-container>
      <ng-container *ngIf="post?.postOriginal !== 1">
        <span class="m-meta-dynamic" title="来源：{{postMeta['post_source']}}">
          <i class='icon icon-book'></i><span>{{postMeta['post_source']}}</span>
        </span>
      </ng-container>
    </div>
  </header>
  <div class="m-diag">&nbsp;</div>
  <article #postContent class="m-article-content">
    <div [innerHTML]="(post?.postContent || '') | safeHtml"></div>
    <hr *ngIf="postMeta['show_wechat_card'] === '1'" />
    <div *ngIf="postMeta['show_wechat_card'] === '1' || postMeta['show_wechat_card'] === '2'" class="m-wechat-card">
      <img src="http://s.ifuyun.com/upload/2020/06/3e4393acc7f2733d.png" alt="公众号：黑匣子思维" width="420" />
    </div>
  </article>
  <footer class="m-article-footer">
    <div *ngIf="!isStandalone" class="m-article-meta m-article-taxonomy m-meta-dynamic">
      <div class="m-meta-icon f-float-left">
        <i class='icon icon-folder'></i>
      </div>
      <ul class="clearfix">
        <li *ngFor="let cat of postCategories"><a title="{{cat.taxonomyName}}" rel="category" [routerLink]="['/category/'+(cat.taxonomySlug || cat.taxonomyName)]">{{cat.taxonomyName}}</a></li>
      </ul>
    </div>
    <div *ngIf="!isStandalone && postTags.length > 0" class="m-article-meta m-article-taxonomy">
        <div class="m-meta-icon f-float-left">
          <i class='icon icon-tag'></i>
        </div>
        <ul class="clearfix">
          <li *ngFor="let tag of postTags"><a title="{{tag.taxonomyName}}" rel="category" [routerLink]="['/tag/'+(tag.taxonomySlug || tag.taxonomyName)]">{{tag.taxonomyName}}</a></li>
        </ul>
    </div>
    <div *ngIf="!isStandalone" class="m-article-meta m-article-source m-meta-dynamic">
      <div class="m-meta-icon f-float-left">
        <i class='icon icon-book'></i>
      </div>
      <div class="m-meta-text">
        <span *ngIf="post?.postOriginal === 1" title="来源: {{post?.author?.userNiceName}}原创">来源：{{post?.author?.userNiceName}}原创</span>
        <span *ngIf="post?.postOriginal !== 1" title="来源: {{postMeta['post_source']}}">来源：{{postMeta['post_source']}}</span>
      </div>
    </div>
    <div class="m-article-meta">
      <div class="m-meta-icon f-float-left">
        <i class='icon icon-clock'></i>
      </div>
      <div class="m-meta-text">
        <span title="更新于: {{post?.postModified | date:'yyyy-MM-dd HH:mm'}}">最后更新：{{post?.postModified | date:'yyyy-MM-dd HH:mm'}}</span></div>
    </div>
    <div class="m-article-qrcode clearfix">
      <div #qrcodeCanvas [ngStyle]="{display: showQrcodeOfShare ? 'block' : 'none'}" class="m-article-qrcode-img m-article-qrcode-share">
        <div class="m-article-qrcode-arrow"><i></i><i></i></div>
      </div>
      <div [ngStyle]="{display: showQrcodeOfReward ? 'block' : 'none'}" class="m-article-qrcode-img m-article-qrcode-reward">
        <div class="m-article-qrcode-arrow"><i></i><i></i></div>
        <img src="/assets/img/reward.jpg" width="160" height="160" alt="reward"/>
      </div>
      <div class="m-article-qrcode-item m-article-share" (mouseover)="toggleShareQrcode()" (mouseout)="toggleShareQrcode()">分享</div>
      <div class="m-article-qrcode-item m-article-reward" (mouseover)="toggleRewardQrcode()" (mouseout)="toggleRewardQrcode()">打赏</div>
    </div>
    <div *ngIf="!isStandalone" class="m-article-link clearfix">
      <div class="m-article-link-prev">
        <a *ngIf="prevPost" [routerLink]="[prevPost.postGuid]" title="{{prevPost.postTitle}}">
          <span class="m-article-link-text">&lt; <span>上一篇：{{prevPost.postTitle}}</span></span></a>
      </div>
      <div class="m-article-link-next">
        <a *ngIf="nextPost" [routerLink]="[nextPost.postGuid]" title="{{nextPost.postTitle}}">
          <span class="m-article-link-text"><span>下一篇：{{nextPost.postTitle}}</span></span><span class="u-text-arrow"> &gt;</span></a>
      </div>
    </div>
  </footer>
  <ng-container *ngIf="post?.commentFlag !== 'close' && comments.length > 0">
    <div class="m-diag">&nbsp;</div>
    <div class="m-comment-list" id="comments">
      <ng-container *ngFor="let comment of comments; let i = index">
        <div *ngIf="i > 0" class="m-diag m-diag-dashed">&nbsp;</div>
        <div class="m-comment-item">
          <p class="m-comment-meta">
            <span class="m-comment-author">{{comment.commentAuthor}}</span>
            <span class="m-comment-time">{{comment.commentCreated | date:'yyyy-MM-dd HH:mm'}}</span>
          </p>
          <p>{{comment.commentContent}}</p>
          <p class="m-comment-action">
            <span><a href="javascript:" (click)="saveVote(comment, true)">赞(<span>{{comment.commentVote}}</span>)</a></span>
            <span><a href="javascript:" (click)="replyComment(comment)">回复</a></span>
          </p>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <ng-container>
    <div class="m-diag">&nbsp;</div>
    <div class="comment-form" id="respond">
      <form [formGroup]="commentForm" (ngSubmit)="saveComment()">
        <p class="m-row">
          <input type="text" class="input" formControlName="author" maxlength="8" placeholder="昵称" /><span class="form-required">*</span>
        </p>
        <p class="m-row">
          <input type="text" class="input" formControlName="email" maxlength="100" placeholder="Email" /><span class="form-required">*</span>
        </p>
        <p class="m-row">
          <input type="text" class="input" formControlName="captcha" maxlength="4" placeholder="验证码" /><span class="form-required">*</span>
          <img #captchaImg class="captcha" src="/api/captcha" title="点击刷新验证码" alt="验证码" onclick="this.src='/api/captcha?r='+Math.random()" />
        </p>
        <p class="m-row">
          <textarea class="input input-textarea" rows="4" formControlName="content" maxlength="400" placeholder="评论内容"></textarea><span class="form-required">*</span>
        </p>
        <p class="m-row">
          <input type="hidden" formControlName="commentParent" />
          <input type="submit" class="button button-submit" value="提交" />
          <input type="reset" class="button" value="重置" />
        </p>
      </form>
    </div>
  </ng-container>
</div>
<app-modal *ngIf="showImgModal" [imgEle]="clickedImage" (toggleModal)="toggleImgModal($event)"></app-modal>
