<app-breadcrumb *ngIf="showCrumb"></app-breadcrumb>
<div class="post" [ngClass]="{'post-desktop': !isMobile, 'post-mobile': isMobile}">
  <div class="original-sign" *ngIf="post?.postOriginal === 1 && !isPage">原创</div>
  <header class="post-header">
    <h1 class="post-title">
      <a [routerLink]="[post?.postGuid]" title="{{post?.postTitle}}" rel="bookmark">{{post?.postTitle}}</a>
    </h1>
    <div class="post-meta post-meta-top">
      <span title="写于: {{post?.postDate | date:'yyyy-MM-dd'}}">
        <i class='icon icon-calendar'></i><span>{{post?.postDate | date:'yyyy-MM-dd'}}</span>
      </span>
      <span title="作者：{{postMeta['postAuthor']}}">
        <i class='icon icon-user'></i><span>{{postMeta['postAuthor']}}</span>
      </span>
      <span title="阅读：{{post?.postViewCount | numberView}}">
        <i class='icon icon-eye'></i><span>{{post?.postViewCount | numberView}} 次阅读</span>
      </span>
    </div>
  </header>
  <div class="divider"></div>
  <div #postEle>
    <article class="post-content" [innerHTML]="(post?.postContent || '') | safeHtml"></article>
    <ng-container *ngIf="postMeta['show_wechat_card'] === '1'">
      <div class="divider"></div>
      <div class="wechat-card">
        <img src="/assets/images/wechat-card.png" alt="公众号：黑匣子思维"/>
      </div>
    </ng-container>
  </div>
  <footer class="post-footer">
    <div>
      <div class="post-meta" *ngIf="!isPage && postCategories.length > 0">
        <div class="post-meta-icon"><i class='icon icon-folder'></i></div>
        <ul class="post-meta-info">
          <li *ngFor="let cat of postCategories">
            <a [routerLink]="['/category/' + cat.taxonomySlug]"
               title="{{cat.taxonomyName}}" rel="category">{{cat.taxonomyName}}</a>
          </li>
        </ul>
      </div>
      <div class="post-meta" *ngIf="postTags.length > 0">
        <div class="post-meta-icon"><i class='icon icon-tag'></i></div>
        <ul class="post-meta-info">
          <li *ngFor="let tag of postTags">
            <a [routerLink]="['/tag/' + tag.taxonomySlug]"
               title="{{tag.taxonomyName}}" rel="category">{{tag.taxonomyName}}</a>
          </li>
        </ul>
      </div>
      <div class="post-meta" *ngIf="!isPage">
        <div class="post-meta-icon"><i class='icon icon-book'></i></div>
        <div class="post-meta-info">
          <span class="post-meta-info-text" *ngIf="post?.postOriginal === 1"
                title="来源: {{post?.author?.userNiceName}}原创">来源：{{post?.author?.userNiceName}}原创</span>
          <span class="post-meta-info-text" *ngIf="post?.postOriginal !== 1"
                title="来源: {{postMeta['post_source']}}">来源：{{postMeta['post_source']}}</span>
        </div>
      </div>
      <div class="post-meta" *ngIf="post?.postOriginal === 1 && !isPage">
        <div class="post-meta-icon"><i class='icon icon-copyright'></i></div>
        <div class="post-meta-info">
          <span *ngIf="postMeta['copyright_type'] !== '2'"
                class="post-meta-info-text" title="许可协议：{{postMeta['copyright_type'] | copyrightTypeDesc}}">
            许可：{{postMeta['copyright_type'] | copyrightType}}
          </span>
          <span *ngIf="postMeta['copyright_type'] === '2'"
                class="post-meta-info-text" title="许可协议：{{postMeta['copyright_type'] | copyrightTypeDesc}}">
            <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.zh" target="_blank" rel="license">
              许可：{{postMeta['copyright_type'] | copyrightTypeDesc}}
            </a>
          </span>
        </div>
      </div>
      <div class="post-meta">
        <div class="post-meta-icon"><i class='icon icon-clock'></i></div>
        <div class="post-meta-info">
        <span class="post-meta-info-text" title="更新于: {{post?.postModified | date:'yyyy-MM-dd HH:mm'}}">
          最后更新：{{post?.postModified | date:'yyyy-MM-dd HH:mm'}}
        </span>
        </div>
      </div>
    </div>
    <div class="post-actions" *ngIf="!isPage">
      <div>
        <button class="button-like" [ngClass]="{liked: postVoted, loading: voteLoading}" (click)="votePost(true)">
          <i class='icon icon-like'></i>
          <span class="text">真棒！{{postMeta['post_vote'] || ''}}</span>
          <span class="parkinson-mask" *ngIf="!voteLoading"><i class='icon icon-like'></i></span>
          <span class="loading-mask" *ngIf="voteLoading"><i class='icon icon-loading'></i></span>
        </button>
        <button (click)="showReward('/assets/images/reward.jpg')">
          <i class='icon icon-heart-fill'></i>
        </button>
        <button *ngIf="!isMobile" (click)="showShareQrcode()">
          <i class='icon icon-share-fill'></i>
        </button>
      </div>
    </div>
    <div class="post-link" *ngIf="!isPage">
      <div class="post-link-prev">
        <a *ngIf="prevPost" [routerLink]="[prevPost.postGuid]" title="{{prevPost.postTitle}}">
          <span class="post-link-text">上一篇：{{prevPost.postTitle}}</span>
        </a>
      </div>
      <div class="post-link-next">
        <a *ngIf="nextPost" [routerLink]="[nextPost.postGuid]" title="{{nextPost.postTitle}}">
          <span class="post-link-text">下一篇：{{nextPost.postTitle}}</span><span>&gt;</span>
        </a>
      </div>
    </div>
  </footer>
</div>
<div class="comment" [ngClass]="{'comment-desktop': !isMobile, 'comment-mobile': isMobile}">
  <ng-container *ngIf="post?.commentFlag !== 'close' && comments.length > 0">
    <div class="comment-list" id="comments">
      <ng-container *ngFor="let comment of comments; let i = index">
        <div *ngIf="i > 0" class="divider divider-dashed"></div>
        <div class="comment-item">
          <p class="comment-item-meta">
            <span>{{comment.commentAuthor}}</span>
            <span class="comment-item-time">{{comment.commentCreated | date:'yyyy-MM-dd HH:mm'}}</span>
          </p>
          <p>{{comment.commentContent}}</p>
          <p class="comment-item-action">
            <a [ngClass]="{voted: comment.voted}"
               (click)="voteComment(comment, true)">赞(<span>{{comment.commentVote}}</span>)</a>
            <a (click)="replyComment(comment)">回复</a>
          </p>
        </div>
      </ng-container>
    </div>
    <div class="divider"></div>
  </ng-container>
  <div class="comment-form" id="respond" *ngIf="post?.commentFlag !== 'close'">
    <form [formGroup]="commentForm" (ngSubmit)="saveComment()">
      <div class="form-row">
        <input type="text" class="input" formControlName="author" maxlength="8" placeholder="昵称"/>
        <span class="form-required">*</span>
      </div>
      <div class="form-row">
        <input type="text" class="input" formControlName="email" maxlength="100" placeholder="Email"/>
        <span class="form-required">*</span>
      </div>
      <div class="form-row">
        <input type="text" class="input" formControlName="captcha" maxlength="4" placeholder="验证码"/>
        <img #captchaImg [src]="captchaUrl" (click)="refreshCaptcha($event)"
             class="captcha" title="点击刷新验证码" alt="验证码"/>
        <span class="form-required">*</span>
      </div>
      <div class="form-row form-row-long">
        <textarea class="input input-textarea" formControlName="content" rows="4"
                  maxlength="400" placeholder="评论内容"></textarea>
        <span class="form-required">*</span>
      </div>
      <div class="form-row form-btns">
        <input type="hidden" formControlName="commentParent"/>
        <button type="submit" class="button button-submit" [ngClass]="{loading: saveLoading}" [disabled]="saveLoading">
          <i *ngIf="saveLoading" class="icon icon-loading"></i>
          <span>提交</span>
        </button>
        <button type="reset" class="button">重置</button>
      </div>
    </form>
  </div>
</div>
<app-modal *ngIf="showImgModal"
           [imgEle]="clickedImage" (toggleModal)="toggleImgModal($event)" [padding]="imgModalPadding"></app-modal>
