<lib-breadcrumb></lib-breadcrumb>
@if (total > 0) {
  <div class="post-card-list" [class.post-card-list-2]="!isMobile">
    <lib-wallpaper-item *ngFor="let wallpaper of wallpapers; let i = index"
                        class="post-card-item-wrap"
                        [wallpaper]="wallpaper"
                        [mode]="ListMode.CARD"
                        [jigsaw]="true"
                        [index]="i"></lib-wallpaper-item>
  </div>
} @else {
  <div class="empty" [class.p-empty]="!isMobile" [class.m-empty]="isMobile">
    <nz-empty nzNotFoundImage="simple"></nz-empty>
  </div>
}
<lib-make-money></lib-make-money>
<lib-pagination></lib-pagination>
