<lib-breadcrumb></lib-breadcrumb>
@if (total > 0) {
  <div class="post-card-list" [class.post-card-list-2]="!isMobile">
    @for (wallpaper of wallpapers; track wallpaper; let i = $index) {
      <lib-wallpaper-item class="post-card-item-wrap"
                          [wallpaper]="wallpaper"
                          [mode]="ListMode.CARD"
                          [jigsaw]="true"
                          [index]="i"></lib-wallpaper-item>
    }
  </div>
} @else {
  <div class="empty" [class.p-empty]="!isMobile" [class.m-empty]="isMobile">
    <nz-empty nzNotFoundImage="simple"></nz-empty>
  </div>
}
<lib-make-money></lib-make-money>
<lib-pagination></lib-pagination>
