@import "../../../../styles/variables";

.banner {
  position: relative;
  margin: @box-shadow-width @box-shadow-width @primary-margin;
  border-radius: @border-radius;
  background-color: var(--content-background-color);
  box-shadow: var(--content-box-shadow);
}
