<app-breadcrumb *ngIf="bizType === 'search'"></app-breadcrumb>
<ng-container *ngIf="bizType === 'index'">
  <div class="banner" [class.banner-desktop]="!isMobile" [class.banner-mobile]="isMobile">
    <i-carousel></i-carousel>
  </div>
  <div class="column-header" [class.column-header-desktop]="!isMobile" [class.column-header-mobile]="isMobile">
    <div class="column-header-label">
      <span><i class="icon icon-pencil-square"></i><span>最新文章</span></span>
    </div>
    <div class="column-header-more">
      <a routerLink="/post" title="文章列表"><span>更多</span><i class="icon icon-double-right"></i></a>
    </div>
  </div>
  <i-post-list-view [posts]="postList"></i-post-list-view>
  <i-make-money></i-make-money>
  <div class="column-header" [class.column-header-desktop]="!isMobile" [class.column-header-mobile]="isMobile">
    <div class="column-header-label">
      <span><i class="icon icon-images"></i><span>最新壁纸</span></span>
    </div>
    <div class="column-header-more">
      <a routerLink="/wallpaper" title="壁纸列表"><span>更多</span><i class="icon icon-double-right"></i></a>
    </div>
  </div>
  <i-wallpaper-list-view [wallpapers]="wallpapers"></i-wallpaper-list-view>
</ng-container>
<ng-container *ngIf="bizType === 'search'">
  <ng-container *ngIf="total > 0">
    <div class="post-list" [class.post-list-desktop]="!isMobile" [class.post-list-mobile]="isMobile">
      <article *ngFor="let item of searchList"
               class="post-item" [class.post-item-desktop]="!isMobile" [class.post-item-mobile]="isMobile">
        <i-post-item *ngIf="item.type === 'post'" [post]="$any(item.data)"></i-post-item>
        <i-wallpaper-item *ngIf="item.type === 'wallpaper'" [wallpaper]="$any(item.data)"></i-wallpaper-item>
      </article>
    </div>
    <i-make-money></i-make-money>
    <app-page-bar [isPath]="false" [paginator]="paginatorData" [url]="pageUrl" [param]="pageUrlParam"></app-page-bar>
  </ng-container>
  <div *ngIf="total < 1" class="container" [ngClass]="{'container-desktop': !isMobile, 'container-mobile': isMobile}">
    <i-empty [showBorder]="false" [showShadow]="false"></i-empty>
  </div>
</ng-container>
