<app-breadcrumb *ngIf="showCrumb"></app-breadcrumb>
<div class="post" [ngClass]="{'post-desktop': !isMobile, 'post-mobile': isMobile}">
  <div class="original-sign" *ngIf="post?.postOriginal === 1 && !isPage">原创</div>
  <header class="post-header">
    <h1 class="post-title">
      <a [routerLink]="[post?.postGuid]" title="{{post?.postTitle}}" rel="bookmark">{{post?.postTitle}}</a>
    </h1>
    <div class="post-meta post-meta-top">
      <span title="写于: {{post?.postDate | date:'yyyy-MM-dd'}}">
        <i class='icon icon-calendar'></i><span>{{post?.postDate | date:'yyyy-MM-dd'}}</span>
      </span>
      <span title="作者：{{postMeta['postAuthor']}}">
        <i class='icon icon-user'></i><span>{{postMeta['postAuthor']}}</span>
      </span>
      <span title="阅读：{{post?.postViews | numberView}}">
        <i class='icon icon-eye'></i><span>{{post?.postViews | numberView}} 次阅读</span>
      </span>
    </div>
  </header>
  <div class="divider"></div>
  <div #postEle>
    <article class="post-content"
             [ngStyle]="{'user-select': post?.postPayFlag || postMeta['should_login'] && !isLoggedIn ? 'none' : ''}"
             [innerHTML]="post?.postContent | safeHtml"></article>
    <ng-container *ngIf="post?.postPayFlag && !user.isAdmin && post?.postOwner !== user.userId || postMeta['should_login'] && !isLoggedIn">
      <div class="pay-mask"></div>
      <div class="pay-body">
        <div class="pay-separator">
          <div class="line"></div>
          <div class="text-wrap">
            <div class="text">还有 {{100 - postMeta['post_free_percent']}}% 的精彩内容</div>
          </div>
        </div>
        <div class="pay-icon"><i class='icon icon-lock'></i></div>
        <div class="pay-tip">
          <ng-container *ngIf="post?.postPayFlag">
            <div>请扫描下方二维码关注公众号后，回复“<span class="keyword">{{postMeta['wechat_index']}}</span>”继续阅读。</div>
          </ng-container>
          <ng-container *ngIf="postMeta['should_login']">
            <div>本文仅限注册用户阅读，请先<a routerLink="/user/login" [queryParams]="{ref: post.postGuid}" title="登录">登录</a>。</div>
          </ng-container>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="postMeta['show_wechat_card'] === '1'">
      <div class="divider"></div>
      <div class="wechat-card">
        <img [src]="wechatCardPath" alt="公众号：黑匣子思维"/>
      </div>
    </ng-container>
  </div>
  <footer class="post-footer">
    <div>
      <div class="post-meta" *ngIf="!isPage && postCategories.length > 0">
        <div class="post-meta-icon"><i class='icon icon-folder'></i></div>
        <ul class="post-meta-info">
          <li *ngFor="let cat of postCategories">
            <a [routerLink]="['/post/category/' + cat.taxonomySlug]"
               title="{{cat.taxonomyName}}" rel="category">{{cat.taxonomyName}}</a>
          </li>
        </ul>
      </div>
      <div class="post-meta" *ngIf="postTags.length > 0">
        <div class="post-meta-icon"><i class='icon icon-tag'></i></div>
        <ul class="post-meta-info">
          <li *ngFor="let tag of postTags">
            <a [routerLink]="['/post/tag/' + tag.taxonomySlug]"
               title="{{tag.taxonomyName}}" rel="category">{{tag.taxonomyName}}</a>
          </li>
        </ul>
      </div>
      <div class="post-meta" *ngIf="!isPage">
        <div class="post-meta-icon"><i class='icon icon-book'></i></div>
        <div class="post-meta-info">
          <span class="post-meta-info-text" *ngIf="post?.postOriginal === 1"
                title="来源: {{post.owner?.userNiceName}}原创">来源：{{post.owner?.userNiceName}}原创</span>
          <span class="post-meta-info-text" *ngIf="post?.postOriginal !== 1"
                title="来源: {{postMeta['post_source']}}">来源：{{postMeta['post_source']}}</span>
        </div>
      </div>
      <div class="post-meta" *ngIf="post?.postOriginal === 1 && !isPage">
        <div class="post-meta-icon"><i class='icon icon-copyright'></i></div>
        <div class="post-meta-info">
          <span *ngIf="postMeta['copyright_type'] !== '2'"
                class="post-meta-info-text"
                title="许可协议：{{postMeta['copyright_type'] | copyrightTypeDesc}}"
          >许可：{{postMeta['copyright_type'] | copyrightType}}</span>
          <span *ngIf="postMeta['copyright_type'] === '2'"
                class="post-meta-info-text" title="许可协议：{{postMeta['copyright_type'] | copyrightTypeDesc}}">
            <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.zh"
               target="_blank" rel="license">许可：{{postMeta['copyright_type'] | copyrightTypeDesc}}</a>
          </span>
        </div>
      </div>
      <div class="post-meta">
        <div class="post-meta-icon"><i class='icon icon-clock'></i></div>
        <div class="post-meta-info">
        <span class="post-meta-info-text"
              title="更新于: {{post?.postModified | date:'yyyy-MM-dd HH:mm'}}"
        >最后更新：{{post?.postModified | date:'yyyy-MM-dd HH:mm'}}</span>
        </div>
      </div>
    </div>
    <div class="post-actions">
      <div>
        <button class="button-like" [ngClass]="{liked: postVoted, loading: voteLoading}" (click)="votePost(true)">
          <i class='icon icon-like-fill'></i>
          <span class="text">真棒！{{post && post.postLikes > 0 ? post.postLikes : ''}}</span>
          <span class="parkinson-mask" *ngIf="!voteLoading"><i class='icon icon-like-fill'></i></span>
          <span class="loading-mask" *ngIf="voteLoading"><i class='icon icon-loading'></i></span>
        </button>
        <button (click)="showReward('/assets/images/reward.jpg')">
          <i class='icon icon-heart-fill'></i>
        </button>
        <button *ngIf="!isPage" (click)="addFavorite()" [ngClass]="{liked: isFavorite}">
          <i class='icon icon-star-fill' *ngIf="!favoriteLoading"></i>
          <i class='icon icon-loading' *ngIf="favoriteLoading"></i>
        </button>
        <button *ngIf="!isMobile" (click)="showShareQrcode()">
          <i class='icon icon-share-fill'></i>
        </button>
      </div>
    </div>
    <div class="post-link" *ngIf="!isPage">
      <div class="post-link-prev">
        <a *ngIf="prevPost" [routerLink]="[prevPost.postGuid]" title="{{prevPost.postTitle}}">
          <span class="post-link-text">上一篇：{{prevPost.postTitle}}</span>
        </a>
      </div>
      <div class="post-link-next">
        <a *ngIf="nextPost" [routerLink]="[nextPost.postGuid]" title="{{nextPost.postTitle}}">
          <span class="post-link-text">下一篇：{{nextPost.postTitle}}</span><span>&gt;</span>
        </a>
      </div>
    </div>
  </footer>
</div>
<i-jd-union-goods [dynamic]="true" [optionKey]="'jd_union_options_content'"></i-jd-union-goods>
<ng-container *ngIf="post?.commentFlag !== 'close'">
  <i-comment [objectType]="commentObjectType"></i-comment>
</ng-container>
