<div class="comment" [ngClass]="{'comment-desktop': !isMobile, 'comment-mobile': isMobile}">
  <ng-container *ngIf="comments.length > 0">
    <div class="comment-list" id="comments">
      <ng-template #commentsTpl let-comments>
        <ng-container *ngFor="let comment of comments; let i = index">
          <div class="comment-item comment-item-desktop" *ngIf="!isMobile" id="{{comment.commentId | commentHash}}"
               [ngStyle]="{'padding-left': (comment.level - 1) * 50 + 'px'}">
            <div class="meta">
              <div class="info">
                <div class="avatar">
                  <img src="{{comment.authorAvatar}}" alt="{{comment.user?.userNiceName || comment.authorName}}"/>
                </div>
                <div class="author">
                  <span class="from">
                    <span class="name">{{comment.user?.userNiceName || comment.authorName}}</span>
                    <span class="location">from {{
                      comment.userLocation?.region ? comment.userLocation.region + ' · ' + comment.userLocation.city : 'Mars'
                      }}</span>
                  </span>
                  <span class="time">{{comment.commentCreated | date:'yyyy-MM-dd HH:mm'}}</span>
                </div>
              </div>
              <div class="hash" *ngIf="!isMobile">
                <a [routerLink]="['.']" [fragment]="comment.commentId | commentHash">#{{comment.commentId | commentHash}}</a>
              </div>
            </div>
            <div class="content">
              <div class="parent" *ngIf="comment.parent">
                <span class="text">回复</span>
                <a class="author"
                   [attr.data-hash]="comment.parent.commentId | commentHash"
                   (click)="scrollToComment($event)"
                >#{{comment.parent.commentId | commentHash}} @{{comment.parent.user?.userNiceName || comment.parent.authorName}}</a>
              </div>
              <div>{{comment.commentContent}}</div>
            </div>
            <div class="actions">
              <a [class.voted]="comment.liked"
                 [class.disabled]="comment.liked || comment.disliked || commentVoteLoading[comment.commentId]"
                 (click)="voteComment(comment, true)">
                <i class="icon"
                   [class.icon-like-fill]="comment.liked"
                   [class.icon-like]="!comment.liked"
                   [class.icon-loading]="commentVoteLoading[comment.commentId]"></i><span>{{comment.commentLikes}}</span>
              </a>
              <a [class.voted]="comment.disliked"
                 [class.disabled]="comment.liked || comment.disliked || commentVoteLoading[comment.commentId]"
                 (click)="voteComment(comment, false)">
                <i class="icon"
                   [class.icon-dislike-fill]="comment.disliked"
                   [class.icon-dislike]="!comment.disliked"
                   [class.icon-loading]="commentVoteLoading[comment.commentId]"></i><span>{{comment.commentDislikes}}</span>
              </a>
              <a *ngIf="!replyVisibleMap[comment.commentId]" (click)="replyComment(comment, replyForm)">
                <i class="icon icon-chat"></i><span>回复</span>
              </a>
              <a *ngIf="replyVisibleMap[comment.commentId]" (click)="cancelReply()">
                <i class="icon icon-close"></i><span>取消</span>
              </a>
            </div>
          </div>
          <div class="comment-item comment-item-mobile" *ngIf="isMobile" id="{{comment.commentId | commentHash}}"
               [ngStyle]="{'padding-left': (comment.level - 1) * 32 + 'px'}">
            <div class="avatar">
              <img src="{{comment.authorAvatar}}" alt="{{comment.user?.userNiceName || comment.authorName}}"/>
            </div>
            <div class="body">
              <div class="from">
                <span class="name">{{comment.user?.userNiceName || comment.authorName}}</span>
                <span class="location">from {{
                  comment.userLocation?.region ? comment.userLocation.region + ' · ' + comment.userLocation.city : 'Mars'
                  }}</span>
              </div>
              <div class="content">
                <div class="parent" *ngIf="comment.parent">
                  <span class="text">回复</span>
                  <a class="author"
                     [attr.data-hash]="comment.parent.commentId | commentHash"
                     (click)="scrollToComment($event)"
                  >#{{comment.parent.commentId | commentHash}} @{{comment.parent.user?.userNiceName || comment.parent.authorName}}</a>
                </div>
                <div>{{comment.commentContent}}</div>
              </div>
              <div class="meta">
                <span class="time">{{comment.commentCreated | date:'yy-MM-dd HH:mm'}}</span>
                <div class="actions">
                  <a [class.voted]="comment.liked"
                     [class.disabled]="comment.liked || comment.disliked || commentVoteLoading[comment.commentId]"
                     (click)="voteComment(comment, true)">
                    <i class="icon"
                       [class.icon-like-fill]="comment.liked"
                       [class.icon-like]="!comment.liked"
                       [class.icon-loading]="commentVoteLoading[comment.commentId]"
                    ></i><span>{{comment.commentLikes}}</span>
                  </a>
                  <a [class.voted]="comment.disliked"
                     [class.disabled]="comment.liked || comment.disliked || commentVoteLoading[comment.commentId]"
                     (click)="voteComment(comment, false)">
                    <i class="icon"
                       [class.icon-dislike-fill]="comment.disliked"
                       [class.icon-dislike]="!comment.disliked"
                       [class.icon-loading]="commentVoteLoading[comment.commentId]"
                    ></i><span>{{comment.commentDislikes}}</span>
                  </a>
                  <a *ngIf="!replyVisibleMap[comment.commentId]" (click)="replyComment(comment, replyForm)">
                    <i class="icon icon-chat"></i>
                  </a>
                  <a *ngIf="replyVisibleMap[comment.commentId]" (click)="cancelReply()">
                    <i class="icon icon-close"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="replyVisibleMap[comment.commentId]" [ngStyle]="{'padding-left': (comment.level - 1) * 50 + 'px'}">
            <ng-container *ngTemplateOutlet="commentFormTpl; context: { $implicit: replyForm }"></ng-container>
          </div>
          <ng-container *ngIf="comment.children.length > 0">
            <ng-container *ngTemplateOutlet="commentsTpl; context: { $implicit: comment.children }"></ng-container>
          </ng-container>
        </ng-container>
      </ng-template>
      <ng-container *ngTemplateOutlet="commentsTpl; context: { $implicit: comments }"></ng-container>
    </div>
  </ng-container>
  <ng-template #commentFormTpl let-form>
    <div class="comment-form">
      <form [formGroup]="form" (ngSubmit)="saveComment(form)">
        <div class="form-row" *ngIf="!isLoggedIn">
          <span class="flex">
            <input type="text" class="input input-dark" formControlName="author" maxlength="10" placeholder="昵称（必填）"/>
          </span>
          <span class="flex">
            <input type="text" class="input input-dark" formControlName="email" maxlength="100" placeholder="邮箱（必填）"/>
          </span>
          <div class="captcha-wrapper">
            <input type="text" class="input input-dark input-captcha"
                   formControlName="captcha" maxlength="4" placeholder="验证码（必填）"/>
            <img #captchaImg [src]="captchaUrl" (click)="refreshCaptcha($event)"
                 class="captcha" title="点击刷新验证码" alt="验证码"/>
          </div>
        </div>
        <div class="form-row">
          <span class="flex">
            <textarea class="input input-textarea input-dark" formControlName="content"
                      rows="4" maxlength="400" placeholder="评论内容（必填）"></textarea>
          </span>
        </div>
        <div class="form-row form-btns">
          <input type="hidden" formControlName="commentParent"/>
          <button type="submit" class="button button-submit" [ngClass]="{loading: saveLoading}" [disabled]="saveLoading">
            <i *ngIf="saveLoading" class="icon icon-loading"></i>
            <span>提交</span>
          </button>
          <button type="reset" class="button">重置</button>
        </div>
      </form>
    </div>
  </ng-template>
  <ng-container *ngIf="!replyMode">
    <div class="divider" *ngIf="comments.length > 0"></div>
    <ng-container *ngTemplateOutlet="commentFormTpl; context: { $implicit: commentForm }"></ng-container>
  </ng-container>
</div>
