@import "../../../styles/variables";

.comment {
  @form-row-margin: 16px;
  @form-item-margin: 8px;
  @form-item-border-radius: 2px;
  @captcha-input-width: 120px;
  @captcha-img-width: 80px;

  &-desktop {
    margin-top: @primary-margin;

    .comment-list, .comment-form {
      padding: @content-margin;
    }

    .comment-form {
      .form-row {
        &:not(.form-btns) {
          margin: 0 -(@form-item-margin / 2);

          > * {
            width: 100%;
            padding: 0 (@form-item-margin / 2);
          }
        }
      }

      .captcha-wrapper {
        display: flex;
        flex-basis: @captcha-input-width + @captcha-img-width + @form-item-margin;

        .input-captcha {
          max-width: @captcha-input-width;
        }
      }
    }
  }

  &-mobile {
    margin-top: @m-primary-margin;

    .comment-list, .comment-form {
      padding: @m-content-padding;
    }

    .comment-form {
      .form-row {
        &:not(.form-btns) {
          flex-direction: column;

          > :not(:last-child) {
            margin-bottom: @form-row-margin;
          }
        }
      }

      .captcha-wrapper {
        display: flex;

        .input-captcha {
          flex-grow: 1;
        }
      }
    }
  }

  .comment-list {
    @avatar-size: 50px;
    @m-avatar-size: 32px;
    line-height: @post-line-height;
    overflow: hidden;

    .comment-item {
      overflow: hidden;

      &:not(:first-child) {
        border-top: 1px dashed var(--primary-border-color);
      }

      .from {
        display: inline-flex;

        .name {
          margin-right: 8px;
          color: var(--base-color);
          white-space: nowrap;
        }

        .location {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      .location, .time, .hash {
        font-size: @meta-font-size;
      }

      .parent {
        margin-bottom: 8px;
        padding-left: 8px;
        border-left: 4px solid var(--comment-border-color);
        font-size: @minor-font-size;

        .text {
          margin-right: 4px;
          color: var(--minor-meta-color);
        }

        .author {
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }

      .actions {
        > :not(:last-child) {
          margin-right: 12px;
        }

        a {
          color: var(--minor-color);

          &:not(.disabled):hover {
            color: var(--primary-color);
            cursor: pointer;
          }

          &.voted {
            color: var(--action-color);
          }

          &.disabled {
            cursor: not-allowed;
          }
        }

        .icon {
          margin-right: 4px;
        }
      }
    }

    .comment-item-desktop {
      &:not(:first-child) {
        margin-top: @primary-margin;
        padding-top: @primary-margin;
      }

      .meta {
        display: flex;
        justify-content: space-between;
        color: var(--minor-color);

        .info {
          display: flex;
          overflow: hidden;
        }

        .avatar {
          margin-right: 8px;

          img {
            width: @avatar-size;
            height: @avatar-size;
            border-radius: @border-radius;
          }
        }

        .author {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          overflow: hidden;
        }

        .hash {
          width: 100px;
          text-align: right;

          a {
            color: var(--minor-color);

            &:hover {
              color: var(--primary-color);
            }
          }
        }
      }

      .content {
        margin: @primary-margin 0;
      }

      .actions {
        font-size: @minor-font-size;
      }
    }

    .comment-item-mobile {
      display: flex;

      &:not(:first-child) {
        margin-top: @m-primary-margin;
        padding-top: @m-content-padding;
      }

      .avatar {
        margin-right: 0.8rem;

        img {
          width: @m-avatar-size;
          height: @m-avatar-size;
          border-radius: @border-radius;
        }
      }

      .body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: hidden;

        .from, .meta {
          color: var(--minor-color);
        }

        .content {
          margin: @m-content-margin 0;
        }

        .meta {
          display: flex;
          justify-content: space-between;
        }

        .actions {
          font-size: @meta-font-size;
        }
      }
    }

    .comment-form {
      margin-top: @primary-margin;
      padding: @primary-margin 0 0;
      border-top: 1px dashed var(--primary-border-color);
    }
  }

  .comment-form {
    .form-row {
      display: flex;
      justify-content: space-between;

      &:not(:last-child) {
        margin-bottom: @form-row-margin;
      }

      &:not(:first-child) {
        margin-top: @form-row-margin;
      }

      .flex {
        flex-grow: 1;
        flex-shrink: 1;

        .input {
          width: 100%;
        }
      }
    }

    .form-btns {
      justify-content: center;
    }

    .input, .button, .captcha {
      box-sizing: border-box;
      border-radius: @form-item-border-radius;
    }

    .input-captcha {
      min-width: @captcha-input-width;
      margin-right: @form-item-margin;
    }

    .captcha {
      width: @captcha-img-width;
      cursor: pointer;
    }

    .input-textarea {
      display: block;
    }

    .button:not(:last-child) {
      margin-right: @primary-margin;
    }

    .ng-touched.ng-invalid:not(form) {
      border: 1px solid var(--input-invalid-color);
    }
  }
}
