@font-face {
  font-family: "icons";
  src: url("/assets/fonts/icons.woff2?524846017b983fc8ded9325d94ed40f3") format("woff2"), url("/assets/fonts/icons.woff?524846017b983fc8ded9325d94ed40f3") format("woff");
}

.icon::before, [class^="icon-"]::before, [class*=" icon-"]::before {
  display: inline-block;
  font-family: icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  &-success::before { content: "\F26B"; }
  &-error::before { content: "\F623"; }
  &-warning::before { content: "\F333"; }
  &-info::before { content: "\F431"; }
  &-github::before { content: "\F3ED"; }
  &-calendar::before { content: "\F1E4"; }
  &-person::before { content: "\F4E1"; }
  &-folder::before { content: "\F3D7"; }
  &-tag::before { content: "\F5B0"; }
  &-chat::before { content: "\F265"; }
  &-chat-dot::before { content: "\F25F"; }
  &-heart::before { content: "\F417"; }
  &-heart-fill::before { content: "\F415"; }
  &-archive::before { content: "\F10D"; }
  &-star::before { content: "\F588"; }
  &-shuffle::before { content: "\F544"; }
  &-link::before { content: "\F470"; }
  &-book::before { content: "\F194"; }
  &-pencil::before { content: "\F4CB"; }
  &-share::before { content: "\F52E"; }
  &-share-fill::before { content: "\F52D"; }
  &-clock::before { content: "\F293"; }
  &-close::before { content: "\F62A"; }
  &-eye::before { content: "\F341"; }
  &-list::before { content: "\F479"; }
  &-search::before { content: "\F52A"; }
  &-arrow-left::before { content: "\F12F"; }
  &-arrow-right::before { content: "\F138"; }
  &-home::before { content: "\F425"; }
  &-code::before { content: "\F2C6"; }
  &-bulb::before { content: "\F46B"; }
  &-images::before { content: "\F42B"; }
  &-person-heart::before { content: "\F77A"; }
  &-like::before { content: "\F406"; }
  &-loading::before { content: "\F130"; }
}
