@import "icons-variables";

@font-face {
  font-family: '@{font-family}';
  src: url('@{font-path}/icons.ttf?@{version}') format('truetype'),
  url('@{font-path}/icons.woff?@{version}') format('woff'),
  url('@{font-path}/icons.svg?@{version}#ifuyun') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon::before, [class^="icon-"]::before, [class*=" icon-"]::before {
  display: inline-block;
  font-family: '@{font-family}' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.077em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alipay:before { content: @icon-alipay; }
.icon-archive:before { content: @icon-archive; }
.icon-arrow-left:before { content: @icon-arrow-left; }
.icon-arrow-right:before { content: @icon-arrow-right; }
.icon-book:before { content: @icon-book; }
.icon-bulb:before { content: @icon-bulb; }
.icon-calendar:before { content: @icon-calendar; }
.icon-camera-fill:before { content: @icon-camera-fill; }
.icon-camera:before { content: @icon-camera; }
.icon-chat:before { content: @icon-chat; }
.icon-chat-dots:before { content: @icon-chat-dots; }
.icon-clock:before { content: @icon-clock; }
.icon-close:before { content: @icon-close; }
.icon-cloud-download-fill:before { content: @icon-cloud-download-fill; }
.icon-cloud-download:before { content: @icon-cloud-download; }
.icon-code:before { content: @icon-code; }
.icon-copyright:before { content: @icon-copyright; }
.icon-dashboard:before { content: @icon-dashboard; }
.icon-dislike:before { content: @icon-dislike; }
.icon-dislike-fill:before { content: @icon-dislike-fill; }
.icon-double-right:before { content: @icon-double-right; }
.icon-error:before { content: @icon-error; }
.icon-eye:before { content: @icon-eye; }
.icon-fire:before { content: @icon-fire; }
.icon-folder:before { content: @icon-folder; }
.icon-github:before { content: @icon-github; }
.icon-heart:before { content: @icon-heart; }
.icon-heart-fill:before { content: @icon-heart-fill; }
.icon-home:before { content: @icon-home; }
.icon-image:before { content: @icon-image; }
.icon-images:before { content: @icon-images; }
.icon-info:before { content: @icon-info; }
.icon-left:before { content: @icon-left; }
.icon-like:before { content: @icon-like; }
.icon-like-fill:before { content: @icon-like-fill; }
.icon-link-45deg:before { content: @icon-link-45deg; }
.icon-loading:before { content: @icon-loading; }
.icon-lock:before { content: @icon-lock; }
.icon-login:before { content: @icon-login; }
.icon-logout:before { content: @icon-logout; }
.icon-menu:before { content: @icon-menu; }
.icon-pencil:before { content: @icon-pencil; }
.icon-person-heart:before { content: @icon-person-heart; }
.icon-qq:before { content: @icon-qq; }
.icon-reply:before { content: @icon-reply; }
.icon-reply-fill:before { content: @icon-reply-fill; }
.icon-right:before { content: @icon-right; }
.icon-rss-fill:before { content: @icon-rss-fill; }
.icon-search:before { content: @icon-search; }
.icon-send-fill:before { content: @icon-send-fill; }
.icon-send:before { content: @icon-send; }
.icon-share-fill:before { content: @icon-share-fill; }
.icon-shuffle:before { content: @icon-shuffle; }
.icon-star:before { content: @icon-star; }
.icon-star-fill:before { content: @icon-star-fill; }
.icon-success:before { content: @icon-success; }
.icon-tag:before { content: @icon-tag; }
.icon-user:before { content: @icon-user; }
.icon-vertical-align-top:before { content: @icon-vertical-align-top; }
.icon-warning:before { content: @icon-warning; }
.icon-wechat:before { content: @icon-wechat; }
.icon-weibo:before { content: @icon-weibo; }
