@import "icon-variables";

@font-face {
  font-family: '@{font-family}';
  src:
    url('@{font-path}/icons.ttf?@{font-version}') format('truetype'),
    url('@{font-path}/icons.woff?@{font-version}') format('woff'),
    url('@{font-path}/icons.svg?@{font-version}#@{font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.fi {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '@{font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fi-calendar-date::before { content: @fi-calendar-date; }
.fi-chat-square::before { content: @fi-chat-square; }
.fi-chat-square-dots::before { content: @fi-chat-square-dots; }
.fi-check-lg::before { content: @fi-check-lg; }
.fi-copy::before { content: @fi-copy; }
.fi-download::before { content: @fi-download; }
.fi-pencil::before { content: @fi-pencil; }
.fi-share-fill::before { content: @fi-share-fill; }
