@font-family: "ifuyun";
@font-path: "/assets/fonts";
@version: "5b3aqw";

@icon-alipay: "\e900";
@icon-archive: "\e901";
@icon-arrow-left: "\e902";
@icon-arrow-right: "\e903";
@icon-book: "\e904";
@icon-bulb: "\e905";
@icon-calendar: "\e906";
@icon-camera: "\e907";
@icon-camera-fill: "\e908";
@icon-chat: "\e909";
@icon-chat-dots: "\e90a";
@icon-clock: "\e90b";
@icon-close: "\e90c";
@icon-cloud-download: "\e90d";
@icon-cloud-download-fill: "\e90e";
@icon-code: "\e90f";
@icon-copyright: "\e910";
@icon-dashboard: "\e911";
@icon-dislike: "\e912";
@icon-dislike-fill: "\e913";
@icon-double-right: "\e914";
@icon-error: "\e915";
@icon-eye: "\e916";
@icon-fire: "\e917";
@icon-folder: "\e918";
@icon-github: "\e919";
@icon-heart: "\e91a";
@icon-heart-fill: "\e91b";
@icon-home: "\e91c";
@icon-image: "\e91d";
@icon-images: "\e91e";
@icon-info: "\e91f";
@icon-left: "\e920";
@icon-like: "\e921";
@icon-like-fill: "\e922";
@icon-link-45deg: "\e923";
@icon-loading: "\e924";
@icon-lock: "\e925";
@icon-login: "\e926";
@icon-logout: "\e927";
@icon-menu: "\e928";
@icon-pencil: "\e929";
@icon-person-heart: "\e92a";
@icon-qq: "\e92b";
@icon-reply: "\e92c";
@icon-reply-fill: "\e92d";
@icon-right: "\e92e";
@icon-rotate-left: "\e92f";
@icon-rotate-right: "\e930";
@icon-rss-fill: "\e931";
@icon-search: "\e932";
@icon-send: "\e933";
@icon-send-fill: "\e934";
@icon-share-fill: "\e935";
@icon-shuffle: "\e936";
@icon-star: "\e937";
@icon-star-fill: "\e938";
@icon-success: "\e939";
@icon-tag: "\e93a";
@icon-user: "\e93b";
@icon-vertical-align-top: "\e93c";
@icon-warning: "\e93d";
@icon-wechat: "\e93e";
@icon-weibo: "\e93f";
@icon-zoom-in: "\e940";
@icon-zoom-out: "\e941";
