@import "variables";

.post-list {
  .post-item {
    @article-header-height: 32px;

    border-radius: @primary-border-radius;
    background-color: var(--content-bg-color);
    box-shadow: var(--content-box-shadow);
    line-height: @post-line-height;

    &:hover {
      background-color: var(--post-item-hover-color);
    }

    .icon {
      margin-right: 4px;
    }

    header {
      position: relative;

      h3 {
        display: flex;
        height: @article-header-height;
        margin-right: 108px;
        align-items: center;
        font-size: @header-font-size;
        font-weight: @header-font-weight;
        line-height: @article-header-height;

        a {
          display: inline-block;
          max-width: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .meta-tag {
      flex-shrink: 0;
      margin-right: 8px;
      padding: 4px 8px;
      border-radius: 2px;
      line-height: 1;
      font-size: @minor-font-size;
      font-weight: normal;
    }

    .meta-tag-sticky {
      background-color: var(--sticky-bg-color);
      color: var(--sticky-color);
      font-size: @minor-font-size;
    }

    .meta-tag-pay, .meta-tag-vip {
      background-color: var(--action-color-light);
      color: var(--action-color);
      border: 1px solid var(--action-color);
    }

    .post-item-stat, .post-item-meta {
      color: var(--minor-color);
      font-size: @meta-font-size;

      a {
        color: var(--minor-color);

        &:hover {
          color: var(--primary-color);
        }
      }
    }

    .post-item-stat {
      position: absolute;
      top: 0;
      right: 0;
      line-height: @article-header-height;

      > :not(:last-child) {
        margin-right: 12px;
      }
    }

    .post-item-meta {
      padding: 8px 0;
    }

    .post-item-meta-top {
      display: flex;

      > span {
        &.auto-fit {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        &:not(.auto-fit) {
          flex-shrink: 0;
        }

        &:not(:last-child)::after {
          margin: 0 10px;
          content: '|';
        }
      }

      a:not(:last-child) {
        margin-right: 8px;
      }
    }

    .post-item-meta-bottom {
      margin-top: 8px;
      padding-bottom: 0;
      border-top: 1px dashed var(--primary-border-color);

      .icon {
        line-height: @post-line-height + @tag-row-span * 2;
      }

      .post-item-meta-taxonomy {
        &:not(:last-child) {
          margin-bottom: 4px;
        }

        .post-item-meta-icon {
          float: left;
        }

        .post-item-meta-info {
          padding-left: 20px;
        }

        ul li, .post-item-meta-info-text {
          display: inline-block;
          padding: @tag-row-span 0;
        }

        ul li:not(:last-child) {
          margin-right: 8px;
        }

        a {
          padding: 4px 8px;
          border-radius: 2px;
          color: var(--minor-color);
          background-color: var(--tag-bg-color);

          &:hover {
            color: var(--tag-active-color);
            background-color: var(--primary-color);
          }
        }
      }
    }

    .post-item-excerpt {
      display: flex;
      justify-content: space-between;
      word-wrap: break-word;

      a:hover {
        text-decoration: underline;
      }

      .read-more {
        margin-left: 4px;
      }
    }

    .post-item-thumb {
      position: relative;
      flex-shrink: 0;
      border-radius: (@primary-border-radius / 2);
      overflow: hidden;

      &:hover {
        .post-thumb-link {
          transform: scale(1.08);
        }

        .overlay {
          opacity: 0.5;
        }
      }

      .post-thumb-link {
        display: block;
        transition: transform .5s;
      }

      .overlay {
        position: absolute;
        inset: 0;
        background-color: var(--overlay-bg-color);
        opacity: 0;
        transition: @overlay-transition;
      }
    }
  }

  .post-item-desktop {
    padding: @primary-margin @post-list-padding;
  }

  .post-item-mobile {
    padding: @m-content-margin @m-content-padding;
  }
}

.post-list-desktop {
  margin: 0 @box-shadow-width;

  .post-item {
    &:not(:last-child) {
      margin-bottom: @primary-margin;
    }

    &:not(:first-child) {
      margin-top: @primary-margin;
    }
  }

  .post-item-excerpt {
    flex-direction: row;
  }

  .post-item-thumb {
    @thumb-width: 210px;

    margin-right: @primary-margin;

    img {
      display: inline-block;
      width: @thumb-width;
      height: (@thumb-width * 9 / 16);
    }
  }
}

.post-list-mobile {
  .post-item {
    &:not(:last-child) {
      margin-bottom: @m-primary-margin;
    }

    &:not(:first-child) {
      margin-top: @m-primary-margin;
    }
  }

  .post-item-excerpt {
    flex-direction: column;
  }

  .post-item-thumb {
    margin-bottom: 8px;
    text-align: center;

    img {
      max-width: 100%;
    }
  }
}
