@import "variables";

.post, .comment {
  border-radius: @border-radius;
  background-color: @content-background-color;
  box-shadow: @content-box-shadow;

  &-desktop {
    margin: @box-shadow-width;

    .divider {
      margin: 0 20px;
    }
  }

  &-mobile {
    .divider {
      margin: 0 @m-primary-margin;
    }
  }
}

.post {
  position: relative;
  overflow: hidden;

  .icon-custom {
    font-style: normal;
  }

  .original-sign {
    @sign-offset: 24px;
    @sign-height: 24px;
    @sign-width: @sign-offset * 2 * 1.41421356 + @sign-height;
    position: absolute;
    top: @sign-offset - (@sign-height / 2);
    left: @sign-offset - (@sign-width / 2);
    width: @sign-width;
    height: @sign-height;
    line-height: @sign-height;
    transform: rotate(-45deg);
    transform-origin: center;
    text-align: center;
    background-color: @primary-color;
    color: #fff;
    font-size: @minor-font-size;
    font-weight: 700;
  }

  &-desktop {
    .post-header {
      padding: @content-header-margin @content-margin 4px;
    }

    .post-content {
      padding: @content-margin;
    }

    .post-footer {
      padding: 0 @content-margin @content-margin;

      .post-more-prev, .post-more-next {
        width: 50%;
      }
    }

    .pay-body {
      margin: @content-margin;
    }

    .wechat-card {
      margin: @content-margin 0;
    }
  }

  &-mobile {
    .post-header {
      padding: @m-content-header-margin @m-primary-margin 4px;
    }

    .post-content {
      padding: @m-primary-margin;
    }

    .post-footer {
      padding: 0 @m-primary-margin @m-primary-margin;

      .post-more-prev, .post-more-next {
        width: 100%;
      }
    }

    .pay-body {
      margin: @m-primary-margin;
    }

    .wechat-card {
      margin: @m-primary-margin;
    }
  }

  .post-header {
    text-align: center;

    .post-title {
      margin-bottom: 12px;
      line-height: 32px;
      font-size: 20px;
      font-weight: normal;

      > a {
        color: @base-color;

        &:hover {
          color: @primary-color;
        }
      }
    }

    .icon, .icon-custom {
      margin-right: 4px;
    }
  }

  .post-meta {
    line-height: @post-line-height;
    color: @minor-meta-color;
    font-size: @meta-font-size;

    &-top {
      margin-bottom: 8px;
      padding: 0 @content-margin;

      > span:not(:last-child):after {
        content: '|';
        display: inline-block;
        position: relative;
        top: -2px;
        margin: 0 10px;
        vertical-align: middle;
      }

      a:not(:last-child) {
        margin-right: 8px;
      }
    }

    a {
      color: @minor-meta-color;

      &:hover {
        color: @primary-color;
      }
    }
  }

  .post-content {
    line-height: 1.71428571em;
    word-wrap: break-word;
    text-align: justify;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }

    p, section, blockquote, pre, ol, ul {
      margin: @primary-margin 0;
    }

    a {
      &:hover {
        text-decoration: underline;
      }

      img {
        cursor: pointer;
      }
    }

    img {
      box-sizing: border-box;
      display: block;
      max-width: 100%;
      margin: 0 auto;
      cursor: zoom-in;
    }

    figcaption {
      margin-top: 12px;
      color: @img-figcaption-color;
      font-size: 13px;
      text-align: center;
    }

    h1, h2, h3, h4, h5, h6 {
      margin: @content-margin 0;
      line-height: 1.6em;
    }

    h1 {
      font-size: 16px;
    }

    h2 {
      font-size: 15px;
    }

    h3, h4, h5, h6 {
      font-size: @primary-font-size;
    }

    h2 {
      padding-left: 10px;
      border-left: 4px solid @primary-color;
    }

    blockquote {
      padding-top: 4px;
      padding-left: 12px;
      border-left: 3px solid #dbdbdb;
      color: rgba(0, 0, 0, .5);

      > :first-child {
        margin-top: 0;
      }

      > :last-child {
        margin-bottom: 0;
      }
    }

    pre, code {
      background: rgba(0, 0, 0, .03);
    }

    pre {
      display: flex;
      border-radius: @border-radius;
      box-shadow: @content-box-shadow;
      overflow: hidden;

      ul.i-code-lines, code.i-code-text {
        padding: 8px 12px;
      }

      ul.i-code-lines {
        margin: 0;
        border-right: 1px solid @code-border-color;
        list-style: none;
        text-align: right;

        li {
          margin: 0;
        }
      }

      code.i-code-text {
        width: max-content;
        padding: 8px @primary-margin;
        background-color: transparent;
        overflow: auto;
      }
    }

    code {
      padding: 2px 6px;
      border-radius: 2px;
      color: @base-color;
    }

    ol, ul {
      padding-left: @content-list-padding-left;

      p {
        margin: 0;
      }

      li:not(:last-child) {
        margin-bottom: @primary-margin;
      }
    }

    ul {
      list-style: disc;
    }

    ol {
      list-style: decimal;
    }

    table {
      margin: 0 auto;

      td, th {
        padding: 5px 10px;
        border: 1px solid #ddd;
        word-wrap: break-word;
        word-break: break-all;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
      }

      th {
        background-color: @tag-background-color;
      }
    }

    hr {
      border-top: 1px solid @primary-border-color;
      border-bottom: none;
      border-left: none;
      border-right: none;
    }
  }

  .post-footer {
    .icon, .icon-custom {
      margin-right: 4px;
      line-height: @post-line-height + @tag-row-span * 2;
    }

    .post-meta {
      &:not(:last-child) {
        margin-bottom: 4px;
      }

      .post-meta-icon {
        float: left;
      }

      .post-meta-info {
        padding-left: 20px;
      }

      ul li, .post-meta-info-text {
        display: inline-block;
        padding: @tag-row-span 0;
      }

      ul li:not(:last-child) {
        margin-right: 8px;
      }

      ul a {
        padding: 4px 8px;
        border-radius: 2px;
        color: @minor-color;
        background-color: @tag-background-color;

        &:hover {
          color: @content-background-color;
          background-color: @primary-color;
        }
      }
    }

    .post-actions {
      @button-height: 36px;
      @button-padding: 12px;
      display: flex;
      position: relative;
      margin: @content-margin;
      justify-content: center;

      > div {
        position: relative;
      }

      button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: @button-height;
        padding: 0 @button-padding;
        border-width: 1px 0 1px 1px;
        border-style: solid;
        border-color: @action-color;
        line-height: @button-height;
        background: transparent;
        color: @action-color;
        cursor: pointer;
        transition: background-color .1s, color .1s;
        -webkit-appearance: button;

        &:first-child {
          border-top-left-radius: @border-radius;
          border-bottom-left-radius: @border-radius;
        }

        &:last-child {
          border-right-width: 1px;
          border-top-right-radius: @border-radius;
          border-bottom-right-radius: @border-radius;
        }

        &:not(.button-like):hover {
          background-color: @action-color;
          color: #fff;
        }

        &.liked {
          background-color: @action-color;
          color: #fff;
          opacity: .8;
          cursor: not-allowed;
        }

        .icon {
          margin: 0;
          line-height: @button-height;
          font-size: 16px;
        }

        .text {
          margin-left: 8px;
          font-size: @primary-font-size;
          font-weight: 700;
        }
      }

      .button-like {
        &:not(.liked):hover {
          .parkinson-mask {
            visibility: visible;
            transition: opacity .25s, visibility .25s;
            transition-delay: .1s;
            opacity: 1;

            .icon {
              margin-left: 50%;
              transition: transform .25s, margin .25s;
              transition-delay: .5s;
              animation: pre-like-icon .2s infinite;
              animation-delay: .75s;
              transform: translateY(-2px) translate(-50%);
            }
          }
        }

        &.loading {
          .loading-mask {
            visibility: visible;
            opacity: 1;
          }
        }
      }

      .parkinson-mask, .loading-mask {
        box-sizing: border-box;
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 0 @button-padding + 1;
        border-radius: 4px;
        background-color: #ff5722;
        color: #fff;
        opacity: 0;
        visibility: hidden;
        z-index: 9;
      }

      .loading-mask {
        justify-content: center;
      }
    }

    .post-link {
      @link-padding: 6px;

      display: flex;
      margin-top: @content-margin;
      margin-left: -@link-padding;
      margin-right: -@link-padding;
      flex-direction: row;
      justify-content: space-between;

      a:hover {
        text-decoration: underline;
      }

      .post-link-prev, .post-link-next {
        box-sizing: border-box;
        width: 50%;
        padding: 0 @link-padding;
      }

      .post-link-prev a {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        .post-link-text:before {
          content: '<';
          margin-right: 8px;
        }
      }

      .post-link-next a {
        display: inline-flex;
        width: 100%;
        justify-content: flex-end;

        .post-link-text {
          margin-right: 8px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }

    .post-more {
      display: flex;
      flex-wrap: wrap;
      margin: (@content-margin - (@content-margin / 2)) -(@content-margin / 2) -(@content-margin / 2);

      .post-more-prev, .post-more-next {
        box-sizing: border-box;
        position: relative;
        padding: (@primary-margin / 2);

        &:hover {
          .post-more-photo-content {
            transform: scale(1.08);
          }

          .post-more-photo-overlay {
            opacity: 0.5;
          }
        }
      }

      .post-more-next {
        .post-more-content {
          align-items: flex-end;
        }

        .post-more-content-title {
          text-align: right;
        }
      }

      .post-more-photo {
        height: 120px;
        overflow: hidden;

        &, .post-more-photo-content, .post-more-photo-overlay {
          border-radius: @border-radius * 2;
        }

        .post-more-photo-content {
          height: 100%;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          transition: transform .5s;
        }

        .post-more-photo-overlay {
          position: absolute;
          inset: 0;
          margin: (@primary-margin / 2);
          background-color: @overlay-background-color;
          opacity: 0;
          transition: @overlay-transition;
        }
      }

      .post-more-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        inset: 0;
        padding: (@content-margin / 2) @content-margin;
        color: @post-more-color;
        text-shadow: @content-text-shadow;

        .post-more-content-title {
          width: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      .post-more-link {
        position: absolute;
        inset: 0;
        display: block;
      }
    }
  }

  .pay-mask {
    position: relative;
    height: 160px;
    margin-top: -160px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
  }

  .pay-body {
    color: #7f7f7f;
    text-align: center;

    .pay-separator {
      position: relative;

      .line {
        width: 240px;
        margin: 0 auto;
        border-top: 1px dashed @primary-border-color;
      }

      .text-wrap {
        display: flex;
        justify-content: center;
        line-height: 24px;
        font-size: 13px;
      }

      .text {
        margin-top: -13px;
        padding: 0 8px;
        background-color: #fff;
      }
    }

    .pay-icon {
      margin: 16px 0;
      font-size: 32px;
    }

    .keyword {
      color: @highlight-color;
    }
  }

  .wechat-card {
    text-align: center;

    img {
      width: 420px;
      max-width: 100%;
      cursor: zoom-in;
    }
  }
}

.comment {
  @form-row-margin: 16px;
  @form-item-margin: 8px;
  @form-item-border-radius: 2px;
  @captcha-input-width: 120px;
  @captcha-img-width: 80px;

  &-desktop {
    margin-top: @primary-margin;

    .comment-list, .comment-form {
      padding: @content-margin;
    }

    .comment-form {
      .form-row {
        &:not(.form-btns) {
          margin: 0 -(@form-item-margin / 2);

          > * {
            width: 100%;
            padding: 0 (@form-item-margin / 2);
          }
        }
      }

      .captcha-wrapper {
        display: flex;
        flex-basis: @captcha-input-width + @captcha-img-width + @form-item-margin;

        .input-captcha {
          max-width: @captcha-input-width;
        }
      }
    }
  }

  &-mobile {
    margin-top: @m-primary-margin;

    .comment-list, .comment-form {
      padding: @m-primary-margin;
    }

    .comment-form {
      .form-row {
        &:not(.form-btns) {
          flex-direction: column;

          > :not(:last-child) {
            margin-bottom: @form-row-margin;
          }
        }
      }

      .captcha-wrapper {
        display: flex;

        .input-captcha {
          flex-grow: 1;
        }
      }
    }
  }

  .comment-list {
    @avatar-size: 50px;
    @m-avatar-size: 32px;
    line-height: @post-line-height;
    overflow: hidden;

    .comment-item {
      overflow: hidden;

      &:not(:first-child) {
        border-top: 1px dashed @primary-border-color;
      }

      .from {
        display: inline-flex;

        .name {
          margin-right: 8px;
          color: @primary-meta-color;
          white-space: nowrap;
        }

        .location {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      .location, .time, .hash {
        font-size: @meta-font-size;
      }

      .parent {
        margin-bottom: 8px;
        padding-left: 8px;
        border-left: 4px solid rgba(0, 0, 0, .3);
        font-size: @minor-font-size;

        .text {
          margin-right: 4px;
          color: @minor-meta-color;
        }

        .author {
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }

      .actions {
        > :not(:last-child) {
          margin-right: 12px;
        }

        a {
          color: @minor-color;

          &:not(.disabled):hover {
            color: @primary-color;
            cursor: pointer;
          }

          &.voted {
            color: @action-color;
          }

          &.disabled {
            cursor: not-allowed;
          }
        }

        .icon {
          margin-right: 4px;
        }
      }
    }

    .comment-item-desktop {
      &:not(:first-child) {
        margin-top: @primary-margin;
        padding-top: @primary-margin;
      }

      .meta {
        display: flex;
        justify-content: space-between;
        color: @minor-color;

        .info {
          display: flex;
          overflow: hidden;
        }

        .avatar {
          margin-right: 8px;

          img {
            width: @avatar-size;
            height: @avatar-size;
            border-radius: @border-radius;
          }
        }

        .author {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          overflow: hidden;
        }

        .hash {
          width: 100px;
          text-align: right;

          a {
            color: @minor-color;

            &:hover {
              color: @primary-color;
            }
          }
        }
      }

      .content {
        margin: @primary-margin 0;
      }

      .actions {
        font-size: @minor-font-size;
      }
    }

    .comment-item-mobile {
      display: flex;

      &:not(:first-child) {
        margin-top: @m-primary-margin;
        padding-top: @m-primary-margin;
      }

      .avatar {
        margin-right: 0.8rem;

        img {
          width: @m-avatar-size;
          height: @m-avatar-size;
          border-radius: @border-radius;
        }
      }

      .body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: hidden;

        .from, .meta {
          color: @minor-color;
        }

        .content {
          margin: @m-content-margin 0;
        }

        .meta {
          display: flex;
          justify-content: space-between;
        }

        .actions {
          font-size: @meta-font-size;
        }
      }
    }

    .comment-form {
      margin-top: @primary-margin;
      padding: @primary-margin 0 0;
      border-top: 1px dashed @primary-border-color;
    }
  }

  .comment-form {
    .form-row {
      display: flex;
      justify-content: space-between;

      &:not(:last-child) {
        margin-bottom: @form-row-margin;
      }

      &:not(:first-child) {
        margin-top: @form-row-margin;
      }

      .flex {
        flex-grow: 1;
        flex-shrink: 1;

        .input {
          width: 100%;
        }
      }
    }

    .form-btns {
      justify-content: center;
    }

    .input, .button, .captcha {
      box-sizing: border-box;
      border-radius: @form-item-border-radius;
    }

    .input-captcha {
      min-width: @captcha-input-width;
      margin-right: @form-item-margin;
    }

    .captcha {
      width: @captcha-img-width;
      cursor: pointer;
    }

    .input-textarea {
      display: block;
    }

    .button:not(:last-child) {
      margin-right: @primary-margin;
    }

    .ng-touched.ng-invalid:not(form) {
      border: 1px solid @input-invalid-color;
    }
  }
}

.divider {
  height: 1px;
  border-top: 1px solid @primary-border-color;

  &-dashed {
    border-top-style: dashed;
  }
}

@keyframes pre-like-icon {
  0% {
    transform: translateY(-2px) translate(-40%)
  }

  20% {
    transform: translateY(0) translate(-43%)
  }

  40% {
    transform: translateY(-3px) translate(-48%)
  }

  60% {
    transform: translateY(0) translate(-43%)
  }

  80% {
    transform: translateY(2px) translate(-50%)
  }

  to {
    transform: translateY(-2px) translate(-42%)
  }
}
