@import "variables";

:root {
  &[data-theme='light'] {
    --base-color: @base-color;
    --base-font-color: @base-color;
    --base-bg-color: #f6f6f6;
    --primary-color: @primary-color;
    --minor-color: #999;
    --primary-border-color: #eee;
    --minor-border-color: #e9e9e9;
    --header-color: var(--base-color);
    --header-bg-color: rgba(255, 255, 255, .72);
    --header-bg-color-moz: rgba(242, 242, 242, 1);
    --header-border: none;
    --header-subnav-color: var(--header-color);
    --header-subnav-bg-color: #fff;
    --footer-color: #7e7e7e;
    --footer-bg-color: #f3f3f3;
    --footer-border: 1px solid var(--minor-border-color);
    --content-bg-color: #fff;
    --content-box-bg-color: #fff;
    --content-selection-color: var(--content-bg-color);
    --active-color: #40a9ff;
    --primary-meta-color: rgba(0, 0, 0, .68);
    --minor-meta-color: rgba(0, 0, 0, .38);
    --btn-color: rgba(0, 0, 0, 0.85);
    --btn-submit-color: #fff;
    --btn-disabled-color: rgba(0, 0, 0, .25);
    --btn-disabled-bg-color: #f5f5f5;
    --btn-disabled-border-color: #d9d9d9;
    --btn-bg-color: #fff;
    --tag-bg-color: #f5f5f5;
    --tag-active-color: #fff;
    --action-color: #ff4d4f;
    --action-color-light: rgba(255, 85, 0, .16);
    --sticky-color: #fff;
    --sticky-bg-color: #ff4d4f;
    --sticky-border-color: var(--primary-color);
    --highlight-color: var(--action-color);
    --error-color: #f5222d;
    --content-box-shadow: 0 0 @box-shadow-width rgba(0, 0, 0, .2);
    --content-text-shadow: 0 0 0 #efefef, 0 0 2px rgb(0 0 0 / 60%), 0 0 4px rgb(0 0 0 / 60%);
    --overlay-bg-color: rgba(0, 0, 0, .45);
    --page-bar-color: #666;
    --mask-bg-color: rgba(255, 255, 255, .72);
    --toolbox-border-color: var(--minor-border-color);

    --img-figcaption-color: #aaa;
    --post-item-hover-color: #fafafa;
    --post-pre-border-color: rgba(255, 255, 255, .4);
    --post-pre-bg-color: #202020;
    --post-pre-code-color: rgba(255, 255, 255, .65);
    --post-pre-code-info-bg-color: #343541;
    --post-code-bg-color: rgba(0, 0, 0, .05);
    --post-quote-color: rgba(0, 0, 0, .5);
    --post-quote-border-color: #dbdbdb;
    --post-more-color: #efefef;
    --post-pay-separator-bg-color: #fff;
    --comment-border-color: rgba(0, 0, 0, .3);

    --wallpaper-item-bg-color: #fff;
    --wallpaper-content-color: var(--post-more-color);
    --wallpaper-content-bg-color: rgba(51, 51, 51, .5);
    --wallpaper-content-text-shadow: var(--content-text-shadow);
    --wallpaper-action-bg-color: rgba(255, 255, 255, .8);

    --login-bg-color: #fff;
    --login-github-bg-color: #fff;
    --login-github-color: #0d1117;

    --input-border-color: var(--minor-border-color);
    --input-required-color: #ff4d4f;
    --input-invalid-color: #ff4d4f;
    --input-bg-color: #fff;
    --input-placeholder-color: hsv(0, 0, 75%);

    --goods-bg-color: transparent;

    --empty-bg-color: #fff;
    --empty-ellipse: #f5f5f5;
    --empty-ellipse-opacity: 1;
    --empty-g: #d9d9d9;
    --empty-path: #fafafa;

    --m-sider-font-color: #fff;
    --m-sider-bg-color: #34393d;
    --m-sider-border-color: #2d3135;

    // antd variables
    --text-color: fade(#000, 85%);
    --popover-background: #fff;
    --border-color-split: hsv(0, 0, 94%);
    --text-color-secondary: fade(#000, 45%);
    --icon-color-hover: fade(#000, 75%);
  }

  &[data-theme='dark'] {
    --base-color: rgba(255, 255, 255, .8);
    --base-font-color: @base-color;
    --base-bg-color: #111;
    --primary-bg-color: rgba(255, 255, 255, .05);
    --primary-color: @primary-color;
    --minor-color: rgba(255, 255, 255, .3);
    --primary-border-color: #404040;
    --minor-border-color: #404040;
    --header-color: var(--base-color);
    --header-bg-color: rgba(32, 32, 32, .72);
    --header-bg-color-moz: #202020;
    --header-border: 1px solid #202020;
    --header-subnav-color: #333;
    --header-subnav-bg-color: #f6f6f6;
    --footer-color: #7e7e7e;
    --footer-bg-color: #202020;
    --footer-border: none;
    --content-bg-color: #202020;
    --content-box-bg-color: #202020;
    --content-selection-color: #fff;
    --active-color: #40a9ff;
    --primary-meta-color: rgba(0, 0, 0, .68);
    --minor-meta-color: rgba(255, 255, 255, .3);
    --btn-color: #fff;
    --btn-submit-color: #fff;
    --btn-disabled-color: #888;
    --btn-disabled-bg-color: #d9d9d9;
    --btn-disabled-border-color: var(--btn-disabled-bg-color);
    --btn-bg-color: var(--primary-bg-color);
    --tag-bg-color: var(--primary-bg-color);
    --tag-active-color: #fff;
    --action-color: #ff4d4f;
    --action-color-light: rgba(255, 85, 0, .16);
    --sticky-color: #fff;
    --sticky-bg-color: #ff4d4f;
    --sticky-border-color: var(--primary-color);
    --highlight-color: var(--action-color);
    --error-color: #f5222d;
    --content-box-shadow: 0 0 @box-shadow-width rgba(0, 0, 0, .2);
    --content-text-shadow: 0 0 0 #efefef, 0 0 2px rgb(0 0 0 / 60%), 0 0 4px rgb(0 0 0 / 60%);
    --overlay-bg-color: rgba(0, 0, 0, .45);
    --page-bar-color: var(--base-color);
    --mask-bg-color: rgba(51, 51, 51, .5);
    --toolbox-border-color: rgba(0, 0, 0, .25);

    --img-figcaption-color: rgba(255, 255, 255, .4);
    --post-item-hover-color: #202020;
    --post-pre-border-color: rgba(255, 255, 255, .4);
    --post-pre-bg-color: #202020;
    --post-pre-code-color: rgba(255, 255, 255, .65);
    --post-pre-code-info-bg-color: #343541;
    --post-code-bg-color: #303030;
    --post-quote-color: rgba(255, 255, 255, .3);
    --post-quote-border-color: #404040;
    --post-more-color: #efefef;
    --post-pay-separator-bg-color: transparent;
    --comment-border-color: rgba(255, 255, 255, .3);

    --wallpaper-item-bg-color: #202020;
    --wallpaper-content-color: var(--post-more-color);
    --wallpaper-content-bg-color: rgba(51, 51, 51, .5);
    --wallpaper-content-text-shadow: var(--content-text-shadow);
    --wallpaper-action-bg-color: rgba(255, 255, 255, .8);

    --login-bg-color: #202020;
    --login-github-bg-color: var(--login-github-bg-color);
    --login-github-color: #fff;

    --input-border-color: var(--minor-border-color);
    --input-required-color: #ff4d4f;
    --input-invalid-color: #ff4d4f;
    --input-bg-color: #202020;
    --input-placeholder-color: fade(#ffffff, 30%);

    --goods-bg-color: #202020;

    --empty-bg-color: #202020;
    --empty-ellipse: #fff;
    --empty-ellipse-opacity: .08;
    --empty-g: #434343;
    --empty-path: #262626;

    --m-sider-font-color: #fff;
    --m-sider-bg-color: #34393d;
    --m-sider-border-color: #2d3135;

    // antd variables
    --text-color: fade(#fff, 85%);
    --popover-background: #1f1f1f;
    --border-color-split: #303030;
    --text-color-secondary: fade(#fff, 45%);
    --icon-color-hover: fade(#fff, 75%);
  }
}
