@import "variables";

:root {
  &[data-theme='light'] {
    --base-color: #333;
    --base-font-color: #333;
    --base-background-color: #f6f6f6;
    --primary-color: #1890ff;
    --minor-color: #999;
    --primary-border-color: #eee;
    --minor-border-color: #e9e9e9;
    --header-color: #333;
    --header-background-color: rgba(255, 255, 255, .72);
    --header-background-color-moz: rgba(242, 242, 242, 1);
    --header-border: none;
    --header-subnav-color: var(--header-color);
    --header-subnav-background: #fff;
    --footer-color: #7e7e7e;
    --footer-background-color: #f3f3f3;
    --footer-border: 1px solid var(--minor-border-color);
    --content-background-color: #fff;
    --content-box-background-color: #fff;
    --content-selection-color: var(--content-background-color);
    --active-color: #40a9ff;
    --primary-meta-color: rgba(0, 0, 0, .68);
    --minor-meta-color: rgba(0, 0, 0, .38);
    --btn-color: rgba(0, 0, 0, 0.85);
    --btn-submit-color: #fff;
    --btn-disabled-color: rgba(0, 0, 0, .25);
    --btn-disabled-background-color: #f5f5f5;
    --btn-disabled-border-color: #d9d9d9;
    --btn-background-color: #fff;
    --tag-background-color: #f5f5f5;
    --tag-active-color: #fff;
    --action-color: #ff4d4f;
    --action-color-light: rgba(255, 85, 0, .16);
    --sticky-color: #fff;
    --sticky-background-color: #ff4d4f;
    --sticky-border-color: var(--primary-color);
    --highlight-color: var(--action-color);
    --error-color: #f5222d;
    --content-box-shadow: 0 0 @box-shadow-width rgba(0, 0, 0, .2);
    --content-text-shadow: 0 0 0 #efefef, 0 0 2px rgb(0 0 0 / 60%), 0 0 4px rgb(0 0 0 / 60%);
    --overlay-background-color: rgba(0, 0, 0, .45);
    --page-bar-color: #666;
    --mask-background-color: rgba(255, 255, 255, .72);
    --toolbox-border-color: var(--minor-border-color);

    --img-figcaption-color: #aaa;
    --post-item-hover-color: #fafafa;
    --post-pre-border-color: var(--minor-border-color);
    --post-pre-background-color: rgba(0, 0, 0, .03);
    --post-code-background-color: rgba(0, 0, 0, .05);
    --post-quote-color: rgba(0, 0, 0, .5);
    --post-quote-border-color: #dbdbdb;
    --post-more-color: #efefef;
    --comment-border-color: rgba(0, 0, 0, .3);

    --wallpaper-item-background-color: transparent;
    --wallpaper-content-color: var(--post-more-color);
    --wallpaper-content-background-color: rgba(51, 51, 51, .5);
    --wallpaper-content-text-shadow: var(--content-text-shadow);
    --wallpaper-action-background-color: rgba(255, 255, 255, .8);

    --input-border-color: var(--minor-border-color);
    --input-required-color: #ff4d4f;
    --input-invalid-color: #ff4d4f;
    --input-background-color: #fff;

    --goods-background-color: transparent;

    --empty-background-color: #fff;
    --empty-ellipse: #f5f5f5;
    --empty-g: #d9d9d9;
    --empty-path: #fafafa;

    --m-sider-font-color: #fff;
    --m-sider-background-color: #34393d;
    --m-sider-border-color: #2d3135;
  }

  &[data-theme='dark'] {
    --base-color: rgba(255, 255, 255, .6);
    --base-font-color: #333;
    --base-background-color: #111;
    --primary-background-color: rgba(255, 255, 255, .05);
    --primary-color: #1890ff;
    --minor-color: rgba(255, 255, 255, .3);
    --primary-border-color: #404040;
    --minor-border-color: #404040;
    --header-color: rgba(255, 255, 255, .6);
    --header-background-color: rgba(32, 32, 32, .72);
    --header-background-color-moz: #191919;
    --header-border: 1px solid #202020;
    --header-subnav-color: #333;
    --header-subnav-background: #f6f6f6;
    --footer-color: #7e7e7e;
    --footer-background-color: #202020;
    --footer-border: none;
    --content-background-color: #191919;
    --content-box-background-color: #202020;
    --content-selection-color: #fff;
    --active-color: #40a9ff;
    --primary-meta-color: rgba(0, 0, 0, .68);
    --minor-meta-color: rgba(255, 255, 255, .3);
    --btn-color: #fff;
    --btn-submit-color: #fff;
    --btn-disabled-color: #888;
    --btn-disabled-background-color: #d9d9d9;
    --btn-disabled-border-color: var(--btn-disabled-background-color);
    --btn-background-color: var(--primary-background-color);
    --tag-background-color: var(--primary-background-color);
    --tag-active-color: #fff;
    --action-color: #ff4d4f;
    --action-color-light: rgba(255, 85, 0, .16);
    --sticky-color: #fff;
    --sticky-background-color: #ff4d4f;
    --sticky-border-color: var(--primary-color);
    --highlight-color: var(--action-color);
    --error-color: #f5222d;
    --content-box-shadow: 0 0 @box-shadow-width rgba(0, 0, 0, .2);
    --content-text-shadow: 0 0 0 #efefef, 0 0 2px rgb(0 0 0 / 60%), 0 0 4px rgb(0 0 0 / 60%);
    --overlay-background-color: rgba(0, 0, 0, .45);
    --page-bar-color: var(--base-color);
    --mask-background-color: rgba(51, 51, 51, .5);
    --toolbox-border-color: rgba(0, 0, 0, .25);

    --img-figcaption-color: rgba(255, 255, 255, .4);
    --post-item-hover-color: #202020;
    --post-pre-border-color: var(--base-color);
    --post-pre-background-color: #202020;
    --post-code-background-color: #303030;
    --post-quote-color: rgba(255, 255, 255, .3);
    --post-quote-border-color: #404040;
    --post-more-color: #efefef;
    --comment-border-color: rgba(255, 255, 255, .3);

    --wallpaper-item-background-color: #202020;
    --wallpaper-content-color: var(--post-more-color);
    --wallpaper-content-background-color: rgba(51, 51, 51, .5);
    --wallpaper-content-text-shadow: var(--content-text-shadow);
    --wallpaper-action-background-color: rgba(255, 255, 255, .8);

    --input-border-color: var(--minor-border-color);
    --input-required-color: #ff4d4f;
    --input-invalid-color: #ff4d4f;
    --input-background-color: #202020;

    --goods-background-color: #202020;

    --empty-background-color: #202020;
    --empty-ellipse: #e5e5e5;
    --empty-g: #c9c9c9;
    --empty-path: #eaeaea;

    --m-sider-font-color: #fff;
    --m-sider-background-color: #34393d;
    --m-sider-border-color: #2d3135;
  }
}
