/* variables */
@body-width: 1080px;
@header-height: 52px;
@header-bg-height: 4px;
@sider-width: 300px;
@primary-margin: 16px;
@content-margin: 24px;
@content-header-margin: 28px;
@border-radius: 4px;
@box-shadow-width: 2px;
@content-box-shadow: 0 0 @box-shadow-width rgba(0, 0, 0, .2);
@post-line-height: 24px;
@tag-row-span: 2px;
@post-list-padding: 24px;
@content-h2-padding-left: 12px;
@content-h2-border-width: @primary-margin - @content-h2-padding-left;
@content-list-padding-left: 2.2em;
@content-text-shadow: 0 0 0 #efefef, 0 0 2px rgb(0 0 0 / 60%), 0 0 4px rgb(0 0 0 / 60%);

@base-font-size: 10px;
@primary-font-size: 14px;
@minor-font-size: 13px;
@meta-font-size: 12px;
@header-font-size: 15px;

@base-color: #333;
@base-background-color: #f6f6f6;
@header-background-color: rgba(255, 255, 255, .72);
@header-background-color-moz: rgba(242, 242, 242, 1);
@content-background-color: #fff;
@primary-color: #1ba6ff; //#1abc9c
@minor-color: #999;
@active-color: #40a9ff;
@primary-meta-color: rgba(0, 0, 0, .68);
@minor-meta-color: rgba(0, 0, 0, .38);
@tag-background-color: #f5f5f5;
@primary-border-color: #eee;
@minor-border-color: #e9e9e9;
@code-border-color: #eaeaea;
@action-color: #f50;
@action-color-light: rgba(255, 85, 0, .16);
@sticky-color: #fff;
@sticky-background-color: #f50;
@sticky-border-color: @primary-color;
@highlight-color: @action-color;
@img-figcaption-color: #aaa;
@post-more-color: #efefef;

@overlay-background-color: rgba(0, 0, 0, .45);
@overlay-transition: opacity .3s ease-in-out;

@wallpaper-content-color: @post-more-color;
@wallpaper-content-background-color: rgba(51, 51, 51, .5);
@wallpaper-content-text-shadow: @content-text-shadow;
@wallpaper-action-background-color: rgba(255, 255, 255, .8);

@input-line-height: 1.57142857;
@input-border-color: @minor-border-color;
@input-required-color: #ff4d4f;
@input-invalid-color: #ff4d4f;

@m-primary-margin: 1.6rem;
@m-primary-padding: 2.4rem;
@m-content-margin: 1.2rem;
@m-content-header-margin: 2.8rem;
@m-footer-margin: 2.4rem;
@m-header-height: 5.2rem;
@m-sider-width: 66%;
@m-sider-font-color: #fff;
@m-sider-background-color: #34393d;
@m-sider-border-color: #2d3135;
