/* variables */
@base-font-family: PingFangSC-Regular, system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif;
@code-family: Söhne Mono, Monaco, Andale Mono, Ubuntu Mono, monospace;

@blue: #1890ff;
@base-font-size: 16px;
@header-font-size: 16px;
@title-font-size: 15px;
@primary-font-size: 14px;
@minor-font-size: 13px;
@meta-font-size: 12px;

@body-width: 1200px;
@header-height: 64px;
@header-line-height: 32px;
@search-height: 32px;
@sider-width: 300px;
@primary-margin: 16px;
@primary-padding: 24px;
@content-margin: 24px;
@content-padding: 16px;
@min-body-width: @body-width + @primary-margin * 2;
@non-body-height: @header-height + @content-margin * 2 + 121;
@content-header-margin: 28px;
@primary-border-radius: 4px;
@box-shadow-width: 2px;
@post-line-height: 24px;
@tag-row-span: 2px;
@header-font-weight: 600;
@auth-form-width: 304px;
@post-more-height: 150px;

@overlay-transition: opacity .3s ease-in-out;

@m-header-font-size: 15px;
@m-primary-margin: 0.75rem;
@m-primary-padding: 1.5rem;
@m-content-margin: 1rem;
@m-content-padding: 1rem;
@m-minor-margin: 0.75rem;
@m-minor-padding: 0.75rem;
@m-header-height: 3.25rem;
@m-sider-width: 15.625rem;
