@if (!errorPage) {
  @if (!errorState || !errorState.visible) {
    @if (!isMobile) {
      <lib-header/>
      <div class="body-wrap">
        <div class="body" [class.body-center]="isBodyCentered">
          <router-outlet/>
        </div>
      </div>
      <lib-footer/>
      <div class="tool-widget" nz-dropdown nzTrigger="hover" nzPlacement="topRight" [nzDropdownMenu]="toolMenu">
        <button nz-button nzType="primary" nzShape="circle" nzSize="large"><fi-stars/></button>
      </div>
      @if (chatVisible) {
        <lib-ai-chat [conversationId]="conversationId"
                     [prompt]="chatPrompt"
                     [post]="post"
                     [wallpaper]="wallpaper"
                     [objectType]="indexInfo?.isPost ? 'post' : 'wallpaper'"
                     (closeDrawer)="closeChat()"/>
      }
    } @else {
      <div class="m-body-wrap" [class.open]="siderVisible">
        <lib-header/>
        <div class="m-body">
          <main class="m-main" [class.m-main-center]="isBodyCentered">
            <router-outlet/>
          </main>
          <lib-footer/>
        </div>
        @if (siderVisible) {
          <div class="m-mask m-mask-sider" (click)="closeSider()"></div>
        }
      </div>
      <lib-m-sider/>
    }
    @if (loginOptions.visible) {
      <lib-login-modal [closable]="loginOptions.closable" (close)="closeLoginModal()"/>
    }
    <img [style.display]="'none'"
         [src]="adsImg"
         (load)="checkAdsStatus(true)"
         (error)="checkAdsStatus(false)"
         alt="none"/>
  } @else {
    <!--global errors-->
    @switch (errorState.code) {
      @case (403) {
        <lib-forbidden [errorState]="errorState"/>
      }
      @case (404) {
        <lib-not-found [errorState]="errorState"/>
      }
      @default {
        <lib-server-error [errorState]="errorState"/>
      }
    }
  }
} @else {
  <!--error pages-->
  <router-outlet/>
}
<lib-wallpaper-modal [visible]="wallpaperModalVisible" (close)="closeWallpaperModal()"/>
<nz-dropdown-menu #toolMenu="nzDropdownMenu">
  <ul nz-menu [nzSelectable]="false">
    <li nz-menu-item class="tool-item tool-red-packet" (click)="showRedPacket()" title="支付宝扫码领红包">
      <nz-icon nzType="red-envelope"/><span>支付宝每日红包</span>
    </li>
    <li nz-menu-item class="tool-item tool-wechat" (click)="showWechatCard()" title="微信公众号">
      <nz-icon nzType="wechat"/><span>微信公众号</span>
    </li>
    <li nz-menu-item class="tool-item tool-rss" (click)="openRSS()" title="博客 RSS 订阅">
      <fi-rss class="fi"/><span>博客 RSS 订阅</span>
    </li>
    <li nz-menu-item class="tool-item tool-rss"(click)="openRSS(true)" title="壁纸 RSS 订阅">
      <fi-rss class="fi"/><span>壁纸 RSS 订阅</span>
    </li>
    <li nz-menu-item class="tool-item tool-wallpaper" (click)="showWallpaperModal()" title="高清壁纸">
      <nz-icon nzType="picture"/><span>高清壁纸</span>
    </li>
    @if ((indexInfo?.isPost || indexInfo?.isWallpaper) && indexInfo?.isDetail) {
      <li nz-menu-item class="tool-item tool-ai" (click)="showChat()">
        <fi-magic class="fi"/><span>AI 阅读助手</span>
      </li>
    }
  </ul>
</nz-dropdown-menu>
