<app-breadcrumb></app-breadcrumb>
@if (total > 0) {
  <div [class.post-list]="!isMobile" [class.m-post-list]="isMobile">
    @if (searchType === 'wallpaper') {
      <ng-container *ngFor="let item of wallpaperResult; let i = index">
        <app-wallpaper-item [wallpaper]="item" [mode]="ListMode.LIST" [index]="i"></app-wallpaper-item>
      </ng-container>
    } @else if (searchType === 'game') {
      <ng-container *ngFor="let item of gameResult; let i = index">
        <app-game-item [game]="item" [mode]="ListMode.LIST" [index]="i"></app-game-item>
      </ng-container>
    } @else {
      <ng-container *ngFor="let item of postResult; let i = index">
        <app-post-item [post]="item" [index]="i"></app-post-item>
      </ng-container>
    }
  </div>
} @else {
  <div class="empty" [class.p-empty]="!isMobile" [class.m-empty]="isMobile">
    <nz-empty nzNotFoundImage="simple"></nz-empty>
  </div>
}
<app-make-money></app-make-money>
<app-pagination></app-pagination>
