@if (breadcrumbs && breadcrumbs.length > 0) {
  <div class="breadcrumb" [class.m-breadcrumb]="isMobile" [class.p-breadcrumb]="!isMobile">
    <nz-icon nzType="environment"/>
    @for (breadcrumb of breadcrumbs; track breadcrumb) {
      @if (breadcrumb.url !== '') {
        @if (!breadcrumb.isHeader) {
          <lib-a [href]="breadcrumb.url"
                 [queryParams]="breadcrumb.param"
                 [title]="breadcrumb.tooltip">{{ breadcrumb.label }}</lib-a>
        } @else {
          <h3>
            <lib-a [href]="breadcrumb.url"
                   [queryParams]="breadcrumb.param"
                   [title]="breadcrumb.tooltip">{{ breadcrumb.label }}</lib-a>
          </h3>
        }
      } @else {
        @if (!breadcrumb.isHeader) {
          <span [title]="breadcrumb.tooltip">{{ breadcrumb.label }}</span>
        } @else {
          <h3 [title]="breadcrumb.tooltip">{{ breadcrumb.label }}</h3>
        }
      }
    }
  </div>
}
