<header>
  <h3>
    <span class="meta-tag meta-tag-sticky" *ngIf="post.post.postSticky">置顶</span>
    <span class="meta-tag meta-tag-pay" *ngIf="post.post.postPayFlag">付费</span>
    <span class="meta-tag meta-tag-vip" *ngIf="post.meta['should_login'] === '1'">会员</span>
    <a [routerLink]="[post.post.postGuid]"
       title="{{post.post.postTitle}}" rel="bookmark">{{post.post.postTitle}}</a>
  </h3>
  <div class="post-item-stat">
    <span><i class="icon icon-eye"></i><span>{{post.post.postViews | numberView}}</span></span>
    <ng-container *ngIf="post.post.commentFlag !== 'closed'">
      <a [routerLink]="[post.post.postGuid]" fragment="comments" title="《{{post.post.postTitle}}》评论">
        <ng-container *ngIf="post.post.postComments > 0">
          <i class="icon icon-chat-dots"></i><span>{{post.post.postComments | numberView:'K'}}</span>
        </ng-container>
        <ng-container *ngIf="post.post.postComments < 1">
          <i class="icon icon-chat"></i><span>0</span>
        </ng-container>
      </a>
    </ng-container>
  </div>
</header>
<div class="post-item-meta post-item-meta-top">
  <span title="写于: {{post.post.postDate | date:'yyyy-MM-dd'}}">
    <i class="icon icon-calendar"></i><span>{{post.post.postDate | date:'yyyy-MM-dd'}}</span>
  </span>
  <span title="作者: {{post.meta['post_author'] || post.post.owner.userNickname}}">
    <i class="icon icon-user"></i><span>{{post.meta['post_author'] || post.post.owner.userNickname}}</span>
  </span>
  <span *ngIf="!isMobile && post.categories.length > 0">
    <i class="icon icon-folder"></i>
    <a *ngFor="let category of post.categories"
       [routerLink]="['/' + post.post.postType + '/category/' + category.taxonomySlug]"
       title="{{category.taxonomyName}}" rel="category">{{category.taxonomyName}}</a>
  </span>
  <span *ngIf="post.post.postOriginal === 1" title="{{post.post.owner.userNickname}}原创">
    <i class="icon icon-pencil"></i><span>原创</span>
  </span>
</div>
<div class="post-item-excerpt">
  <div class="post-item-thumb" *ngIf="post.post.postCover">
    <a class="post-thumb-link"
       [routerLink]="[post.post.postGuid]"
       [title]="post.post.postTitle">
      <img class="lazyload"
           [attr.src]="blankImage"
           [attr.data-src]="post.post.postCover"
           [alt]="post.post.postTitle"/><div class="overlay"></div>
    </a>
  </div>
  <div>
    <span [innerHTML]="post.post.postExcerpt"></span>
    <a class="read-more" [routerLink]="[post.post.postGuid]" [title]="post.post.postTitle">[阅读全文]</a>
  </div>
</div>
<div class="post-item-meta post-item-meta-bottom" *ngIf="post.categories.length > 0 || post.tags.length > 0">
  <div class="post-item-meta-taxonomy" *ngIf="isMobile && post.categories.length > 0">
    <div class="post-item-meta-icon"><i class="icon icon-folder"></i></div>
    <ul class="post-item-meta-info">
      <li *ngFor="let category of post.categories">
        <a [routerLink]="['/' + post.post.postType + '/category/' + category.taxonomySlug]"
           title="{{category.taxonomyName}}" rel="category">{{category.taxonomyName}}</a>
      </li>
    </ul>
  </div>
  <div class="post-item-meta-taxonomy" *ngIf="post.tags.length > 0">
    <div class="post-item-meta-icon"><i class="icon icon-tag"></i></div>
    <ul class="post-item-meta-info">
      <li *ngFor="let tag of post.tags">
        <a [routerLink]="['/' + post.post.postType + '/tag/' + tag.tagName]"
           title="{{tag.tagName}}" rel="category">{{tag.tagName}}</a>
      </li>
    </ul>
  </div>
</div>
