@let c = comments();
@let rvm = replyVisibleMap();
@let vlm = voteLoadingMap();
<div id="comments" class="comment" [class.p-comment]="!isMobile" [class.m-comment]="isMobile">
  @if (c.length > 0) {
    <div class="comment-list">
      <ng-template #commentsTpl let-comments>
        @for (comment of comments; track comment.id) {
          @if (!isMobile) {
            <div class="comment-item p-comment-item"
                 id="{{ comment.idHash }}"
                 [style.padding-left]="(comment.depth - 1) * 50 + 'px'">
              <div class="meta">
                <div class="info">
                  <div class="avatar">
                    <img src="{{ comment.userAvatar }}" alt="{{ comment.userName }}"/>
                  </div>
                  <div class="author">
                    <span class="from">
                      <span class="name">{{ comment.userName }}</span>
                      <span class="location">from {{ comment.userLocation || 'Mars' }}</span>
                    </span>
                    <span class="time">{{ comment.createdAt | date:'yyyy-MM-dd HH:mm' }}</span>
                  </div>
                </div>
                <div class="hash">
                  <a [routerLink]="['.']" [fragment]="comment.idHash">#{{ comment.floor }}</a>
                </div>
              </div>
              <div class="content">
                @if (comment.parent) {
                  <div class="parent">
                    <span class="text">回复</span>
                    <a class="author"
                       [attr.data-hash]="comment.parent.idHash"
                       (click)="scrollToComment($event)">#{{ comment.parent.floor }} &#64;{{ comment.parent.userName }}</a>
                  </div>
                }
                <div [innerHTML]="comment.content | safeHtml"></div>
              </div>
              <div class="actions">
                <a [class.voted]="comment.liked"
                   [class.disabled]="comment.liked || comment.disliked || vlm[comment.id]"
                   (click)="vote(comment, true)">
                  @if (vlm[comment.id]) {
                    <nz-icon nzType="loading"/>
                  } @else {
                    <nz-icon nzType="like" [nzTheme]="comment.liked ? 'fill' : 'outline'"/>
                  }
                  <span>{{ comment.likes }}</span>
                </a>
                <a [class.voted]="comment.disliked"
                   [class.disabled]="comment.liked || comment.disliked || vlm[comment.id]"
                   (click)="vote(comment, false)">
                  @if (vlm[comment.id]) {
                    <nz-icon nzType="loading"/>
                  } @else {
                    <nz-icon nzType="dislike" [nzTheme]="comment.disliked ? 'fill' : 'outline'"/>
                  }
                  <span>{{ comment.dislikes }}</span>
                </a>
                @if (!rvm[comment.id]) {
                  <a (click)="reply(comment)"><fi-chat-square class="fi"/><span>回复</span></a>
                } @else {
                  <a (click)="cancelReply()"><nz-icon nzType="close"/><span>取消</span></a>
                }
              </div>
            </div>
          } @else {
            <div class="comment-item m-comment-item"
                 id="{{ comment.idHash }}"
                 [style.padding-left]="(comment.depth - 1) * 32 + 'px'">
              <div class="avatar">
                <img src="{{ comment.userAvatar }}" alt="{{ comment.userName }}"/>
              </div>
              <div class="body">
                <div class="from">
                  <span class="name">{{ comment.userName }}</span>
                  <span class="location">from {{ comment.userLocation || 'Mars' }}</span>
                </div>
                <div class="content">
                  @if (comment.parent) {
                    <div class="parent">
                      <span class="text">回复</span>
                      <a class="author"
                         [attr.data-hash]="comment.parent.idHash"
                         (click)="scrollToComment($event)">#{{ comment.parent.floor }} &#64;{{ comment.parent.userName }}</a>
                    </div>
                  }
                  <div [innerHTML]="comment.content | safeHtml"></div>
                </div>
                <div class="meta">
                  <span class="time">{{ comment.createdAt | date:'yy-MM-dd HH:mm' }}</span>
                  <div class="actions">
                    <a [class.voted]="comment.liked"
                       [class.disabled]="comment.liked || comment.disliked || vlm[comment.id]"
                       (click)="vote(comment, true)">
                      @if (vlm[comment.id]) {
                        <nz-icon nzType="loading"/>
                      } @else {
                        <nz-icon nzType="like" [nzTheme]="comment.liked ? 'fill' : 'outline'"/>
                      }
                      <span>{{ comment.likes }}</span>
                    </a>
                    <a [class.voted]="comment.disliked"
                       [class.disabled]="comment.liked || comment.disliked || vlm[comment.id]"
                       (click)="vote(comment, false)">
                      @if (vlm[comment.id]) {
                        <nz-icon nzType="loading"/>
                      } @else {
                        <nz-icon nzType="dislike" [nzTheme]="comment.disliked ? 'fill' : 'outline'"/>
                      }
                      <span>{{ comment.dislikes }}</span>
                    </a>
                    @if (!rvm[comment.id]) {
                      <a (click)="reply(comment)"><fi-chat-square/></a>
                    } @else {
                      <a (click)="cancelReply()"><nz-icon nzType="close"/></a>
                    }
                  </div>
                </div>
              </div>
            </div>
          }
          @if (rvm[comment.id]) {
            <div [style.padding-left]="(comment.depth - 1) * (isMobile ? 32 : 50) + 'px'">
              <ng-container *ngTemplateOutlet="commentFormTpl; context: { $implicit: replyForm() }"/>
            </div>
          }
          @if (comment.children.length > 0) {
            <ng-container *ngTemplateOutlet="commentsTpl; context: { $implicit: comment.children }"/>
          }
        }
      </ng-template>
      <ng-container *ngTemplateOutlet="commentsTpl; context: { $implicit: c }"/>
    </div>
  }
  <ng-template #commentFormTpl let-form>
    <div class="comment-form">
      <form nz-form nzLayout="vertical" [formGroup]="form" (ngSubmit)="saveComment(form)">
        <div class="comment-body">
          <nz-form-item>
            <nz-form-control [nzErrorTip]="contentErrorTpl">
              <textarea nz-input
                        name="content"
                        formControlName="content"
                        [maxLength]="maxContentLength"
                        rows="4"
                        [placeholder]="isSignIn() ? '评论内容' : '评论前请先登录'"></textarea>
              <ng-template #contentErrorTpl let-control>
                @if (control.hasError('required')) {
                  请输入评论内容
                }
                @if (control.hasError('maxlength')) {
                  评论内容最大长度为{{ maxContentLength }}字符
                }
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          @if (!isSignIn()) {
            <div class="comment-mask" (click)="showSigninModal()"></div>
          }
        </div>
        <div class="comment-actions">
          <div>
            @if (!isSignIn()) {
              <button nz-button type="button" nzType="default" (click)="showSigninModal()">登录</button>
            }
            <button nz-button type="submit" nzType="primary" [nzLoading]="saveLoading()">我要评论</button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
  @if (!replyMode()) {
    @if (c.length > 0) {
      <div class="divider"></div>
    }
    <ng-container *ngTemplateOutlet="commentFormTpl; context: { $implicit: commentForm() }"/>
  }
</div>
