<div id="comments" class="comment" [class.p-comment]="!isMobile" [class.m-comment]="isMobile">
  @if (comments.length > 0) {
    <div class="comment-list">
      <ng-template #commentsTpl let-comments>
        @for (comment of comments; track comment) {
          @if (!isMobile) {
            <div class="comment-item p-comment-item"
                 id="{{ comment.commentHash }}"
                 [style.padding-left]="(comment.level - 1) * 50 + 'px'">
              <div class="meta">
                <div class="info">
                  <div class="avatar">
                    <img src="{{ comment.authorAvatar }}" alt="{{ comment.commentAuthor }}"/>
                  </div>
                  <div class="author">
                    <span class="from">
                      <span class="name">{{ comment.commentAuthor }}</span>
                      <span class="location">from {{ comment.userLocation || 'Mars' }}</span>
                    </span>
                    <span class="time">{{ comment.commentCreated | date:'yyyy-MM-dd HH:mm' }}</span>
                  </div>
                </div>
                <div class="hash">
                  <a [routerLink]="['.']" [fragment]="comment.commentHash">#{{ comment.commentHash }}</a>
                </div>
              </div>
              <div class="content">
                @if (comment.parent) {
                  <div class="parent">
                    <span class="text">回复</span>
                    <a class="author"
                       [attr.data-hash]="comment.parent.commentHash"
                       (click)="scrollToComment($event)">#{{ comment.parent.commentHash }} &#64;{{ comment.parent.commentAuthor }}</a>
                  </div>
                }
                <div [innerHTML]="comment.commentContent | safeHtml"></div>
              </div>
              <div class="actions">
                <a [class.voted]="comment.liked"
                   [class.disabled]="comment.liked || comment.disliked || commentVoteLoading[comment.commentId]"
                   (click)="vote(comment, true)">
                  @if (commentVoteLoading[comment.commentId]) {
                    <nz-icon nzType="loading"/>
                  } @else {
                    <nz-icon nzType="like" [nzTheme]="comment.liked ? 'fill' : 'outline'"/>
                  }
                  <span>{{ comment.commentLikes }}</span>
                </a>
                <a [class.voted]="comment.disliked"
                   [class.disabled]="comment.liked || comment.disliked || commentVoteLoading[comment.commentId]"
                   (click)="vote(comment, false)">
                  @if (commentVoteLoading[comment.commentId]) {
                    <nz-icon nzType="loading"/>
                  } @else {
                    <nz-icon nzType="dislike" [nzTheme]="comment.disliked ? 'fill' : 'outline'"/>
                  }
                  <span>{{ comment.commentDislikes }}</span>
                </a>
                @if (!replyVisibleMap[comment.commentId]) {
                  <a (click)="reply(comment)"><span class="fi fi-chat-square"></span><span>回复</span></a>
                } @else {
                  <a (click)="cancelReply()"><nz-icon nzType="close"/><span>取消</span></a>
                }
              </div>
            </div>
          } @else {
            <div class="comment-item m-comment-item"
                 id="{{ comment.commentHash }}"
                 [style.padding-left]="(comment.level - 1) * 32 + 'px'">
              <div class="avatar">
                <img src="{{ comment.authorAvatar }}" alt="{{ comment.commentAuthor }}"/>
              </div>
              <div class="body">
                <div class="from">
                  <span class="name">{{ comment.commentAuthor }}</span>
                  <span class="location">from {{ comment.userLocation || 'Mars' }}</span>
                </div>
                <div class="content">
                  @if (comment.parent) {
                    <div class="parent">
                      <span class="text">回复</span>
                      <a class="author"
                         [attr.data-hash]="comment.parent.commentHash"
                         (click)="scrollToComment($event)">#{{ comment.parent.commentHash }} &#64;{{ comment.parent.commentAuthor }}</a>
                    </div>
                  }
                  <div [innerHTML]="comment.commentContent | safeHtml"></div>
                </div>
                <div class="meta">
                  <span class="time">{{ comment.commentCreated | date:'yy-MM-dd HH:mm' }}</span>
                  <div class="actions">
                    <a [class.voted]="comment.liked"
                       [class.disabled]="comment.liked || comment.disliked || commentVoteLoading[comment.commentId]"
                       (click)="vote(comment, true)">
                      @if (commentVoteLoading[comment.commentId]) {
                        <nz-icon nzType="loading"/>
                      } @else {
                        <nz-icon nzType="like" [nzTheme]="comment.liked ? 'fill' : 'outline'"/>
                      }
                      <span>{{ comment.commentLikes }}</span>
                    </a>
                    <a [class.voted]="comment.disliked"
                       [class.disabled]="comment.liked || comment.disliked || commentVoteLoading[comment.commentId]"
                       (click)="vote(comment, false)">
                      @if (commentVoteLoading[comment.commentId]) {
                        <nz-icon nzType="loading"/>
                      } @else {
                        <nz-icon nzType="dislike" [nzTheme]="comment.disliked ? 'fill' : 'outline'"/>
                      }
                      <span>{{ comment.commentDislikes }}</span>
                    </a>
                    @if (!replyVisibleMap[comment.commentId]) {
                      <a (click)="reply(comment)"><span class="fi fi-chat-square"></span></a>
                    } @else {
                      <a (click)="cancelReply()"><nz-icon nzType="close"/></a>
                    }
                  </div>
                </div>
              </div>
            </div>
          }
          @if (replyVisibleMap[comment.commentId]) {
            <div [style.padding-left]="(comment.level - 1) * (isMobile ? 32 : 50) + 'px'">
              <ng-container *ngTemplateOutlet="commentFormTpl; context: { $implicit: replyForm }"></ng-container>
            </div>
          }
          @if (comment.children.length > 0) {
            <ng-container *ngTemplateOutlet="commentsTpl; context: { $implicit: comment.children }"></ng-container>
          }
        }
      </ng-template>
      <ng-container *ngTemplateOutlet="commentsTpl; context: { $implicit: comments }"></ng-container>
    </div>
  }
  <ng-template #commentFormTpl let-form>
    <div class="comment-form">
      <form nz-form nzLayout="vertical" [formGroup]="form" (ngSubmit)="saveComment(form)">
        <div class="comment-body">
          <nz-form-item>
            <nz-form-control [nzErrorTip]="contentErrorTpl">
              <textarea nz-input
                        name="content"
                        formControlName="content"
                        [maxLength]="maxContentLength"
                        rows="4"
                        [placeholder]="isSignIn ? '评论内容' : '评论前请先登录'"></textarea>
              <ng-template #contentErrorTpl let-control>
                @if (control.hasError('required')) {
                  请输入评论内容
                }
                @if (control.hasError('maxlength')) {
                  评论内容最大长度为{{ maxContentLength }}字符
                }
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          @if (!isSignIn) {
            <div class="comment-mask" (click)="showLoginModal()"></div>
          }
        </div>
        <div class="comment-actions">
          <div>
            @if (!isSignIn) {
              <button nz-button type="button" nzType="default" (click)="showLoginModal()">登录</button>
            }
            <button nz-button type="submit" nzType="primary" [nzLoading]="saveLoading">我要评论</button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
  @if (!replyMode) {
    @if (comments.length > 0) {
      <div class="divider"></div>
    }
    <ng-container *ngTemplateOutlet="commentFormTpl; context: { $implicit: commentForm }"></ng-container>
  }
</div>
