<lib-breadcrumb></lib-breadcrumb>
@if (game) {
  <div class="post" [class.p-post]="!isMobile" [class.m-post]="isMobile">
    <header class="post-header">
      <h1 class="post-title">
        <a routerLink="." [title]="game.gameTitle" rel="bookmark">{{ game.gameTitle }}</a>
      </h1>
      <div class="post-meta post-meta-top">
        <span title="发布: {{ game.gameCreated | date:'yyyy-MM-dd' }}">
          <span class="fi fi-calendar-date"></span><span>{{ game.gameCreated | date:'yyyy-MM-dd' }}</span>
        </span>
        <span title="阅读：{{ game.gameViews | numberView: 'K' }}">
          <nz-icon nzType="eye"/><span>{{ game.gameViews | numberView: 'K' }}</span>
        </span>
      </div>
    </header>
    <div class="divider"></div>
    <div class="game" [class.p-game]="!isMobile" [class.m-game]="isMobile">
      <div class="game-cover">
        <img [src]="game.gameCover || emptyCover" [alt]="game.gameTitle"/>
        <div class="game-cover-action">
          <button nz-button nzType="primary" (click)="startPlay()">开始游戏</button>
          <button nz-button nzType="primary" [nzLoading]="downloading" (click)="download()">下载游戏</button>
        </div>
      </div>
      <div></div>
    </div>
    <article class="post-content"
             [class.no-auth]="!isSignIn"
             [style.user-select]="'none'"
             [innerHTML]="game.gameContent | safeHtml"
             (click)="onGameClick($event)"></article>
    <footer class="post-footer">
      <div>
        @if (gameCategories.length > 0) {
          <div class="post-meta">
            <div class="post-meta-icon">
              <nz-icon nzType="folder"/>
            </div>
            <ul class="post-meta-info">
              @for (cat of gameCategories; track cat) {
                <li>
                  <a [routerLink]="'/category/' + cat.taxonomySlug"
                     title="{{ cat.taxonomyName }}"
                     rel="category">{{ cat.taxonomyName }}</a>
                </li>
              }
            </ul>
          </div>
        }
        @if (gameTags.length > 0) {
          <div class="post-meta">
            <div class="post-meta-icon">
              <nz-icon nzType="tag"/>
            </div>
            <ul class="post-meta-info">
              @for (tag of gameTags; track tag) {
                <li>
                  <a [routerLink]="'/tag/' + tag.tagName"
                     title="{{ tag.tagName }}"
                     rel="category">{{ tag.tagName }}</a>
                </li>
              }
            </ul>
          </div>
        }
        <div class="post-meta">
          <div class="post-meta-icon">
            <nz-icon nzType="clock-circle"/>
          </div>
          <div class="post-meta-info">
            <span class="post-meta-info-text"
                  title="更新于: {{ game.gameModified | date:'yyyy-MM-dd HH:mm' }}">
              最后更新：{{ game.gameModified | date:'yyyy-MM-dd HH:mm' }}
            </span>
          </div>
        </div>
      </div>
      <div class="post-actions">
        <div>
          <button class="button-like" [class.liked]="isVoted" (click)="vote()">
            <nz-icon nzType="like" nzTheme="fill"/>
            <span class="text">真棒！{{ game.gameLikes > 0 ? game.gameLikes : '' }}</span>
            <span class="parkinson-mask"><nz-icon nzType="like" nzTheme="fill"/></span>
          </button>
          <button (click)="showReward()" title="打赏"><nz-icon nzType="heart" nzTheme="fill"/></button>
          <button [class.liked]="isFavorite"
                  (click)="addFavorite()"
                  [title]="isFavorite ? '已收藏' : '收藏'"><nz-icon nzType="star" nzTheme="fill"/></button>
          @if (!isMobile) {
            <button (click)="showShareQrcode()" title="分享"><span class="fi fi-share-fill"></span></button>
          }
        </div>
      </div>
    </footer>
    <app-game-prev-next></app-game-prev-next>
  </div>
  <app-game-related></app-game-related>
  <lib-make-money></lib-make-money>
  <lib-comment [objectType]="commentType" [enableAI]="false"></lib-comment>
  @if (shareVisible) {
    <lib-share-modal [shareUrl]="shareUrl" (close)="closeShareQrcode()"></lib-share-modal>
  }
  @if (gameModalVisible) {
    <lib-game-modal [game]="game" (close)="closeGameModal()"></lib-game-modal>
  }
}
