@import "../../../assets/style/variables";

.sticky, .post {
  box-shadow: @content-box-shadow;
  border-radius: @border-radius;
  background-color: @content-background-color;
}

.sticky {
  position: relative;
  margin: @box-shadow-width;
  border-radius: @border-radius;

  li {
    border-radius: @border-radius;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}

.post {
  margin: @primary-margin @box-shadow-width @box-shadow-width @box-shadow-width;
  padding: 12px 20px;
  border-radius: @border-radius;
  line-height: @post-line-height;

  &:hover {
    background-color: #fafafa;
  }

  .icon {
    margin-right: 4px;
  }

  @post-header-height: 32px;

  > header {
    position: relative;

    h3 {
      font-size: 16px;
      line-height: @post-header-height;
      height: @post-header-height;
      margin-right: 120px;

      a {
        display: inline-block;
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .post-stat, .post-meta {
    color: @minor-color;
    font-size: @minor-font-size;

    a {
      color: @minor-color;

      &:hover {
        color: @primary-color;
      }
    }
  }

  .post-stat {
    position: absolute;
    top: 0;
    right: 0;
    line-height: @post-header-height;

    > :not(:last-child) {
      margin-right: 12px;
    }
  }

  .post-meta {
    padding: 8px 0;
  }

  .post-meta-top {
    span:not(:last-child) {
      margin-right: 20px;
    }

    a:not(:last-child) {
      margin-right: 8px;
    }
  }

  .post-meta-bottom {
    margin-top: 8px;
    padding-bottom: 0;
    border-top: 1px dashed @primary-border-color;

    .icon {
      line-height: @post-line-height + @tag-row-span * 2;
    }

    .post-meta-taxonomy {
      &:not(:last-child) {
        margin-bottom: 4px;
      }

      .post-meta-icon {
        float: left;
      }

      .post-meta-info {
        padding-left: 20px;
      }

      ul li, .post-meta-info-text {
        display: inline-block;
        padding: @tag-row-span 0;
      }

      ul li:not(:last-child) {
        margin-right: 8px;
      }

      a {
        padding: 4px 8px;
        border-radius: 2px;
        color: @minor-color;
        background-color: @tag-background-color;

        &:hover {
          color: @content-background-color;
          background-color: @primary-color;
        }
      }
    }
  }

  .post-excerpt {
    word-wrap: break-word;

    a:hover {
      text-decoration: underline;
    }

    .read-more {
      margin-left: 4px;
    }
  }
}

@media (min-width: 668px) {
  .mobile {
    display: none;
  }
}

@media (max-width: 667px) {
  .desktop {
    display: none;
  }
}
