<app-breadcrumb *ngIf="showCrumb"></app-breadcrumb>
<div class="sticky" *ngIf="!isMobile">
  <ul>
    <li><img src="/assets/img/cloud.jpg" alt="{{options['site_name']}}"/></li>
  </ul>
</div>
<div id="postList" [ngClass]="{'post-list-desktop': !isMobile}">
  <article class="post" [ngClass]="{'post-desktop': !isMobile, 'post-mobile': isMobile}"
           *ngFor="let post of postList?.posts">
    <header>
      <h3>
        <a [routerLink]="[post.post.postGuid]" title="{{post.post.postTitle}}"
           rel="bookmark">{{post.post.postTitle}}</a>
      </h3>
      <div class="post-stat">
        <ng-container *ngIf="post.post.commentFlag !== 'close'">
          <a [routerLink]="[post.post.postGuid]" fragment="comments" title="《{{post.post.postTitle}}》评论">
            <ng-container *ngIf="post.post.commentCount > 0">
              <i class='icon icon-chat-dot'></i><span>{{post.post.commentCount | numberView:'K'}}</span>
            </ng-container>
            <ng-container *ngIf="post.post.commentCount < 1">
              <i class='icon icon-chat'></i><span>0</span>
            </ng-container>
          </a>
        </ng-container>
        <span><i class="icon icon-eye"></i><span>{{post.post.postViewCount | numberView}}</span></span>
      </div>
    </header>
    <div class="post-meta post-meta-top">
      <span title="写于: {{post.post.postDate | date:'yyyy-MM-dd'}}">
        <i class='icon icon-calendar'></i><span>{{post.post.postDate | date:'yyyy-MM-dd'}}</span>
      </span>
      <span title="作者：{{post.meta['post_author'] || post.post.author.userNiceName}}">
        <i class='icon icon-person'></i><span>{{post.meta['post_author'] || post.post.author.userNiceName}}</span>
      </span>
      <span *ngIf="!isMobile && post.categories.length > 0">
        <i class='icon icon-folder'></i>
        <a *ngFor="let category of post.categories"
           [routerLink]="['/category/' + category.taxonomySlug]"
           title="{{category.taxonomyName}}" rel="category">{{category.taxonomyName}}</a>
      </span>
      <span *ngIf="post.post.postOriginal === 1" title="{{post.post.author.userNiceName}}原创">
        <i class='icon icon-pencil'></i><span>原创</span>
      </span>
    </div>
    <p class="post-excerpt">
      <span [innerHTML]="post.post.postExcerpt"></span>
      <a class="read-more" [routerLink]="[post.post.postGuid]" title="{{post.post.postTitle}}">[阅读全文]</a>
    </p>
    <div class="post-meta post-meta-bottom" *ngIf="post.categories.length > 0 || post.tags.length > 0">
      <div class="post-meta-taxonomy" *ngIf="isMobile && post.categories.length > 0">
        <div class="post-meta-icon"><i class='icon icon-folder'></i></div>
        <ul class="post-meta-info">
          <li *ngFor="let category of post.categories">
            <a [routerLink]="['/category/' + category.taxonomySlug]"
               title="{{category.taxonomyName}}" rel="category">{{category.taxonomyName}}</a>
          </li>
        </ul>
      </div>
      <div class="post-meta-taxonomy" *ngIf="post.tags.length > 0">
        <div class="post-meta-icon"><i class='icon icon-tag'></i></div>
        <ul class="post-meta-info">
          <li *ngFor="let tag of post.tags">
            <a [routerLink]="['/tag/' + tag.taxonomySlug]"
               title="{{tag.taxonomyName}}" rel="category">{{tag.taxonomyName}}</a>
          </li>
        </ul>
      </div>
    </div>
  </article>
</div>
<app-page-bar [paginator]="paginatorData" [url]="pageUrl" [param]="pageUrlParam"></app-page-bar>
