@import "../../../assets/style/variables";

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
}

a, a:hover {
  transition: none;
}

.m-content-box {
  border-radius: @box-border-radius;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;

  .m-post-header {
    border-left: 4px solid #1ba6ff;
    padding-left: 10px;
    margin: 15px 0;
  }
}

.m-sticky {
  position: relative;
  border-radius: @box-border-radius;

  li {
    border-radius: @box-border-radius;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}

.m-sticky-desc {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 40px;
}

.m-excerpt {
  margin-top: 15px;
  border-radius: @box-border-radius;
}

.m-excerpt {
  padding: 10px 20px;

  &:hover {
    background-color: #fafafa;
  }

  .m-excerpt-detail {
    line-height: 24px;
    font-size: 14px;

    > header {
      position: relative;
    }

    h3 {
      font-size: 16px;
      line-height: 32px;
      height: 32px;
      margin-right: 90px;

      a {
        display: inline-block;
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    h3, .m-excerpt-content {
      a:hover {
        text-decoration: underline;
      }
    }

    .m-excerpt-content {
      word-wrap: break-word;
    }

    .m-excerpt-comment {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 13px;
      color: #888;
      line-height: 32px;

      i {
        top: 3px;
        margin-right: 5px;
        font-size: 13px;
      }

      a {
        color: #888;

        &:hover, &:hover i {
          color: @theme-color-text;
          text-decoration: none;
        }
      }
    }

    .u-icon-comment {
      margin-right: 3px;
      margin-bottom: 1px;
      vertical-align: text-bottom;
    }
  }

  .m-excerpt-meta {
    color: #888;
    padding: 10px 0;
    font-size: 12px;

    a {
      color: #888;

      + a {
        margin-left: 10px;
      }
    }

    .u-icon-meta {
      margin-right: 3px;
      vertical-align: text-bottom;
    }
  }

  .m-excerpt-meta-post {
    span + span {
      margin-left: 20px;
    }

    a:hover {
      color: @theme-color-text;
      text-decoration: none;
    }

    .u-icon-meta {
      margin-bottom: 1px;
    }
  }

  .m-excerpt-meta-taxonomy {
    margin-top: 10px;
    padding-bottom: 0;
    border-top: 1px dashed #eee;

    .m-meta-dynamic {
      margin-bottom: 5px;
    }
  }
}

.m-article-taxonomy {
  .m-meta-icon {
    line-height: 26px;
  }

  ul {
    padding-left: 2em;

    li {
      float: left;
      margin-right: 10px;
      padding: 2px 0;
      list-style: none;
    }
  }

  a {
    padding: 4px 6px;
    background-color: #eee;
    border-radius: 2px;

    &:hover {
      color: #fff !important;
      background: #777;
    }
  }
}

@media (min-width: 668px) {
  .m-article-footer .m-meta-dynamic {
    display: none;
  }

  .m-excerpt-meta-taxonomy .m-meta-dynamic {
    display: none;
  }
}
