@let prev = prevPost();
@let next = nextPost();
<div class="post-more" [class.p-post-more]="!isMobile" [class.m-post-more]="isMobile">
  @if (prev) {
    <div class="post-more-prev">
      <div class="post-more-photo">
        @if (!isChanged()) {
          <div class="post-more-photo-content lazyload" [attr.data-bg]="prev.coverUrl"></div>
        } @else {
          <div class="post-more-photo-content" [style.background-image]="'url(' + prev.coverUrl + ')'"></div>
        }
        <div class="post-more-photo-overlay"></div>
      </div>
      <div class="post-more-content">
        <div class="post-more-content-title">{{ prev.title }}</div>
        <div>上一篇</div>
      </div>
      <a class="post-more-link" [routerLink]="prev.url" [title]="prev.title"></a>
    </div>
  } @else {
    <div></div>
  }
  @if (next) {
    <div class="post-more-next">
      <div class="post-more-photo">
        @if (!isChanged()) {
          <div class="post-more-photo-content lazyload" [attr.data-bg]="next.coverUrl"></div>
        } @else {
          <div class="post-more-photo-content" [style.background-image]="'url(' + next.coverUrl + ')'"></div>
        }
        <div class="post-more-photo-overlay"></div>
      </div>
      <div class="post-more-content">
        <div class="post-more-content-title">{{ next.title }}</div>
        <div>下一篇</div>
      </div>
      <a class="post-more-link" [routerLink]="next.url" [title]="next.title"></a>
    </div>
  } @else {
    <div></div>
  }
</div>
