@import "../styles/variables";

.body-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: @min-body-width;
  min-height: calc(100vh - @non-body-height);
  margin: 0 auto;
}

.body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  width: @body-width;
  margin: 0 auto;
}

.m-body-wrap {
  position: relative;
  transition: all .38s ease-out;

  &.open {
    transform: translateX(@m-sider-width);
  }
}

.m-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 100vh;
}

.m-main {
  flex-grow: 1;
  padding: (@m-header-height + @m-primary-margin + 0.125rem) @m-primary-margin @m-primary-margin;
}
