<ng-container *ngIf="!isMobile">
  <app-header [postTaxonomies]="postTaxonomies"></app-header>
  <div class="body-wrap">
    <div class="router-wrap"><router-outlet></router-outlet></div>
    <app-footer></app-footer>
  </div>
  <i-toolbox></i-toolbox>
</ng-container>
<ng-container *ngIf="isMobile">
  <app-sider-mobile [(siderOpen)]="siderOpen" (siderOpenChange)="onSiderOpenChange($event)"></app-sider-mobile>
  <main class="main-mobile" [ngClass]="{'open': siderOpen}">
    <div class="mask mask-sider" *ngIf="siderOpen" (click)="toggleSiderOpen()"></div>
    <app-header [postTaxonomies]="postTaxonomies"
                [(siderOpen)]="siderOpen"
                (siderOpenChange)="onSiderOpenChange($event)"></app-header>
    <div class="body-wrap">
      <div class="router-wrap"><router-outlet></router-outlet></div>
      <app-footer></app-footer>
    </div>
  </main>
</ng-container>
<nz-back-top></nz-back-top>
