@if (!errorPage) {
  @if (!errorState?.visible) {
    @if (!isMobile) {
      <app-header [postTaxonomies]="postTaxonomies"></app-header>
      <div class="body-wrap">
        <div class="body">
          <router-outlet/>
        </div>
      </div>
      <app-footer></app-footer>
    } @else {
      <div class="m-body-wrap">
        <app-header [postTaxonomies]="postTaxonomies"></app-header>
        <div class="m-body">
          <main class="m-main">
            <router-outlet/>
          </main>
          <app-footer></app-footer>
        </div>
        <!--sider-->
      </div>
    }
  } @else {
    <!--global errors-->
    <ng-container [ngSwitch]="errorState?.code">
      <app-forbidden *ngSwitchCase="403" [errorState]="errorState"></app-forbidden>
      <app-server-error *ngSwitchCase="500" [errorState]="errorState"></app-server-error>
      <app-not-found *ngSwitchDefault [errorState]="errorState"></app-not-found>
    </ng-container>
  }
} @else {
  <!--error pages-->
  <router-outlet/>
}
