@if (!errorPage) {
  @if (!errorState || !errorState.visible) {
    @if (!isMobile) {
      <app-header [postTaxonomies]="postTaxonomies"></app-header>
      <div class="body-wrap">
        <div class="body" [class.body-center]="isBodyCentered">
          <router-outlet/>
        </div>
      </div>
      <app-footer></app-footer>
    } @else {
      <div class="m-body-wrap" [class.open]="siderVisible">
        <app-header [postTaxonomies]="postTaxonomies"></app-header>
        <div class="m-body">
          <main class="m-main" [class.m-main-center]="isBodyCentered">
            <router-outlet/>
          </main>
          <app-footer></app-footer>
        </div>
        <div *ngIf="siderVisible" class="m-mask m-mask-sider" (click)="closeSider()"></div>
      </div>
      <app-m-sider></app-m-sider>
    }
  } @else {
    <!--global errors-->
    <ng-container [ngSwitch]="errorState.code">
      <app-forbidden *ngSwitchCase="403" [errorState]="errorState"></app-forbidden>
      <app-not-found *ngSwitchCase="404" [errorState]="errorState"></app-not-found>
      <app-server-error *ngSwitchDefault [errorState]="errorState"></app-server-error>
    </ng-container>
  }
} @else {
  <!--error pages-->
  <router-outlet/>
}
