<div class="sider" [ngClass]="{'open': siderOpen}">
  <aside class="sider-body">
    <div class="sider-info">
      <div class="sider-info-logo">
        <img src="/logo.png" alt="{{options['site_name']}}"/>
      </div>
      <div class="sider-info-profile">
        <h2 class="sider-info-profile-name">{{options['site_name']}}</h2>
        <div class="sider-info-profile-slogan">{{options['site_slogan']}}</div>
      </div>
    </div>
    <div class="sider-tool">
      <div (click)="changeTheme()" [title]="darkMode ? '深色模式: 开启' : '深色模式: 关闭'">
        <i class='icon' [class.icon-sun-fill]="!darkMode" [class.icon-moon-fill]="darkMode"></i>
      </div>
    </div>
    <nav class="sider-nav">
      <ul class="sider-nav-list">
        <li [ngClass]="{'active': activePage === 'index'}">
          <a routerLink="/"><i class="icon icon-home"></i><span>首页</span></a>
        </li>
        <li *ngFor="let taxonomy of taxonomies" [ngClass]="{'active': activePage === taxonomy.taxonomySlug}">
          <a [routerLink]="['/category/'+taxonomy.taxonomySlug]" title="{{taxonomy.taxonomyDescription}}">
            <i class="icon icon-{{taxonomy.taxonomyIcon || 'folder'}}"></i>
            <span>{{taxonomy.taxonomyName}}</span>
          </a>
        </li>
        <li [ngClass]="{'active': activePage === 'wallpaper'}">
          <a routerLink="/wallpaper" title="高清壁纸"><i class="icon icon-images"></i><span>壁纸</span></a>
        </li>
        <li [ngClass]="{'active': activePage === 'tool'}">
          <a routerLink="/tool" title="实用工具"><i class="icon icon-tools"></i><span>百宝箱</span></a>
        </li>
        <div class="separator"></div>
        <li [ngClass]="{'active': activePage === 'archive'}">
          <a routerLink="/post/archive" title="文章归档"><i class="icon icon-archive"></i><span>文章归档</span></a>
        </li>
        <li [ngClass]="{'active': activePage === 'aboutme'}">
          <a routerLink="/aboutme"><i class="icon icon-person-heart"></i><span>关于</span></a>
        </li>
        <li>
          <a href="javascript:" (click)="showWechatQrcode()"><i class="icon icon-heart"></i><span>公众号</span></a>
        </li>
        <li>
          <a href="https://github.com/ifuyun" title="Follow me on GitHub" target="_blank">
            <i class="icon icon-github"></i><span>GitHub</span>
          </a>
        </li>
        <div class="separator"></div>
        <li *ngIf="!isLoggedIn">
          <a routerLink="/user/login" title="登录"><i class='icon icon-login'></i><span>登录</span></a>
        </li>
        <ng-container *ngIf="isLoggedIn">
          <li>
            <a [href]="options['site_url'] + '/admin'" target="_blank">
              <i class='icon icon-dashboard'></i><span>个人中心</span>
            </a>
          </li>
          <li><a (click)="logout()"><i class='icon icon-logout'></i><span>退出登录</span></a></li>
        </ng-container>
      </ul>
    </nav>
  </aside>
</div>
