<div class="g-doc-login">
  <div class="g-view-login">
    <form class="m-form-login" [formGroup]="loginForm" (ngSubmit)="login()">
      <p>
        <label for="username">
          <span>用户名</span>
          <br />
          <input type="text" formControlName="username" class="u-input-login" id="username" tabindex="10" maxlength="20"/>
        </label>
      </p>
      <p>
        <label for="password">
          <span>密码</span>
          <br />
          <input type="password" formControlName="password" class="u-input-login" id="password" tabindex="20" maxlength="20"/>
        </label>
      </p>
      <p class="m-rememberme">
        <label for="rememberMe">
          <input type="checkbox" formControlName="rememberMe" class="u-checkbox" id="rememberMe" tabindex="90"/>
          <span>记住我的登录信息</span>
        </label>
      </p>
      <p>
        <input type="submit" class="u-btn-login" id="userSubmit" tabindex="100" value="登录"/>
      </p>
    </form>
  </div>
</div>
