@let u = paginationUrl();
@let m = mode();
<lib-breadcrumb/>
@if (total() > 0) {
  <div class="filter" [class.p-filter]="!isMobile" [class.m-filter]="isMobile">
    <div>
      <nz-radio-group [(ngModel)]="langValue" nzButtonStyle="solid">
        <a nz-radio-button
           nzValue="all"
           [routerLink]="u"
           [queryParams]="getListParam(null, m)">全部</a>
        <a nz-radio-button
           nzValue="cn"
           [routerLink]="u"
           [queryParams]="getListParam(WallpaperLang.CN, m)">中文</a>
        <a nz-radio-button
           nzValue="en"
           [routerLink]="u"
           [queryParams]="getListParam(WallpaperLang.EN, m)">English</a>
      </nz-radio-group>
      <nz-radio-group class="icon-group" [(ngModel)]="modeValue" nzButtonStyle="solid">
        <a nz-radio-button
           nzValue="card"
           [routerLink]="u"
           [queryParams]="getListParam(lang(), ListMode.CARD, page())"
           title="卡片模式"><nz-icon nzType="appstore"/></a>
        <a nz-radio-button
           nzValue="list"
           [routerLink]="u"
           [queryParams]="getListParam(lang(), ListMode.LIST, page())"
           title="列表模式"><nz-icon nzType="bars"/></a>
      </nz-radio-group>
    </div>
    @if (!isMobile) {
      <div>
        <a nz-button
           nzType="primary"
           routerLink="/future"
           title="未来一周壁纸"><span>未来一周壁纸</span><nz-icon nzType="double-right"/></a>
      </div>
    }
  </div>
  <div [class.post-list]="m === 'list' && !isMobile"
       [class.m-post-list]="m === 'list' && isMobile"
       [class.post-card-list]="m !== 'list'"
       [class.post-card-list-2]="m !== 'list' && !isMobile">
    @for (wallpaper of wallpapers(); track wallpaper.id; let i = $index) {
      <lib-wallpaper-item [class.post-card-item-wrap]="m !== 'list'"
                          [wallpaper]="wallpaper"
                          [lang]="lang()!"
                          [mode]="m!"
                          [index]="i"/>
    }
  </div>
} @else {
  <div class="empty" [class.p-empty]="!isMobile" [class.m-empty]="isMobile">
    <nz-empty nzNotFoundImage="simple"/>
  </div>
}
<lib-make-money/>
<lib-pagination [page]="page()"
                [total]="total()"
                [pageSize]="pageSize()"
                [url]="u"
                [params]="paginationParams()"/>
