<div class="login" [class.login-desktop]="!isMobile" [class.login-mobile]="isMobile">
  <div class="login-body" [@shakeForm]="formStatus">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="login-form-row">
        <label class="login-form-label" for="username">用户名</label>
        <input type="text" formControlName="username" class="input input-dark" id="username" tabindex="10"
               maxlength="20" autocomplete="off" [autofocus]="autoFocus.username"/>
      </div>
      <div class="login-form-row">
        <label class="login-form-label" for="password">密码</label>
        <input type="password" formControlName="password" class="input input-dark" id="password" tabindex="20"
               maxlength="20" [autofocus]="autoFocus.password"/>
      </div>
      <div class="login-form-row">
        <div class="login-form-col">
          <label>
            <input type="checkbox" formControlName="rememberMe" class="input-checkbox" tabindex="90"/>
            <span>记住我的登录信息</span>
          </label>
        </div>
        <div class="login-form-col">
          <input type="submit" class="button button-submit" tabindex="100" value="登录"/>
        </div>
      </div>
      <div class="separator">
        <div class="line"></div>
        <div class="text-wrap">
          <div class="text">其他登录方式</div>
        </div>
      </div>
      <div class="login-types">
        <i class="icon icon-wechat disabled" (click)="getUser('wechat')"></i>
        <i class="icon icon-qq disabled" (click)="getUser('qq')"></i>
        <i class="icon icon-alipay" [class.disabled]="!pageLoaded" (click)="getUser('alipay')"></i>
        <i class="icon icon-weibo" [class.disabled]="!pageLoaded" (click)="getUser('weibo')"></i>
        <i class="icon icon-github" [class.disabled]="!pageLoaded" (click)="getUser('github')"></i>
      </div>
    </form>
  </div>
</div>
