<div class="post-more" [class.p-post-more]="!isMobile" [class.m-post-more]="isMobile">
  @if (prevWallpaper) {
    <div class="post-more-prev">
      <div class="post-more-photo">
        @if (!isChanged) {
          <div class="post-more-photo-content lazyload" [attr.data-bg]="prevWallpaper.thumbUrl"></div>
        } @else {
          <div class="post-more-photo-content"
               [style.background-image]="'url(' + prevWallpaper.thumbUrl + ')'"></div>
        }
        <div class="post-more-photo-overlay"></div>
      </div>
      <div class="post-more-content">
        <div class="post-more-content-title">
          {{ lang === 'en' ? prevWallpaper.copyrightEn : prevWallpaper.copyright }}
        </div>
        <div>上一篇</div>
      </div>
      <a class="post-more-link"
         [routerLink]="['/detail', prevWallpaper.id]"
         [queryParams]="getLangParams(prevWallpaper)"
         [title]="lang === 'en' ? prevWallpaper.copyrightEn : prevWallpaper.copyright"></a>
    </div>
  } @else {
    <div></div>
  }
  @if (nextWallpaper) {
    <div class="post-more-next">
      <div class="post-more-photo">
        @if (!isChanged) {
          <div class="post-more-photo-content lazyload" [attr.data-bg]="nextWallpaper.thumbUrl"></div>
        } @else {
          <div class="post-more-photo-content"
               [style.background-image]="'url(' + nextWallpaper.thumbUrl + ')'"></div>
        }
        <div class="post-more-photo-overlay"></div>
      </div>
      <div class="post-more-content">
        <div class="post-more-content-title">
          {{ lang === 'en' ? nextWallpaper.copyrightEn : nextWallpaper.copyright }}
        </div>
        <div>下一篇</div>
      </div>
      <a class="post-more-link"
         [routerLink]="['/detail', nextWallpaper.id]"
         [queryParams]="getLangParams(nextWallpaper)"
         [title]="lang === 'en' ? nextWallpaper.copyrightEn : nextWallpaper.copyright"></a>
    </div>
  } @else {
    <div></div>
  }
</div>
