<app-breadcrumb></app-breadcrumb>
<div class="archive-wrap" [class.p-archive-wrap]="!isMobile" [class.m-archive-wrap]="isMobile">
  <header>
    <h1>
      <a [routerLink]="'/post/archive'" title="文章归档" rel="bookmark">文章归档</a>
    </h1>
  </header>
  <div class="archive-body">
    @for (year of yearList; track year) {
      <h2>
        <a [routerLink]="'/post/archive/' + year"
           [title]="year + '年'">{{ year }}年({{ dateList[year].countByYear }})</a>
      </h2>
      <ul class="archive-list">
        <li *ngFor="let item of dateList[year].list">
          <a [routerLink]="'/post/archive/' + item.dateValue"
             [title]="year + '年' + item.dateLabel">{{ item.dateLabel }}({{ item.count }})</a>
        </li>
      </ul>
    }
  </div>
</div>
