<app-breadcrumb></app-breadcrumb>
<div class="content-box" [ngClass]="{'content-box-desktop': !isMobile, 'content-box-mobile': isMobile}">
  <h2 class="border-header">京东转链</h2>
  <div class="promotion">
    <div class="promotion-search">
      <div class="tip-text">请输入京东商品详情页地址或商品ID</div>
      <form class="search-form" method="get" action="./" (submit)="search()">
        <input type="text" class="input input-search"
               name="keyword" [(ngModel)]="keyword"
               autocomplete="off"
               placeholder="京东商品详情页地址或商品ID"/>
        <input type="submit" class="button button-submit" value="查询"/>
      </form>
    </div>
    <div class="promotion-result">
      <div class="tip-text">查询结果</div>
      <div class="promotion-list" *ngIf="promotion?.data?.shortURL || promotion?.data?.clickURL">
        <div class="promotion-item">
          <div class="label">长链：</div>
          <div>
            <a *ngIf="promotion?.data?.clickURL"
               [href]="promotion?.data?.clickURL" target="_blank">{{promotion?.data?.clickURL}}</a>
            <span *ngIf="!promotion?.data?.clickURL">暂无</span>
          </div>
        </div>
        <div class="promotion-item">
          <div class="label">短链：</div>
          <div>
            <a *ngIf="promotion?.data?.shortURL"
               [href]="promotion?.data?.shortURL" target="_blank">{{promotion?.data?.shortURL}}</a>
            <span *ngIf="!promotion?.data?.shortURL">暂无</span>
          </div>
        </div>
        <div class="promotion-item">
          <div class="label">二维码：</div>
          <div #promotionQrcode></div>
        </div>
      </div>
      <app-empty *ngIf="!promotion?.data?.shortURL && !promotion?.data?.clickURL"></app-empty>
    </div>
  </div>
</div>
<i-jd-union-goods [eliteId]="2" [pageSize]="3"></i-jd-union-goods>
<i-jd-union-goods *ngIf="!isMobile" [eliteId]="3" [pageSize]="3"></i-jd-union-goods>
<i-jd-union-goods *ngIf="!isMobile" [eliteId]="4" [pageSize]="3"></i-jd-union-goods>
<i-jd-union-goods *ngIf="!isMobile" [eliteId]="1" [pageSize]="3"></i-jd-union-goods>
