<nz-modal nzCentered
          [nzVisible]="true"
          [nzWidth]="modalWidth"
          [nzBodyStyle]="{ padding: '8px' }"
          [nzTitle]="game.gameTitle"
          [nzContent]="gameModalContent"
          [nzFooter]="null"
          (nzOnCancel)="closeGameModal()"
          [nzDraggable]="true"
          [nzMaskClosable]="false"
          [nzAutofocus]="null">
  <ng-template #gameModalContent>
    <div [style.height]="modalHeight + 'px'">
      <div id="game-box"></div>
    </div>
  </ng-template>
</nz-modal>
