@let p = pagination();
@let u = url();
@if (p.total > 0) {
  @if (!isMobile) {
    <div class="pagination p-pagination">
      <ul>
        @if (p.page > 1) {
          <li>
            <a [routerLink]="u"
               [queryParams]="getUrlParams(p.prev)"
               title="上一页"><nz-icon nzType="left"/></a>
          </li>
        }
        @if (p.pages < 10) {
          @for (page of p.pages | range; track page) {
            @if (page + 1 === p.page) {
              <li class="active"><span>{{ page + 1 }}</span></li>
            } @else {
              <li>
                <a [routerLink]="u"
                   [queryParams]="getUrlParams(page + 1)"
                   title="第{{ page + 1 }}页">{{ page + 1 }}</a>
              </li>
            }
          }
        }
        @if (p.pages >= 10 && p.page <= 5) {
          @for (page of 5 | range; track page) {
            @if (page + 1 === p.page) {
              <li class="active"><span>{{ page + 1 }}</span></li>
            } @else {
              <li>
                <a [routerLink]="u"
                   [queryParams]="getUrlParams(page + 1)"
                   title="第{{ page + 1 }}页">{{ page + 1 }}</a>
              </li>
            }
          }
          <li class="ellipsis"><nz-icon nzType="ellipsis"/></li>
          <li>
            <a [routerLink]="u"
               [queryParams]="getUrlParams(p.pages)"
               title="第{{ p.pages }}页">{{ p.pages }}</a>
          </li>
        }
        @if (p.pages >= 10 && p.page >= p.pages - 4) {
          <li><a [routerLink]="u"
                 [queryParams]="getUrlParams(1)"
                 title="第1页">1</a></li>
          <li class="ellipsis"><nz-icon nzType="ellipsis"/></li>
          @for (page of 5 | range; track page) {
            @if (p.pages - 4 + page === p.page) {
              <li class="active"><span>{{ p.pages - 4 + page }}</span></li>
            } @else {
              <li>
                <a [routerLink]="u"
                   [queryParams]="getUrlParams(p.pages - 4 + page)"
                   title="第{{ p.pages - 4 + page }}页">{{ p.pages - 4 + page }}</a>
              </li>
            }
          }
        }
        @if (p.pages >= 10 && p.page > 5 && p.page < p.pages - 4) {
          <li><a [routerLink]="u" [queryParams]="getUrlParams(1)" title="第1页">1</a></li>
          <li class="ellipsis"><nz-icon nzType="ellipsis"/></li>
          @for (page of 5 | range; track page) {
            @if (p.page - 2 + page === p.page) {
              <li class="active"><span>{{ p.page - 2 + page }}</span></li>
            } @else {
              <li>
                <a [routerLink]="u"
                   [queryParams]="getUrlParams(p.page - 2 + page)"
                   title="第{{ p.page - 2 + page }}页">{{ p.page - 2 + page }}</a>
              </li>
            }
          }
          <li class="ellipsis"><nz-icon nzType="ellipsis"/></li>
          <li>
            <a [routerLink]="u"
               [queryParams]="getUrlParams(p.pages)"
               title="第{{ p.pages }}页">{{ p.pages }}</a>
          </li>
        }
        @if (p.page < p.end) {
          <li>
            <a [routerLink]="u"
               [queryParams]="getUrlParams(p.next)"
               title="下一页"><nz-icon nzType="right"/></a>
          </li>
        }
      </ul>
    </div>
  } @else {
    @if (p.pages > 1) {
      <div class="pagination m-pagination">
        <div>
          @if (p.page > 1) {
            <a [routerLink]="u"
               [queryParams]="getUrlParams(p.prev)"
               title="上一页"><nz-icon nzType="left"/><span>上一页</span></a>
          }
        </div>
        <div>
          @if (p.page < p.end) {
            <a [routerLink]="u"
               [queryParams]="getUrlParams(p.next)"
               title="下一页"><span>下一页</span><nz-icon nzType="right"/></a>
          }
        </div>
      </div>
    }
  }
}
