@if (relatedGames && relatedGames.length > 0) {
  <div class="related" [class.p-related]="!isMobile" [class.m-related]="isMobile">
    <h3>相关游戏</h3>
    <div class="related-list">
      <div class="related-item" *ngFor="let game of relatedGames">
        <a class="related-item-img" [routerLink]="'/game/' + game.gameId" [title]="game.gameTitle">
          <div class="lazyload" [attr.data-bg]="game.gameCover || emptyCover"></div>
        </a>
        <div class="related-item-title">
          <a [routerLink]="'/game/' + game.gameId" [title]="game.gameTitle">{{ game.gameTitle }}</a>
        </div>
      </div>
    </div>
  </div>
}
