@if (relatedGames && relatedGames.length > 0) {
  <div class="related" [class.p-related]="!isMobile" [class.m-related]="isMobile">
    <h3>相关游戏</h3>
    <div class="related-list">
      @for (game of relatedGames; track game) {
        <div class="related-item">
          <a class="related-item-img" [routerLink]="'/detail/' + game.gameId" [title]="game.gameTitle">
            <div class="lazyload" [attr.data-bg]="game.gameCover || emptyCover"></div>
          </a>
          <div class="related-item-title">
            <a [routerLink]="'/detail/' + game.gameId" [title]="game.gameTitle">{{ game.gameTitle }}</a>
          </div>
        </div>
      }
    </div>
  </div>
}
