@import "../../../styles/variables";

.paginator {
  padding: @m-primary-margin @m-primary-padding;
  border-radius: @border-radius;

  &-box {
    background-color: @content-background-color;
    box-shadow: @content-box-shadow;
  }

  &-desktop {
    margin: @primary-margin @box-shadow-width @box-shadow-width @box-shadow-width;

    > ul {
      @item-size: 32px;

      > li {
        box-sizing: border-box;
        display: inline-block;
        width: @item-size;
        height: @item-size;
        border-radius: 2px;
        line-height: @item-size - 2px;
        text-align: center;
        vertical-align: middle;

        &:not(:last-child) {
          margin-right: 12px;
        }

        &.paginator-page {
          border: solid 1px #cfcfcf;
          background-color: @tag-background-color;

          &:hover {
            border: solid 1px @primary-color;
            background-color: @content-background-color;
            color: @primary-color;
          }
        }

        &.active {
          border: solid 1px @primary-color;
          background-color: @content-background-color;
          color: @primary-color;
          font-weight: bold;
        }

        a {
          display: inline-block;
          width: 100%;
          height: 100%;
          color: #666;

          &:hover {
            color: @primary-color;
          }
        }
      }
    }
  }

  &-mobile {
    display: flex;
    justify-content: space-between;

    &.paginator-box {
      margin-top: @m-primary-margin;
    }

    a > :first-child {
      margin-right: 0.8rem;
    }
  }
}
