<div *ngIf="paginator" class="m-pagination m-content-box">
  <ul class="x-pc">
    <li *ngIf="paginator.curPage > 1" class="u-page u-page-prev">
      <a [routerLink]="[url + paginator.prevPage + param]" title="上一页">&lt;</a>
    </li>
    <ng-container *ngIf="paginator.totalPage < 10">
      <ng-container *ngFor="let v of counter(paginator.totalPage); let i = index">
        <li *ngIf="i + 1 === paginator.curPage" class="u-page u-page-num active"><span>{{i + 1}}</span></li>
        <li *ngIf="i + 1 !== paginator.curPage" class="u-page u-page-num">
          <a [routerLink]="[url + (i + 1) + param]" title="第{{i + 1}}页">{{i + 1}}</a>
        </li>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="paginator.totalPage >= 10 && paginator.curPage <= 5">
      <ng-container *ngFor="let v of counter(5); let i = index">
        <li *ngIf="i + 1 === paginator.curPage" class="u-page u-page-num active"><span>{{i + 1}}</span></li>
        <li *ngIf="i + 1 !== paginator.curPage" class="u-page u-page-num">
          <a [routerLink]="[url + (i + 1) + param]" title="第{{i + 1}}页">{{i + 1}}</a>
        </li>
      </ng-container>
      <li class="u-page-split"><span>...</span></li>
      <li class="u-page u-page-num">
        <a [routerLink]="[url + paginator.totalPage + param]" title="第{{paginator.totalPage}}页">{{paginator.totalPage}}</a>
      </li>
    </ng-container>
    <ng-container *ngIf="paginator.totalPage >= 10 && paginator.curPage >= paginator.totalPage - 4">
      <li class="u-page u-page-num"><a [routerLink]="[url + 1 + param]" title="第1页">1</a></li>
      <li class="u-page-split"><span>...</span></li>
      <ng-container *ngFor="let v of counter(5); let i = index">
        <li *ngIf="paginator.totalPage - 4 + i === paginator.curPage" class="u-page u-page-num active">
          <span>{{paginator.totalPage - 4 + i}}</span></li>
        <li *ngIf="paginator.totalPage - 4 + i !== paginator.curPage" class="u-page u-page-num">
          <a [routerLink]="[url + (paginator.totalPage - 4 + i) + param]" title="第{{paginator.totalPage - 4 + i}}页">{{paginator.totalPage - 4 + i}}</a>
        </li>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="paginator.totalPage >= 10 && paginator.curPage > 5 && paginator.curPage < paginator.totalPage - 4">
      <li class="u-page u-page-num"><a [routerLink]="[url + 1 + param]" title="第1页">1</a></li>
      <li class="u-page-split"><span>...</span></li>
      <ng-container *ngFor="let v of counter(5); let i = index">
        <li *ngIf="paginator.curPage - 2 + i === paginator.curPage" class="u-page u-page-num active">
          <span>{{paginator.curPage - 2 + i}}</span></li>
        <li *ngIf="paginator.curPage - 2 + i !== paginator.curPage" class="u-page u-page-num">
          <a [routerLink]="[url + (paginator.curPage - 2 + i) + param]" title="第{{paginator.curPage - 2 + i}}页">{{paginator.curPage - 2 + i}}</a>
        </li>
      </ng-container>
      <li class="u-page-split"><span>...</span></li>
      <li class="u-page u-page-num">
        <a [routerLink]="[url + paginator.totalPage + param]" title="第{{paginator.totalPage}}页">{{paginator.totalPage}}</a>
      </li>
    </ng-container>
    <li *ngIf="paginator.curPage < paginator.endPage" class="u-page u-page-next"><a [routerLink]="[url + paginator.nextPage + param]" title="下一页">&gt;</a></li>
  </ul>
</div>
