<ng-container *ngIf="paginator">
  <div *ngIf="!isMobile" class="paginator paginator-desktop" [class.paginator-box]="showBackground">
    <ul>
      <li *ngIf="paginator.curPage > 1" class="paginator-page">
        <a [routerLink]="getRouterLink(paginator.prevPage)"
           [queryParams]="getQueryParams(paginator.prevPage)" title="上一页"><i class="icon icon-left"></i></a>
      </li>
      <ng-container *ngIf="paginator.totalPage < 10">
        <ng-container *ngFor="let v of counter(paginator.totalPage); let i = index">
          <li *ngIf="i + 1 === paginator.curPage" class="paginator-page active"><span>{{i + 1}}</span></li>
          <li *ngIf="i + 1 !== paginator.curPage" class="paginator-page">
            <a [routerLink]="getRouterLink(i + 1)"
               [queryParams]="getQueryParams(i + 1)" title="第{{i + 1}}页">{{i + 1}}</a>
          </li>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="paginator.totalPage >= 10 && paginator.curPage <= 5">
        <ng-container *ngFor="let v of counter(5); let i = index">
          <li *ngIf="i + 1 === paginator.curPage" class="paginator-page active"><span>{{i + 1}}</span></li>
          <li *ngIf="i + 1 !== paginator.curPage" class="paginator-page">
            <a [routerLink]="getRouterLink(i + 1)"
               [queryParams]="getQueryParams(i + 1)" title="第{{i + 1}}页">{{i + 1}}</a>
          </li>
        </ng-container>
        <li><span>...</span></li>
        <li class="paginator-page">
          <a [routerLink]="getRouterLink(paginator.totalPage)"
             [queryParams]="getQueryParams(paginator.totalPage)"
             title="第{{paginator.totalPage}}页">{{paginator.totalPage}}</a>
        </li>
      </ng-container>
      <ng-container *ngIf="paginator.totalPage >= 10 && paginator.curPage >= paginator.totalPage - 4">
        <li class="paginator-page">
          <a [routerLink]="getRouterLink(1)" [queryParams]="getQueryParams(1)" title="第1页">1</a>
        </li>
        <li><span>...</span></li>
        <ng-container *ngFor="let v of counter(5); let i = index">
          <li *ngIf="paginator.totalPage - 4 + i === paginator.curPage" class="paginator-page active">
            <span>{{paginator.totalPage - 4 + i}}</span></li>
          <li *ngIf="paginator.totalPage - 4 + i !== paginator.curPage" class="paginator-page">
            <a [routerLink]="getRouterLink(paginator.totalPage - 4 + i)"
               [queryParams]="getQueryParams(paginator.totalPage - 4 + i)"
               title="第{{paginator.totalPage - 4 + i}}页">{{paginator.totalPage - 4 + i}}</a>
          </li>
        </ng-container>
      </ng-container>
      <ng-container
        *ngIf="paginator.totalPage >= 10 && paginator.curPage > 5 && paginator.curPage < paginator.totalPage - 4">
        <li class="paginator-page">
          <a [routerLink]="getRouterLink(1)" [queryParams]="getQueryParams(1)" title="第1页">1</a></li>
        <li><span>...</span></li>
        <ng-container *ngFor="let v of counter(5); let i = index">
          <li *ngIf="paginator.curPage - 2 + i === paginator.curPage" class="paginator-page active">
            <span>{{paginator.curPage - 2 + i}}</span></li>
          <li *ngIf="paginator.curPage - 2 + i !== paginator.curPage" class="paginator-page">
            <a [routerLink]="getRouterLink(paginator.curPage - 2 + i)"
               [queryParams]="getQueryParams(paginator.curPage - 2 + i)"
               title="第{{paginator.curPage - 2 + i}}页">{{paginator.curPage - 2 + i}}</a>
          </li>
        </ng-container>
        <li><span>...</span></li>
        <li class="paginator-page">
          <a [routerLink]="getRouterLink(paginator.totalPage)"
             [queryParams]="getQueryParams(paginator.totalPage)"
             title="第{{paginator.totalPage}}页">{{paginator.totalPage}}</a>
        </li>
      </ng-container>
      <li *ngIf="paginator.curPage < paginator.endPage" class="paginator-page">
        <a [routerLink]="getRouterLink(paginator.nextPage)"
           [queryParams]="getQueryParams(paginator.nextPage)" title="下一页"><i class="icon icon-right"></i></a>
      </li>
    </ul>
  </div>
  <div *ngIf="isMobile && paginator.totalPage > 1"
       class="paginator paginator-mobile"
       [class.paginator-box]="showBackground">
    <div>
      <a *ngIf="paginator.curPage > 1"
         [routerLink]="getRouterLink(paginator.prevPage)"
         [queryParams]="getQueryParams(paginator.prevPage)" title="上一页">
        <i class="icon icon-arrow-left"></i><span>上一页</span>
      </a>
    </div>
    <div>
      <a *ngIf="paginator.curPage < paginator.endPage"
         [routerLink]="getRouterLink(paginator.nextPage)"
         [queryParams]="getQueryParams(paginator.nextPage)" title="下一页">
        <span>下一页</span><i class="icon icon-arrow-right"></i>
      </a>
    </div>
  </div>
</ng-container>
