<lib-breadcrumb></lib-breadcrumb>
@if (total > 0) {
  <div class="post-card-list" [class.post-card-list-2]="!isMobile">
    @for (game of games; track game; let i = $index) {
      <lib-game-item class="post-card-item-wrap" [game]="game" [mode]="ListMode.CARD" [index]="i"></lib-game-item>
    }
  </div>
} @else {
  <div class="empty" [class.p-empty]="!isMobile" [class.m-empty]="isMobile">
    <nz-empty nzNotFoundImage="simple"></nz-empty>
  </div>
}
<lib-make-money></lib-make-money>
<lib-pagination></lib-pagination>
