@let g = game();
@let d = domains();
@let c = gameCover();
@if (mode() === 'list') {
  @if (!isMobile) {
    <article class="post-item">
      <div class="post-item-body">
        <div class="post-item-content">
          <header>
            @if (g.isPinned) {
              <span class="meta-tag meta-tag-sticky">置顶</span>
            }
            <h2>
              <lib-a [href]="d['game'].url + '/detail/' + g.id"
                     [title]="g.title"
                     rel="bookmark">{{ g.title }}</lib-a>
            </h2>
          </header>
          <div class="post-item-meta">
            <div [title]="g.createdAt | date:'yyyy-MM-dd'">
              <fi-calendar-date class="fi"/><span>{{ g.createdAt | date:'yyyy-MM-dd' }}</span>
            </div>
            <div>
              <nz-icon nzType="eye"/><span>{{ g.gameStat.viewCount | numberView: 'K' }}</span>
            </div>
            <div>
              <nz-icon nzType="like"/><span>{{ g.gameStat.likeCount | numberView: 'K' }}</span>
            </div>
          </div>
          <div class="post-item-summary">
            <span [innerHTML]="gameExcerpt()"></span>
          </div>
        </div>
        <div class="post-item-cover">
          <lib-a [href]="d['game'].url + '/detail/' + g.id" [title]="g.title">
            @if (index() > 3) {
              <span class="post-item-cover-img lazyload"
                    [class.full-img]="!g.coverUrl"
                    [attr.data-bg]="c"></span>
            } @else {
              <span class="post-item-cover-img"
                    [class.full-img]="!g.coverUrl"
                    [style.background-image]="'url(' + c + ')'"></span>
            }
            <span class="overlay"></span>
          </lib-a>
        </div>
      </div>
      @if (g.categories.length > 0 || g.tags.length > 0) {
        <div class="post-item-tag-wrap">
          @if (g.categories.length > 0) {
            <div class="post-item-tag">
              <div>
                <div class="post-item-tag-icon">
                  <nz-icon nzType="folder"/>
                </div>
                <ul>
                  @for (category of g.categories; track category.category.id) {
                    <li>
                      <lib-a [href]="d['game'].url + '/category/' + category.category.slug"
                             title="{{ category.category.name }}"
                             rel="category">{{ category.category.name }}</lib-a>
                    </li>
                  }
                </ul>
              </div>
            </div>
          }
          @if (g.tags.length > 0) {
            <div class="post-item-tag">
              <div>
                <div class="post-item-tag-icon">
                  <nz-icon nzType="tag"/>
                </div>
                <ul>
                  @for (tag of g.tags; track tag.tag.id) {
                    <li>
                      <lib-a [href]="d['game'].url + '/tag/' + tag.tag.name"
                             [title]="tag.tag.name"
                             rel="category">{{ tag.tag.name }}</lib-a>
                    </li>
                  }
                </ul>
              </div>
            </div>
          }
        </div>
      }
    </article>
  } @else {
    <article class="m-post-item">
      <header>
        <h2>
          @if (g.isPinned) {
            <span class="m-meta-tag meta-tag-sticky"><nz-icon nzType="vertical-align-top"/></span>
          }
          <lib-a [href]="d['game'].url + '/detail/' + g.id"
                 [title]="g.title"
                 rel="bookmark">{{ g.title }}</lib-a>
        </h2>
        <div class="m-post-item-stat">
          <span><nz-icon nzType="eye"/><span>{{ g.gameStat.viewCount | numberView: 'K' }}</span></span>
          <span><nz-icon nzType="like"/><span>{{ g.gameStat.likeCount | numberView: 'K' }}</span></span>
        </div>
      </header>
      <div class="m-post-item-meta">
        <span [title]="g.createdAt | date:'yyyy-MM-dd'">
          <fi-calendar-date class="fi"/><span>{{ g.createdAt | date:'yyyy-MM-dd' }}</span>
        </span>
      </div>
      <div class="m-post-item-cover">
        <lib-a [href]="d['game'].url + '/detail/' + g.id" [title]="g.title">
          @if (index() > 3) {
            <span class="m-post-item-cover-img lazyload"
                  [class.full-img]="!g.coverUrl"
                  [attr.data-bg]="c"></span>
          } @else {
            <span class="m-post-item-cover-img"
                  [class.full-img]="!g.coverUrl"
                  [style.background-image]="'url(' + c + ')'"></span>
          }
          <span class="overlay"></span>
        </lib-a>
      </div>
      <div class="m-post-item-summary">
        <span [innerHTML]="gameExcerpt()"></span>
      </div>
    </article>
  }
} @else {
  <article class="post-card-item">
    <div class="post-card-item-body">
      <div class="post-card-cover" [class.m-post-card-cover]="isMobile">
        <lib-a [href]="d['game'].url + '/detail/' + g.id" [title]="g.title">
          @if (index() > 3) {
            <span class="post-item-cover-img lazyload"
                  [class.full-img]="!g.coverUrl"
                  [attr.data-bg]="c"></span>
          } @else {
            <span class="post-item-cover-img"
                  [class.full-img]="!g.coverUrl"
                  [style.background-image]="'url(' + c + ')'"></span>
          }
          <span class="overlay"></span>
        </lib-a>
      </div>
      <div class="post-content">
        <header>
          @if (g.isPinned) {
            <span class="meta-tag meta-tag-sticky">置顶</span>
          }
          <h2>
            <lib-a [href]="d['game'].url + '/detail/' + g.id"
                   [title]="g.title"
                   rel="bookmark">{{ g.title }}</lib-a>
          </h2>
        </header>
        <div class="post-meta-wrap">
          <div class="post-meta">
            <div class="tags">
              <nz-icon nzType="folder"/>
              <div class="game-tag">
                @for (category of g.categories; track category.category.id) {
                  <lib-a [href]="d['game'].url + '/category/' + category.category.slug"
                         title="{{ category.category.name }}"
                         rel="category">{{ category.category.name }}</lib-a>
                }
              </div>
            </div>
          </div>
          <div class="post-meta">
            <div class="date" [title]="g.createdAt | date:'yyyy-MM-dd'">
              <fi-calendar-date class="fi"/><span>{{ g.createdAt | date:'yyyy-MM-dd' }}</span>
            </div>
            <div class="actions">
              <div title="浏览: {{ g.gameStat.viewCount | numberView: 'K' }}">
                <nz-icon nzType="eye"/><span>{{ g.gameStat.viewCount | numberView: 'K' }}</span>
              </div>
              <div title="喜欢: {{ g.gameStat.likeCount | numberView: 'K' }}">
                <nz-icon nzType="like"/><span>{{ g.gameStat.likeCount | numberView: 'K' }}</span>
              </div>
              <div title="评论: {{ g.gameStat.commentCount | numberView: 'K' }}">
                @if (g.gameStat.commentCount > 0) {
                  <fi-chat-square-dots class="fi"/><span>{{ g.gameStat.commentCount | numberView: 'K' }}</span>
                } @else {
                  <fi-chat-square class="fi"/><span>0</span>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
}
