<app-breadcrumb></app-breadcrumb>
<div class="content-box" [ngClass]="{'content-box-desktop': !isMobile, 'content-box-mobile': isMobile}">
  <form class="encrypt-form">
    <div>
      <textarea class="input input-textarea input-dark" rows="12" name="encryptContent"
                [(ngModel)]="encryptContent"
                (ngModelChange)="onContentChange($event)"
                [maxLength]="maxContentLength" placeholder="待加密内容"></textarea>
    </div>
    <div class="encrypt-form-btns">
      <ng-container *ngIf="!isMobile">
        <button type="button" class="button button-submit" [class.disabled]="!encryptContent"
                [disabled]="!encryptContent"
                (click)="encrypt()">MD5加密（小写）</button>
        <button type="button" class="button button-submit" [class.disabled]="!encryptContent"
                [disabled]="!encryptContent"
                (click)="encrypt(true)">MD5加密（大写）</button>
      </ng-container>
      <ng-container *ngIf="isMobile">
        <button type="button" class="button button-submit" [class.disabled]="!encryptContent"
                [disabled]="!encryptContent"
                (click)="encrypt()">MD5加密</button>
      </ng-container>
      <button type="button" class="button button-submit" [class.disabled]="!encryptResult"
              ngxClipboard
              [cbContent]="encryptResult"
              [disabled]="!encryptResult"
              (cbOnSuccess)="onCopied()">复制结果</button>
      <button type="button" class="button button-submit" [class.disabled]="!encryptContent"
              [disabled]="!encryptContent"
              (click)="reset()">清空内容</button>
    </div>
    <div>
      <textarea class="input input-textarea input-dark" rows="4" name="encryptResult" readonly="readonly"
                [(ngModel)]="encryptResult" placeholder="MD5 Result"></textarea>
    </div>
    <h2 class="encrypt-header">MD5 加密说明</h2>
    <div class="encrypt-description">
      <ol>
        <li>MD5 加密常用于判断内容是否被篡改，或比较两份文本是否相同。</li>
        <li>MD5 待加密内容最大输入长度为 {{maxContentLength}} 字符。</li>
        <li>本工具 MD5 加密方式为客户端（浏览器）离线加密，不经过任何服务端，不会记录任何信息。</li>
      </ol>
    </div>
  </form>
</div>
<i-jd-union-goods-group></i-jd-union-goods-group>
