<app-breadcrumb></app-breadcrumb>
<div class="filter" [class.filter-desktop]="!isMobile" [class.filter-mobile]="isMobile">
  <div class="lang-options">
    <label [class.active]="!lang"><a routerLink="./" [queryParams]="{mode: mode}">全部</a></label>
    <label [class.active]="lang === 'cn'"><a routerLink="./" [queryParams]="{lang: 'cn', mode: mode}">中文</a></label>
    <label [class.active]="lang === 'en'"><a routerLink="./" [queryParams]="{lang: 'en', mode: mode}">English</a></label>
  </div>
  <div class="mode-options">
    <a *ngIf="mode === 'card'"
       routerLink="./"
       [queryParams]="{lang: lang, mode: 'list'}"
       title="列表模式"><i class='icon icon-bars'></i></a>
    <a *ngIf="mode === 'list'"
       routerLink="./"
       [queryParams]="{lang: lang, mode: 'card'}"
       title="卡片模式"><i class='icon icon-appstore'></i></a>
  </div>
</div>
<ng-container *ngIf="mode === 'card'">
  <div class="wallpaper" [class.wallpaper-desktop]="!isMobile" [class.wallpaper-mobile]="isMobile">
    <div class="wallpaper-list">
      <div class="wallpaper-item" *ngFor="let wallpaper of wallpapers">
        <div class="wallpaper-box">
          <div class="photo">
            <a class="photo-link"
               [routerLink]="['/wallpaper/' + wallpaper.wallpaperId]"
               [queryParams]="getLangParams(wallpaper)"
               [title]="wallpaper.wallpaperCopyright">
              <img [src]="wallpaper.wallpaperThumbUrl" [alt]="wallpaper.wallpaperCopyright"/><div class="overlay"></div>
            </a>
          </div>
          <div class="content">
            <h2 [title]="wallpaper.wallpaperCopyright">
              <a [routerLink]="['/wallpaper/' + wallpaper.wallpaperId]"
                 [queryParams]="getLangParams(wallpaper)"
                 [title]="wallpaper.wallpaperCopyright">{{wallpaper.wallpaperCopyright}}</a>
            </h2>
            <div class="content-location" *ngIf="!isMobile">
              <i class="icon icon-geo-alt"></i><span>{{wallpaper.wallpaperLocation}}</span>
            </div>
            <div class="content-meta">
              <div class="date" [title]="wallpaper.wallpaperDate">
                <i class='icon icon-calendar'></i><span>{{wallpaper.wallpaperDate}}</span>
              </div>
              <div class="actions">
                <div class="action-item" title="访问: {{wallpaper.wallpaperViews | numberView}}">
                  <i class="icon icon-eye"></i><span>{{wallpaper.wallpaperViews | numberView}}</span>
                </div>
                <div class="action-item clickable"
                     [class.disabled]="wallpaper.wallpaperVoted || voteLoadingMap[wallpaper.wallpaperId]"
                     (click)="voteWallpaper(wallpaper)"
                     title="喜欢: {{wallpaper.wallpaperLikes | numberView}}">
                  <i class='icon'
                     [class.icon-like]="!wallpaper.wallpaperVoted"
                     [class.icon-like-fill]="wallpaper.wallpaperVoted"
                     [class.icon-loading]="voteLoadingMap[wallpaper.wallpaperId]"
                  ></i><span>{{wallpaper.wallpaperLikes | numberView}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="wallpapers.length < 1"
       class="empty-wrap" [class.empty-wrap-desktop]="!isMobile" [class.empty-wrap-mobile]="isMobile">
    <i-empty [showBorder]="false" [showShadow]="true"></i-empty>
  </div>
</ng-container>
<i-wallpaper-list-view *ngIf="mode === 'list'" [wallpapers]="wallpapers"></i-wallpaper-list-view>
<i-make-money></i-make-money>
<app-page-bar *ngIf="total > 0"
              [isPath]="false" [paginator]="paginatorData" [url]="pageUrl" [param]="pageUrlParam"></app-page-bar>
