<app-breadcrumb></app-breadcrumb>
<div class="content-box" [ngClass]="{'content-box-desktop': !isMobile, 'content-box-mobile': isMobile}">
  <div class="wallpaper" [class.wallpaper-desktop]="!isMobile" [class.wallpaper-mobile]="isMobile">
    <div class="switcher" *ngIf="!year">
      <div>
        <div class="lang" [class.active]="lang === 'cn'">
          <a routerLink="./" [queryParams]="getQueryParams('cn')">中文</a>
        </div>
        <div class="lang" [class.active]="lang === 'en'">
          <a routerLink="./" [queryParams]="getQueryParams('en')">English</a>
        </div>
      </div>
    </div>
    <div class="wallpaper-list">
      <div class="wallpaper-item" *ngFor="let wallpaper of wallpapers">
        <div class="wallpaper-box">
          <div class="photo">
            <a class="photo-link"
               [routerLink]="[wallpaper.wallpaperId]"
               [queryParams]="getLangParams()"
               [title]="wallpaper.copyright">
              <img [src]="wallpaper.thumbUrl" [alt]="wallpaper.copyright"/><div class="overlay"></div>
            </a>
          </div>
          <div class="content">
            <h2 [title]="wallpaper.copyright">
              <a [routerLink]="[wallpaper.wallpaperId]"
                 [queryParams]="getLangParams()"
                 [title]="wallpaper.copyright">{{wallpaper.copyright}}</a>
            </h2>
            <div class="content-location">
              <i class="icon icon-geo-alt"></i><span>{{wallpaper.location}}</span>
            </div>
            <div class="content-meta">
              <div class="date" [title]="wallpaper.date">
                <i class='icon icon-calendar'></i><span>{{wallpaper.date}}</span>
              </div>
              <div class="actions">
                <div class="action-item" title="访问: {{wallpaper.views | numberView}}">
                  <i class="icon icon-eye"></i><span>{{wallpaper.views | numberView}}</span>
                </div>
                <div class="action-item clickable"
                     [class.disabled]="wallpaper.liked || voteLoadingMap[wallpaper.wallpaperId]"
                     (click)="voteWallpaper(wallpaper)"
                     title="喜欢: {{wallpaper.likes | numberView}}">
                  <i class='icon'
                     [class.icon-heart]="!wallpaper.liked"
                     [class.icon-heart-fill]="wallpaper.liked"
                     [class.icon-loading]="voteLoadingMap[wallpaper.wallpaperId]"></i><span>{{wallpaper.likes | numberView}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="empty-box" *ngIf="total < 1">
      <app-empty></app-empty>
    </div>
  </div>
</div>
<app-page-bar *ngIf="total > 0"
              [isPath]="false" [paginator]="paginatorData" [url]="pageUrl" [param]="pageUrlParam"></app-page-bar>
