@import "../../../../styles/variables";

.wallpaper {
  @row-size: 2;

  border-radius: @border-radius;

  &.wallpaper-desktop {
    margin: @primary-margin @box-shadow-width 0;

    .wallpaper-list {
      margin: -(@primary-margin / 2);
    }

    .wallpaper-item {
      width: (100% / @row-size);
      padding: (@primary-margin / 2);
    }
  }

  &.wallpaper-mobile {
    margin: @m-primary-margin 0 0;

    .wallpaper-item {
      width: 100%;

      &:not(:last-child) {
        padding-bottom: (@m-content-padding / 2);
      }

      &:not(:first-child) {
        padding-top: (@m-content-padding / 2);
      }
    }
  }

  .wallpaper-list {
    display: flex;
    flex: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
  }

  .wallpaper-item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;

    .photo {
      overflow: hidden;

      &:hover .overlay {
        opacity: 0.5;
      }

      img {
        width: 100%;
      }

      .photo-link {
        position: relative;
        display: block;
        transition: transform .5s;
      }

      .overlay {
        position: absolute;
        inset: 0;
        background-color: var(--overlay-background-color);
        opacity: 0;
        transition: @overlay-transition;
      }
    }

    .photo, .photo-link {
      border-top-left-radius: @border-radius;
      border-top-right-radius: @border-radius;
    }

    .content {
      padding: (@primary-padding / 2) @content-padding;
      line-height: @post-line-height;

      h2 {
        display: flex;
        font-size: @header-font-size;
        font-weight: @header-font-weight;

        a {
          display: inline-block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      > div {
        margin-top: 8px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .content-location, .content-meta {
        color: var(--minor-color);
        font-size: @meta-font-size;
      }

      .content-meta {
        display: flex;
        justify-content: space-between;
      }

      .icon {
        margin-right: 4px;
      }

      .icon-heart-fill {
        color: var(--action-color);
      }

      .actions {
        display: flex;
        justify-content: flex-end;
      }

      .action-item {
        &:not(:last-child) {
          margin-right: 8px;
        }

        &.clickable {
          cursor: pointer;

          &:hover {
            color: var(--action-color);
          }
        }

        &.disabled {
          cursor: not-allowed;
        }
      }
    }
  }

  .wallpaper-box {
    border-radius: @border-radius;
    background: var(--wallpaper-item-background-color);
    box-shadow: var(--content-box-shadow);

    &:hover {
      .photo-link {
        transform: scale(1.08);
      }
    }
  }
}

.filter {
  @filter-height: 40px;

  display: flex;
  justify-content: space-between;

  &-desktop {
    margin: @primary-margin @box-shadow-width;
  }

  &-mobile {
    margin: @m-primary-margin 0;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--base-color);
  }

  .lang-options label:not(.active):hover, .mode-options:hover {
    a {
      color: var(--primary-color);
    }
  }

  .lang-options {
    display: flex;

    label {
      box-sizing: border-box;
      position: relative;
      height: @filter-height;
      line-height: @filter-height - 2;
      border: 1px solid var(--input-border-color);
      background-color: var(--content-background-color);

      &:first-child {
        border-top-left-radius: @border-radius;
        border-bottom-left-radius: @border-radius;
      }

      &:last-child {
        border-top-right-radius: @border-radius;
        border-bottom-right-radius: @border-radius;
      }

      &:not(:first-child) {
        border-left-width: 0;

        &:before {
          position: absolute;
          top: -1px;
          left: -1px;
          display: block;
          box-sizing: content-box;
          width: 1px;
          height: 100%;
          padding: 1px 0;
          background-color: var(--input-border-color);
          content: "";
        }
      }

      &.active {
        border-color: var(--primary-color);
        background: var(--primary-color);
        z-index: 1;

        &:before {
          background-color: var(--primary-color);
        }

        a {
          color: #fff;
        }
      }

      a {
        box-sizing: border-box;
        padding: 0 15px;
      }
    }
  }

  .mode-options {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: @filter-height;
    border: 1px solid var(--input-border-color);
    border-radius: @border-radius;
    font-size: 20px;
    background-color: var(--content-background-color);
  }
}

.empty-wrap {
  &-desktop {
    margin: @primary-margin @box-shadow-width 0;
  }

  &-mobile {
    margin: @m-primary-margin 0 0;
  }
}
