<app-breadcrumb></app-breadcrumb>
<div class="filter content-box" [class.content-box-desktop]="!isMobile" [class.content-box-mobile]="isMobile">
  <div class="filter-item">
    <div class="filter-label">语言</div>
    <ul class="filter-options">
      <li [class.active]="!lang"><a routerLink="./" [queryParams]="{mode: mode}">全部</a></li>
      <li [class.active]="lang === 'cn'"><a routerLink="./" [queryParams]="{lang: 'cn', mode: mode}">中文</a></li>
      <li [class.active]="lang === 'en'"><a routerLink="./" [queryParams]="{lang: 'en', mode: mode}">English</a></li>
    </ul>
  </div>
  <div class="filter-item">
    <div class="filter-label">显示方式</div>
    <ul class="filter-options">
      <li [class.active]="mode === 'card'"><a routerLink="./" [queryParams]="{lang: lang, mode: 'card'}">卡片</a></li>
      <li [class.active]="mode === 'list'"><a routerLink="./" [queryParams]="{lang: lang, mode: 'list'}">列表</a></li>
    </ul>
  </div>
</div>
<ng-container *ngIf="mode === 'card'">
  <div class="wallpaper" [class.wallpaper-desktop]="!isMobile" [class.wallpaper-mobile]="isMobile">
    <div class="wallpaper-list">
      <div class="wallpaper-item" *ngFor="let wallpaper of wallpapers">
        <div class="wallpaper-box">
          <div class="photo">
            <a class="photo-link"
               [routerLink]="['/wallpaper/' + wallpaper.wallpaperId]"
               [queryParams]="getLangParams(wallpaper)"
               [title]="wallpaper.wallpaperCopyright">
              <img [src]="wallpaper.wallpaperThumbUrl" [alt]="wallpaper.wallpaperCopyright"/><div class="overlay"></div>
            </a>
          </div>
          <div class="content">
            <h2 [title]="wallpaper.wallpaperCopyright">
              <a [routerLink]="['/wallpaper/' + wallpaper.wallpaperId]"
                 [queryParams]="getLangParams(wallpaper)"
                 [title]="wallpaper.wallpaperCopyright">{{wallpaper.wallpaperCopyright}}</a>
            </h2>
            <div class="content-location">
              <i class="icon icon-geo-alt"></i><span>{{wallpaper.wallpaperLocation}}</span>
            </div>
            <div class="content-meta">
              <div class="date" [title]="wallpaper.wallpaperDate">
                <i class='icon icon-calendar'></i><span>{{wallpaper.wallpaperDate}}</span>
              </div>
              <div class="actions">
                <div class="action-item" title="访问: {{wallpaper.wallpaperViews | numberView}}">
                  <i class="icon icon-eye"></i><span>{{wallpaper.wallpaperViews | numberView}}</span>
                </div>
                <div class="action-item clickable"
                     [class.disabled]="wallpaper.wallpaperVoted || voteLoadingMap[wallpaper.wallpaperId]"
                     (click)="voteWallpaper(wallpaper)"
                     title="喜欢: {{wallpaper.wallpaperLikes | numberView}}">
                  <i class='icon'
                     [class.icon-like]="!wallpaper.wallpaperVoted"
                     [class.icon-like-fill]="wallpaper.wallpaperVoted"
                     [class.icon-loading]="voteLoadingMap[wallpaper.wallpaperId]"></i><span>{{wallpaper.wallpaperLikes | numberView}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-empty *ngIf="wallpapers.length < 1" [showBorder]="false" [showShadow]="true"></app-empty>
</ng-container>
<i-wallpaper-list-view *ngIf="mode === 'list'" [wallpapers]="wallpapers"></i-wallpaper-list-view>
<i-make-money></i-make-money>
<app-page-bar *ngIf="total > 0"
              [isPath]="false" [paginator]="paginatorData" [url]="pageUrl" [param]="pageUrlParam"></app-page-bar>
