@import "../../../../styles/variables";

.wallpaper {
  @content-padding: 16px;
  @m-content-padding-horizontal: 2.4rem;
  @m-content-padding-vertical: 1.6rem;

  position: relative;
  margin: @header-height + @header-bg-height + @primary-margin auto 0;

  &.wallpaper-desktop {
    width: @body-width;

    .wallpaper-item {
      width: 33.33333333%;

      &:hover {
        z-index: 9;

        .photo {
          transition: transform .5s;
          transform: scale(1.12);
        }

        .content, .actions {
          display: block;
        }
      }

      .content {
        display: none;
        top: @content-padding;
        left: @content-padding;
        right: @content-padding;
      }

      .actions {
        display: none;
        bottom: @content-padding;
        right: @content-padding;
      }
    }

    .paginator-box {
      padding-top: 8px;
      text-align: center;
    }
  }

  &.wallpaper-mobile {
    .wallpaper-item {
      &:not(:last-child) {
        margin-bottom: 1.6rem;
      }

      .content {
        top: @m-content-padding-vertical;
        left: @m-content-padding-horizontal;
        right: @m-content-padding-horizontal;

        h2 {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .author {
          display: none;
        }
      }

      .actions {
        bottom: @m-content-padding-vertical;
        right: @m-content-padding-horizontal;
      }
    }

    .paginator-box {
      margin-bottom: 1.6rem;
    }
  }

  .switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0 32px;

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: @content-box-shadow;
    }

    .lang {
      font-size: 15px;

      &:first-child {
        border-right: none;
        border-top-left-radius: @border-radius;
        border-bottom-left-radius: @border-radius;
      }

      &:last-child {
        border-left: none;
        border-top-right-radius: @border-radius;
        border-bottom-right-radius: @border-radius;
      }

      &:hover {
        background: #fff;
      }

      a {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 32px;
        padding: 4px 8px;
        color: @base-color;
      }

      &.active {
        background: @primary-color;

        &:hover {
          background: @active-color;
        }

        a {
          color: #fff;
        }
      }
    }
  }

  .list {
    display: flex;
    flex: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .wallpaper-item {
    position: relative;

    .link {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 2;
    }

    .content {
      position: absolute;
      color: #efefef;
      z-index: 1;

      .info {
        text-shadow: 0 0 0 #efefef, 0 0 2px rgb(0 0 0 / 60%), 0 0 4px rgb(0 0 0 / 60%);
      }

      .meta {
        display: flex;
        margin-top: 8px;
        font-size: @meta-font-size;

        .date {
          flex-shrink: 0;
        }

        .author {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .icon {
          margin-right: 8px;
        }

        > div:not(:last-child) {
          margin-right: 12px;
        }
      }

      h2 {
        font-size: @primary-font-size;
        font-weight: 400;
      }
    }

    .actions {
      position: absolute;
      z-index: 3;

      .action-item {
        padding: 4px 8px;
        border-radius: 4px;
        background: rgba(255, 255, 255, .8);
        color: @action-color;

        &:hover {
          cursor: pointer;
          background: #fff;
        }

        &.disabled {
          cursor: not-allowed;
        }
      }

      .icon {
        margin-right: 8px;
      }
    }
  }

  img {
    width: 100%;
  }
}
