<app-breadcrumb></app-breadcrumb>
<div class="tool-wrap" [class.p-tool-wrap]="!isMobile" [class.m-tool-wrap]="isMobile">
  <form class="tool-form">
    <h2 class="tool-header">Base64 编解码</h2>
    <div>
      <nz-textarea-count [nzMaxCharacterCount]="maxContentLength">
        <textarea nz-input
                  rows="12"
                  name="encryptContent"
                  [(ngModel)]="encryptContent"
                  (ngModelChange)="onContentChange($event)"
                  [maxlength]="maxContentLength"
                  placeholder="待编解码内容"></textarea>
      </nz-textarea-count>
    </div>
    <div class="tool-actions">
      <button nz-button
              nzType="primary"
              [disabled]="!encryptContent"
              (click)="transform('encode')">编码</button>
      <button nz-button
              nzType="primary"
              [disabled]="!encryptContent"
              (click)="transform('decode')">解码</button>
      <button nz-button
              nzType="primary"
              ngxClipboard
              [cbContent]="encryptResult"
              [disabled]="!encryptResult"
              (click)="onCopied()">复制结果</button>
      <button nz-button
              nzType="primary"
              [disabled]="!encryptContent"
              (click)="reset()">清空</button>
    </div>
    <div>
      <textarea nz-input
                rows="10"
                name="encryptResult"
                [(ngModel)]="encryptResult"
                readonly="readonly"
                placeholder="Base64 编解码结果"></textarea>
    </div>
    <h2 class="tool-header">Base64 编解码说明</h2>
    <div class="tool-description">
      <ol>
        <li>Base64 编码可用于在 HTTP 环境下传递较长的标识信息，或用作一个简单的“加密”来保护某些数据。</li>
        <li>Base64 待编解码内容最大输入长度为 2000 字符。</li>
        <li>本工具 Base64 编解码方式采用系统原生方式实现，不会记录任何信息。</li>
      </ol>
    </div>
  </form>
</div>