@import "./assets/style/funcational";
@import "./assets/style/variables";
@import "./assets/style/icons";
@import '~highlight.js/styles/github.css';

/* reset */
* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: auto;
  -ms-text-size-adjust: auto;
  -moz-text-size-adjust: auto;
}

body {
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #fafafa;
  color: #333;
  font-family: SpecialSymbol,DINRegular,-apple-system,BlinkMacSystemFont,PingFang SC,Helvetica Neue,Hiragino Sans GB,Segoe UI,Microsoft YaHei,\5fae\8f6f\96c5\9ed1,sans-serif;
}

p, ul {
  margin: 0;
}

img {
  border: 0;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  overflow: auto;
  resize: none;
}

a, a:hover, a:focus {
  color: @theme-color-text;
  text-decoration: none;
  outline: 0;
}

::selection {
  background: @theme-selection-background;
  color: #fff;
  text-shadow: none;
}
