<nz-modal nzCentered
          [nzVisible]="visible"
          nzWidth="88vw"
          [nzStyle]="{ height: '88vh', 'max-width': '1280px', 'max-height': '720px' }"
          [nzBodyStyle]="{ display: 'flex', padding: '8px', height: '100%' }"
          nzClassName="wallpaper-modal"
          [nzFooter]="null"
          [nzClosable]="false"
          [nzMaskClosable]="true"
          (nzOnCancel)="closeModal()"
          (nzOnOk)="closeModal()">
  <ng-container *nzModalContent>
    <div class="w-modal">
      @if (loading || !wallpapers.length) {
        <div><nz-icon nzType="loading" /></div>
      } @else {
        <div class="w-photo" [style.background-image]="'url(' + (activeWallpaper.wallpaperUrl || '') + ')'"></div>
        <div class="w-close"><nz-icon nzType="close" (click)="closeModal()" /></div>
        <div class="w-content">
          <div>
            <h2 class="w-image-title">{{ activeWallpaper.wallpaperTitle }}</h2>
            <div class="w-image-desc">{{ activeWallpaper.wallpaperDescription }}</div>
          </div>
          <div class="w-actions">
            <nz-icon nzType="info" (click)="gotoDetail()" title="壁纸详情" />
            <nz-icon nzType="search" (click)="gotoSearch()" title="搜索壁纸" />
            <nz-icon nzType="left"
                     [class.disabled]="activeIndex === 0"
                     (click)="prevWallpaper()"
                     title="上一张" />
            <nz-icon nzType="right"
                     [class.disabled]="activeIndex === wallpapers.length - 1"
                     (click)="nextWallpaper()"
                     title="下一张" />
            <nz-icon nzType="double-right" (click)="gotoWallpaper()" title="高清壁纸" />
          </div>
        </div>
      }
    </div>
  </ng-container>
</nz-modal>
