@let ai = appInfo();
@let ii = indexInfo();
@let pc = postCategories();
@let gc = gameCategories();
@if (!isMobile) {
  <header class="header-wrap">
    <div class="header">
      <lib-a class="logo" [href]="domains['www'].url" [title]="ai?.name">
        <img [src]="faviconUrl" [alt]="ai?.name"/><span>{{ ai?.name }}</span>
      </lib-a>
      <ul class="nav">
        <li [class.active]="ii?.isHome">
          <lib-a [href]="domains['www'].url" title="{{ai?.name}}首页">首页</lib-a>
        </li>
        <li [class.active]="ii?.isPost">
          <lib-a class="badge badge-ai" [href]="domains['blog'].url" title="博客">
            <span>博客</span>
            @if (pc.length > 0) {
              <span class="nav-arrow"></span>
            }
          </lib-a>
          @if (pc.length > 0) {
            <div class="sub-nav-wrap">
              <div class="sub-nav-list">
                <ul>
                  @for (category of pc; track category.id) {
                    <li>
                      <lib-a class="sub-nav-link"
                             [href]="domains['blog'].url + '/category/' + category.slug"
                             [title]="category.description">
                        <span>{{ category.name }}</span>
                        @if (!category.isLeaf) {
                          <span class="sub-nav-arrow"></span>
                        }
                      </lib-a>
                      @if (!category.isLeaf) {
                        <div class="child-nav-wrap">
                          <div class="child-nav-list">
                            <ul>
                              @for (subCategory of category.children; track subCategory.id) {
                                <li>
                                  <lib-a class="child-nav-link"
                                         [href]="domains['blog'].url + '/category/' + subCategory.slug"
                                         [title]="subCategory.description">{{ subCategory.name }}</lib-a>
                                </li>
                              }
                            </ul>
                          </div>
                        </div>
                      }
                    </li>
                  }
                </ul>
              </div>
            </div>
          }
        </li>
        <li [class.active]="ii?.isWallpaper">
          <lib-a class="badge badge-ai" [href]="domains['wallpaper'].url" title="高清壁纸">
            <span>壁纸</span><span class="nav-arrow"></span>
          </lib-a>
          <div class="sub-nav-wrap">
            <div class="sub-nav-list">
              <ul>
                <li>
                  <lib-a class="sub-nav-link" [href]="domains['wallpaper'].url + '/future'" title="未来一周壁纸">未来壁纸</lib-a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li [class.active]="ii?.isJigsaw">
          <lib-a [href]="domains['jigsaw'].url" title="壁纸拼图">拼图</lib-a>
        </li>
        <li [class.active]="ii?.isGame">
          <lib-a [href]="domains['game'].url" title="游戏">
            <span>游戏</span>
            @if (gc.length > 0) {
              <span class="nav-arrow"></span>
            }
          </lib-a>
          @if (gc.length > 0) {
            <div class="sub-nav-wrap">
              <div class="sub-nav-list">
                <ul>
                  @for (category of gc; track category.id) {
                    <li>
                      <lib-a class="sub-nav-link"
                             [href]="domains['game'].url + '/category/' + category.slug"
                             [title]="category.description">
                        <span>{{ category.name }}</span>
                        @if (!category.isLeaf) {
                          <span class="sub-nav-arrow"></span>
                        }
                      </lib-a>
                      @if (!category.isLeaf) {
                        <div class="child-nav-wrap">
                          <div class="child-nav-list">
                            <ul>
                              @for (subCategory of category.children; track subCategory.id) {
                                <li>
                                  <lib-a class="child-nav-link"
                                         [href]="domains['game'].url + '/category/' + subCategory.slug"
                                         [title]="subCategory.description">{{ subCategory.name }}</lib-a>
                                </li>
                              }
                            </ul>
                          </div>
                        </div>
                      }
                    </li>
                  }
                </ul>
              </div>
            </div>
          }
        </li>
        <li>
          <a [href]="magazineUrl" target="_blank" title="过刊阅读平台">杂志</a>
        </li>
        <li [class.active]="ii?.isTool">
          <lib-a [href]="domains['www'].url + '/tool'" title="工具"><span>工具</span><span class="nav-arrow"></span></lib-a>
          <div class="sub-nav-wrap">
            <div class="sub-nav-list">
              <ul>
                @for (link of toolLinks; track link) {
                  <li>
                    <lib-a class="sub-nav-link"
                           [href]="domains['www'].url + link.url"
                           [title]="link.title">{{ link.label }}</lib-a>
                  </li>
                }
              </ul>
            </div>
          </div>
        </li>
      </ul>
      <div class="actions">
        <div class="search">
          <nz-input-search (nzSearch)="search()">
            <nz-select nzInputAddonBefore name="searchType" [(ngModel)]="searchType">
              <nz-option nzLabel="全站" nzValue="all"/>
              <nz-option nzLabel="博客" nzValue="post"/>
              <nz-option nzLabel="壁纸" nzValue="wallpaper"/>
              <nz-option nzLabel="游戏" nzValue="game"/>
            </nz-select>
            <input nz-input
                   type="text"
                   name="keyword"
                   [(ngModel)]="keyword"
                   autocomplete="off"
                   placeholder="搜索{{searchTypeMap[searchType()]}}（支持全文搜索）"/>
          </nz-input-search>
        </div>
        @if (!isSignIn()) {
          <a nz-button nzType="primary" [href]="domains['www'].url + '/user/signin'">登录</a>
        } @else {
          <div class="more-action-group">
            <div class="more-action-nav">
              <nz-icon nzType="user"/><span>{{ user()?.nickname }}</span><span class="nav-arrow"></span>
            </div>
            <div class="more-action-list">
              <div class="sub-nav-list">
                <ul>
                  <li>
                    <a class="sub-nav-link" (click)="gotoAdmin()">
                      <nz-icon nzType="dashboard"/><span>个人中心</span>
                    </a>
                  </li>
                  <li>
                    <a class="sub-nav-link" (click)="signout()">
                      <nz-icon nzType="logout"/><span>退出登录</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </header>
} @else {
  <header class="m-header-wrap">
    <div class="m-header">
      @if (!searchVisible()) {
        <div class="m-header-body">
          <nz-icon nzType="menu" (click)="showSider()"/>
          <lib-a class="m-logo" [href]="domains['www'].url" [title]="ai?.name">
            <img [src]="faviconUrl" [alt]="ai?.name"/><span>{{ ai?.name }}</span>
          </lib-a>
          <nz-icon nzType="search" (click)="showSearch()"/>
        </div>
      } @else {
        <div class="m-header-search">
          <div class="m-search-form">
            <nz-input-search (nzSearch)="search()">
              <nz-select nzInputAddonBefore name="searchType" nzSize="large" [(ngModel)]="searchType">
                <nz-option nzLabel="全站" nzValue="all"/>
                <nz-option nzLabel="博客" nzValue="post"/>
                <nz-option nzLabel="壁纸" nzValue="wallpaper"/>
                <nz-option nzLabel="游戏" nzValue="game"/>
              </nz-select>
              <input nz-input
                     #mSearchInput
                     type="text"
                     name="keyword"
                     nzSize="large"
                     [(ngModel)]="keyword"
                     autocomplete="off"
                     placeholder="搜索{{searchTypeMap[searchType()]}}（支持全文搜索）"/>
            </nz-input-search>
          </div>
          <div class="m-mask m-mask-search" (click)="hideSearch()"></div>
        </div>
      }
    </div>
  </header>
}
