<div class="user-box" [class.user-box-desktop]="!isMobile" [class.user-box-mobile]="isMobile">
  <div class="user-box-body">
    <form nz-form nzLayout="vertical" class="auth-form" [formGroup]="regForm">
      <nz-form-item>
        <nz-form-label>邮箱</nz-form-label>
        <nz-form-control [nzErrorTip]="nameErrorTpl">
          <input nz-input
                 type="text"
                 formControlName="email"
                 [maxlength]="maxEmailLength"
                 [autofocus]="true"
                 placeholder="邮箱地址"/>
          <ng-template #nameErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">请输入邮箱</ng-container>
            <ng-container *ngIf="control.hasError('email')">请输入有效的邮箱</ng-container>
            <ng-container *ngIf="control.hasError('maxlength')">邮箱最大长度为{{maxEmailLength}}位</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>密码</nz-form-label>
        <nz-form-control [nzErrorTip]="pwdErrorTpl">
          <nz-input-group [nzSuffix]="pwdSuffix">
            <input nz-input
                   [type]="passwordVisible ? 'text' : 'password'"
                   formControlName="password"
                   [maxlength]="maxPasswordLength"
                   placeholder="{{minPasswordLength}}-{{maxPasswordLength}}位密码，字母、数字、符号组合"/>
          </nz-input-group>
          <ng-template #pwdSuffix>
            <span nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                  (click)="passwordVisible = !passwordVisible"></span>
          </ng-template>
          <ng-template #pwdErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">请输入密码</ng-container>
            <ng-container *ngIf="control.hasError('minlength')">密码最小长度为{{minPasswordLength}}位</ng-container>
            <ng-container *ngIf="control.hasError('maxlength')">密码最大长度为{{maxPasswordLength}}位</ng-container>
            <ng-container *ngIf="control.hasError('pattern')">密码为{{minPasswordLength}}-{{maxPasswordLength}}位字母、数字、符号的组合</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <div class="auth-actions">
          <div></div>
          <div>
            <button nz-button nzType="primary" (click)="register()" [nzLoading]="regLoading">注册</button>
          </div>
        </div>
      </nz-form-item>
    </form>
  </div>
</div>
