:root {
  --code-base-color: #c9d1d9;
  --code-base-bg-color: #0d1117;
  --code-keyword-color: #ff7b72;
  --code-function-color: #d2a8ff;
  --code-attr-color: #79c0ff;
  --code-string-color: #a5d6ff;
  --code-symbol-color: #ffa657;
  --code-formula-color: #8b949e;
  --code-quote-color: #7ee787;
  --code-subst-color: #c9d1d9;
  --code-section-color: #1f6feb;
  --code-bullet-color: #f2cc60;
  --code-emphasis-color: #c9d1d9;
  --code-strong-color: #c9d1d9;
  --code-addition-color: #aff5b4;
  --code-addition-bg-color: #033a16;
  --code-deletion-color: #ffdcd7;
  --code-deletion-bg-color: #67060c;
}
