<nz-modal nzDraggable
          nzCentered
          [nzVisible]="visible"
          [nzWidth]="392"
          [nzBodyStyle]="{ display: 'flex' }"
          [nzFooter]="null"
          (nzOnCancel)="closeModal()"
          (nzOnOk)="closeModal()">
  <ng-container *nzModalContent>
    <nz-qrcode *ngIf="shareUrl"
               [nzSize]="320"
               [nzPadding]="0"
               [nzBordered]="false"
               [nzValue]="shareUrl"
               nzIcon="/favicon.png"
               [nzIconSize]="80"
               nzLevel="H"></nz-qrcode>
  </ng-container>
</nz-modal>
